.cmp-signPost .cmp-signPost__content-copy-wrapper p:first-child::first-letter{
	text-transform:capitalize;
}
.cmp-signPost .cmp-vehicleSummaryGridContext{
    display: none;
}
.cmp-vehicleSummary .cmp-vehicleSummary__content p:first-child::first-letter {
    text-transform:capitalize;
}
.cmp-vehicleSummary .cmp-signpostGridContext{
    display: none;
}
.cmp-signPost {
    display: flex;
    flex-direction: row;
    max-height: 357px;
    min-height: 357px;
    justify-content: space-between;
    padding: 60px;
}
.cmp-signpostGridContext{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.cmp-signPost.hideOnInit {
    display: none;
}
.cmp-signPost.right .cmp-signPost__content {
    order: 1;
}
.cmp-signPost.right .cmp-signPost__image {
    order: 2;
}
.cmp-signPost.left .cmp-signPost__content {
    order: 2;
    
}
.cmp-signPost.left .cmp-signPost__center {
    padding-left: 20px;
    padding-right: 0;
    width: 100%;
}
.cmp-signPost.left .cmp-signPost__image {
    order: 1;
}
.cmp-signPost__content {
    order: 1;
    width: 40%;
    box-sizing: border-box;
    flex-grow: 0;
    flex-shrink: 0;
    position: relative;
}

.cmp-signPost__center{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    padding-right: 20px;
    width: 100%;
}
/* .cmp-signPost.right .cmp-signPost__center{
    padding-right: 40px;
    transform: translate(0px, -50%);
} */
.cmp-signPost__content .fontH3 {
    margin-bottom: 0;
}
.cmp-signPost__content .fontBodyCopy {
    margin-top: 15px;
    max-width: 600px;
}
.cmp-signPost__content .primaryLinkWithStyle {
    margin-top: 35px;
    text-transform: uppercase;
}
.right .cmp-signPost__content {
    padding-left: 0px;
    padding-right: 30px;
}
.cmp-signPost__image {
    order: 2;
    width: 60%;
    box-sizing: border-box;
    flex-grow: 0;
    flex-shrink: 0;
    position: relative;
    max-height: 366px;
}
.cmp-signPost__picture {
    width: 100%;
    height: 100%;
    position: absolute;
}
#landrover .cmp-signPost .primaryLinkWithStyle{
    margin-top: 15px;
}
@media screen and (min-width: 1px) and (max-width: 767px) {
    .cmp-signPost {
        flex-direction: column;
        max-height: 100%;
        padding: 30px;
    }
    .cmp-signpostGridContext {
        
        flex-direction: column;
    }
    .cmp-signPost__image,
    .cmp-signPost__content {
        flex-basis: auto;
        width: 100%;
    }
    .cmp-signPost__content {
        order: 2;
        padding: 16px 0px 20px;
    }
    .cmp-signPost__content,
    .right .cmp-signPost__content {
        padding: 16px 0px 20px;
    }
    .cmp-signPost__content .primaryLinkWithStyle {
        margin-top: 28px;
    }
    .cmp-signPost__image {
        order: 1;
        height: 48.8vw;
    }
    .cmp-signPost.right .cmp-signPost__content {
        order: 2;
    }
    .cmp-signPost.right .cmp-signPost__image {
        order: 1;
    }
    .cmp-signPost.right .cmp-signPost__center {
        padding-right: 0;
        transform: none;
    }
}
@media screen and (min-width: 1px) and (max-width: 740px) {
    .cmp-signPost__content{
        position: inherit;
    }
    .cmp-signPost__center {
        margin: 0;
        position: inherit;
        top: 0;
        left: 0;
        transform: none;
    }
    .cmp-signPost__content {
        padding: 16px 0px 20px;
    }
    .cmp-signPost__content,
    .right .cmp-signPost__content {
        padding: 16px 0px 20px;
    }
    .cmp-signPost__content .fontBodyCopy {
        margin-top: 5px;
    }
    
}
.cmp-signPost.cmp-signPost-auto {
    max-height: none;
}

.cmp-signPost.cmp-signPost-auto .cmp-signPost__content .fontBodyCopy {
    margin-top: 10px;
}
.cmp-signPost.cmp-signPost-auto .cmp-signPost__content-from {
    display: flex;
    align-items: baseline;
    margin-top: 10px;
}
.cmp-signPost.cmp-signPost-auto .cmp-signPost__content-from-label {
    font-family: "avenir", "arial", "helvetica", sans-serif;
    font-size: 1.1rem;
    font-weight: 600;
    letter-spacing: 0.11rem;
    color: #0c121c;
    margin-right: 10px;
    color: #0c121c;
}
.cmp-signPost.cmp-signPost-auto .cmp-signPost__content-from-amount {
    font-size: 3rem;
    letter-spacing: 0.1rem;
    color: #0c121c;
}
.cmp-signPost.cmp-signPost-auto .linkContainer .primaryLinkWithStyle {
    margin-top: 15px;
}
.cmp-signPost.cmp-signPost-auto .linkContainer .secondaryLinkWithStyle {
    margin-top: 20px;
}
.cmp-signPost.cmp-signPost-auto .cmp-signPost__content-from + .linkContainer .primaryLinkWithStyle {
    margin-top: 10px;
}
.cmp-signPost.cmp-signPost-auto .cmp-signPost__content-caveat {
    margin-top: 50px;
}
@media screen and (min-width: 768px) and (max-width: 900px) {
    .cmp-signPost {      
        padding: 30px;
        min-height: 250px;
    }
    .cmp-signPost__content{
        width: 52%;
        height: 100%;
    }
    .cmp-signPost__image {       
        width: 340px;
    height: 191px;
    min-height: 191px;       
    }
    .cmp-signPost__picture {
        width: 100%;
        height: 100%;
        position: absolute;
    }
}
@media screen and (min-width: 1px) and (max-width: 767px) {
    .cmp-signPost.cmp-signPost-auto {
        flex-direction: column;
    }
    .cmp-signPost.cmp-signPost-auto .cmp-signPost__content {
        padding-bottom: 40px;
    }
    .cmp-signPost.cmp-signPost-auto .cmp-signPost__content .fontBodyCopy {
        margin-right: 60px;
    }
    .cmp-signPost.cmp-signPost-auto .linkContainer .primaryLinkWithStyle {
        margin-top: 30px;
    }
    .cmp-signPost.cmp-signPost-auto .cmp-signPost__content-from,
    .cmp-signPost.cmp-signPost-auto .cmp-signPost__content-caveat {
        align-self: flex-end;
    }
    .cmp-signPost.cmp-signPost-auto .cmp-signPost__content-copy-wrapper,
    .cmp-signPost.cmp-signPost-auto .cmp-signPost__content-footer {
        display: flex;
    }
    .cmp-signPost.cmp-signPost-auto .cmp-signPost__content-footer {
        justify-content: space-between;
    }
}
@media screen and (min-width: 1px) and (max-width: 740px) {
    .cmp-signPost.cmp-signPost-auto .cmp-signPost__content {
        padding-bottom: 30px;
    }
    .cmp-signPost.cmp-signPost-auto .cmp-signPost__content .fontBodyCopy {
        margin-top: 5px;
        margin-right: 0;
    }
    .cmp-signPost.cmp-signPost-auto .cmp-signPost__content-copy-wrapper,
    .cmp-signPost.cmp-signPost-auto .cmp-signPost__content-footer {
        display: block;
    }
    .cmp-signPost.cmp-signPost-auto .cmp-signPost__content-from + .linkContainer .primaryLinkWithStyle {
        margin-top: 25px;
    }
    .cmp-signPost.cmp-signPost-auto .cmp-signPost__content-caveat {
        margin-top: 40px;
    }
}
.cmp-signPost__content-headers {
    display: flex;
    flex-direction: column;
    text-transform:uppercase;
}
.cmp-signPost__content-headers .cmp-signPost__content-title,
.cmp-signPost__content-headers .cmp-signPost__content-subtitle {
    margin-bottom: 10px;
}
.cmp-signPost__content-headers .subtitleWrapper {
    font-size: 1.4rem;
    letter-spacing: 0.12rem;
    color: rgba(12, 18, 28, 0.7);
}
.cmp-signPost[data-subtitle-positioning="above"] .cmp-signPost__content-headers {
    flex-direction: column-reverse;
}
.no-js .cmp-signPost.hideOnInit {
    display: flex;
}
.cmp-signPost.cmp-signPost-auto .cmp-signPost__content-from-amount {
    font-family: "lr_ot4", "arial", "helvetica", sans-serif;
    font-weight: 600;
}
.cmp-signPost.dark .subtitleWrapper {
    color: rgba(228, 232, 232, 0.7);
}
.cmp-signPost.dark .cmp-signPost__content-from-label,
.cmp-signPost.dark .cmp-signPost__content-from-amount {
    color: #e4e8e8;
}
@media screen and (max-width: 375px) {
    .cmp-signPost {      
        padding: 25px;
    }
    .cmp-signPost.cmp-signPost-auto {
        flex-direction: column;
    }
    .cmp-signPost.cmp-signPost-auto .cmp-signPost__content {
        padding: 30px 0;
    }
    .cmp-signPost.right .cmp-signPost__center {
        padding-right: 0;
        transform: none;
    }
}


.cmp-signPost .cmp-vehicleSummaryGridContext{
    display: none;
}
.cmp-vehicleSummary .cmp-signpostGridContext{
    display: none;
}
.cmp-signPost ul {
	list-style-type: none;
	padding-left: 1em;
	line-height: 21px;
    margin-top: 24px;
    margin-bottom: 15px;
  }
  
  .cmp-signPost ul li:before {
	content: '\2013';
	position: absolute;
	margin-left: -16px;
  }


  .cmp-vehicleSummary ul {
	list-style-type: none;
	padding-left: 1em;
	line-height: 21px;
    margin-top: 36px;
    margin-bottom: 24px;
  }
  
  .cmp-vehicleSummary ul li:before {
	content: '\2013';
	position: absolute;
	margin-left: -16px;
  }

.cmp-vehicleSummary {
    position: relative;
    width: 100%;
    display: block;
    padding: 60px;
}

.cmp-vehicleSummary .cmp-vehicleSummary__image {        
    order: 2;
    flex-grow: 0;
flex-shrink: 0;
position: relative;
min-height: 428px;
height: 493px;
    width: 875px;
}

.cmp-vehicleSummary .cmp-vehicleSummaryGridContext {
    min-height: 320px;
    position: initial;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.cmp-vehicleSummary .BazaarVoiceRating {
    margin: 39px 0 24px
}

.cmp-vehicleSummary .summaryItemList+.BazaarVoiceRating {
    padding-top: 15px;
    margin-top: 0
}

.cmp-vehicleSummary .cmp-vehicleSummary__content {
    order:1;
    width: 25%;
    flex-grow: 0;
    flex-shrink: 0;
    padding-left: 0px;
}


.cmp-vehicleSummary .cmp-vehicleSummary__content p {
    margin-top: 3px;
}

.cmp-vehicleSummary .cmp-vehicleSummary__header {
    margin-bottom: 8px;
    text-transform:uppercase;
}

.cmp-vehicleSummary .cmp-vehicleSummary__price {
    margin-bottom: 18px;
    margin-top: 0;
    line-height: 1;
    font-size: 11px;
    letter-spacing: 1.5px;
    font-family: "avenir", "arial", "helvetica", sans-serif;
    font-weight: normal
}

.cmp-vehicleSummary .cmp-vehicleSummary__list {
    margin-top: 36px;
    margin-bottom: 24px
}

.cmp-vehicleSummary .cmp-vehicleSummary__list li {
    margin-bottom: 6px
}

.cmp-vehicleSummary .SpecificationsAtAGlance {
    overflow: hidden;
    *zoom: 1;
    text-align: left;
    margin-top: 24px
}

.cmp-vehicleSummary .SpecificationsAtAGlance .items {
    margin-right: -12px
}

.cmp-vehicleSummary .SpecificationsAtAGlance .el {
    float: left;
    width: 33.333%;
    padding: 0 12px 0 0
}

.cmp-vehicleSummary .SpecificationsAtAGlance p {
    margin-top: 0;
    margin-bottom: 0
}

.cmp-vehicleSummary .cmp-vehicleSummary__feature {
    font-size: 10px;
    color: #4a4f54;
    margin-bottom: 12px
}

.cmp-vehicleSummary .cmp-vehicleSummary__measurement {
    margin-bottom: 0;
    border-top: 1px solid #a4a7a9;
    border-bottom: 1px solid #a4a7a9;
    padding: 12px 0;
}

.cmp-vehicleSummary .cmp-vehicleSummary__measurement .valueSmall {
    font-size: 30px;
    padding: 0;
}

.cmp-vehicleSummary .cmp-vehicleSummary__measurement .unitSmall {
    font-size: 16px;
}

.cmp-vehicleSummary.dark .cmp-vehicleSummary__feature {
    color: #e4e8e8;
}

.cmp-vehicleSummary.grey {
    color: #4a4f54;
}

.cmp-vehicleSummary.grey .SpecificationsAtAGlance .feature,
.cmp-vehicleSummary.grey .SpecificationsAtAGlance .items .el .measurement {
    color: #4a4f54;
    border-color: #a4a7a9;
}

.cmp-vehicleSummary.light {
    color: #4a4f54;
}

.cmp-vehicleSummary.light .SpecificationsAtAGlance .feature,
.cmp-vehicleSummary.light .SpecificationsAtAGlance .items .el .measurement {
    color: #4a4f54;
    border-color: #a4a7a9;
}
#landrover .cmp-vehicleSummary .cmp-vehicleSummary__secondaryLinks .secondaryLinkWithStyle:hover,
#landrover .cmp-signPost .secondaryLinkWithStyle:hover{
    color: #005a2b !important;
    text-decoration: none !important;
}


@media screen and (min-width: 1px) and (max-width: 1240px) {
    .cmp-vehicleSummary .cmp-vehicleSummary__image {
        order: 1;
        width: 70%;
        flex-grow: 0;
    flex-shrink: 0;
    position: relative;
    min-height: 428px;
    }
    .cmp-vehicleSummary .cmp-vehicleSummary__content {
        order:2;
        width: 30%;
        flex-grow: 0;
    flex-shrink: 0;
    }
    .cmp-vehicleSummary .cmp-vehicleSummary__measurement {
        padding: 6px 0
    }
    .cmp-vehicleSummary .cmp-vehicleSummary__measurement .valueSmall {
        font-size: 24px
    }
    .cmp-vehicleSummary .cmp-vehicleSummary__measurement .unitSmall {
        font-size: 14px
    }
    .cmp-vehicleSummary .SpecificationsAtAGlance {
        margin-top: 21px
    }
    .cmp-vehicleSummary .cmp-vehicleSummary__list {
        margin-top: 24px;
        margin-bottom: 12px
    }
    .cmp-vehicleSummary .cmp-vehicleSummary__feature {
        margin-bottom: 9px
    }
}

@media screen and (min-width: 1px) and (max-width: 1279px) {
    .cmp-vehicleSummary .cmp-vehicleSummaryGridContext {
        min-height: 426px
    }
}

@media screen and (min-width: 1px) and (max-width: 960px) {
    .cmp-vehicleSummary .cmp-vehicleSummary__image {
        height: 320px;
    }
    .cmp-vehicleSummary {
        padding: 30px
    }

}

@media screen and (min-width: 1px) and (max-width: 900px) {
  
    .cmp-vehicleSummary .cmp-vehicleSummaryGridContext {
        min-height: inherit
    }
    .cmp-vehicleSummary .cmp-vehicleSummary__image {
        top: auto;
        height: 100%;
        right: 0
    }
    .cmp-vehicleSummary .cmp-vehicleSummary__content {
        width: 40%;
    }
}

@media screen and (min-width: 1px) and (max-width: 800px) {
    .cmp-vehicleSummary .cmp-vehicleSummary__image {
        width: auto;
        height: 100%;
    }
}



@media screen and (min-width: 1px) and (max-width: 500px) {
    .cmp-vehicleSummary .cmp-vehicleSummary__image {
        height: 182px
    }
}

@media screen and (min-width: 1px) and (max-width: 400px) {
    .cmp-vehicleSummary .cmp-vehicleSummary__content {
        width: 100%;
        margin-top: 30px;
        padding: 0
    }
    .cmp-vehicleSummary .SpecificationsAtAGlance {
        margin-top: 36px
    }
    .cmp-vehicleSummary .SpecificationsAtAGlance .el {
        float: none;
        width: auto;
        margin-bottom: 24px
    }
    .cmp-vehicleSummary .cmp-vehicleSummary__feature {
        margin-bottom: 12px
    }
    .cmp-vehicleSummary .cmp-vehicleSummary__measurement {
        padding: 12px 0
    }
    .cmp-vehicleSummary .cmp-vehicleSummary__list {
        margin-top: 0
    }
    .cmp-vehicleSummary .cmp-vehicleSummary__measurement .valueSmall {
        font-size: 38px
    }
    .cmp-vehicleSummary .cmp-vehicleSummary__measurement .unitSmall {
        font-size: 14px
    }
}

#landrover .cmp-vehicleSummary .primaryLinkWithStyle,
#landrover .cmp-signPost .primaryLinkWithStyle {
    margin-top: 24px;
    margin-bottom: 0;
    font-family: "AvenirNext-DemiBold", "arial", "helvetica", sans-serif;
}

#landrover .cmp-vehicleSummary .secondaryLinkWithStyle,
#landrover .cmp-signPost .secondaryLinkWithStyle {
    margin-right: 10px;
    margin-top: 23px;
    margin-bottom: 0;
    display: inherit;
    font-family: "AvenirNext-DemiBold", "arial", "helvetica", sans-serif;
}

#landrover .cmp-vehicleSummary .cmp-vehicleSummary__secondaryLinks .secondaryLinkWithStyle:last-child {
    margin-bottom: 20px
}

.cmp-vehicleSummary .cmp-vehicleSummary__image .Picture {
    width: 100%;
    height: 100%;
    position: absolute;
    }
    .cmp-vehicleSummary.left .cmp-vehicleSummary__image .Picture {
        width: 100%;
    }
    .cmp-vehicleSummary.right .cmp-vehicleSummary__image{
    order:2;
    }
    .cmp-vehicleSummary.right .cmp-vehicleSummary__content{
    order:1;
    }
    .cmp-vehicleSummary.left .cmp-vehicleSummary__image{
        order:1;
        }
    .cmp-vehicleSummary.left .cmp-vehicleSummary__content{
        order:2;
        padding-right:0px;
        padding-left: 40px;
    }
    .cmp-vehicleSummary.right .cmp-vehicleSummary__image .Picture {
        width: 100% ;
    }
    #landrover .cmp-vehicleSummary .primaryLinkWithStyle:focus, #landrover.focusStylesOn [data-theme="dark"] .primaryLinkWithStyle:focus, #landrover.focusStylesOn [data-contrast="dark"] .primaryLinkWithStyle:focus
    {
     background-color: #4a4f54;
     color: #fff;
     box-shadow: 0 0 0 1px #fff, 0 0 0 2px #4a4f54, 0 0 2px 4px #4a90e2;
    }
     
    #landrover .cmp-vehicleSummary .secondaryLinkWithStyle:focus, #landrover.focusStylesOn [data-theme="dark"] .secondaryLinkWithStyle:focus, #landrover.focusStylesOn [data-contrast="dark"] .secondaryLinkWithStyle:focus {
     color: #005a2b;
     text-shadow: none;
     box-shadow: 0 0 0 1px #fff, 0 0 2px 3px #4a90e2;
    }

@media screen and (min-width: 1920px) and (max-width: 2560px) {
    .cmp-vehicleSummary {      
        padding: 60px 295px 80px;
    }
    .cmp-vehicleSummary .cmp-vehicleSummaryGridContext {
        min-height: 490px
    }
    .cmp-signPost{
        max-height: 525px;
        min-height: 525px;
        padding: 60px 290px;
    }
    .cmp-signPost__content{
        width: 50%;
    }
    .cmp-signPost__image{
        max-height: 366px;
        min-height: 366px;
        width: 650px;
    }
    .cmp-signpostGridContext{
        height: 100%;
    }
    .cmp-vehicleSummary .cmp-vehicleSummary__content{
        width: 34%;
    }
}
@media screen and (min-width: 1280px) and (max-width: 1919px) {
    .cmp-vehicleSummary {
        padding: 60px 60px 80px;
        min-height: 570px;
    }
    .cmp-signPost {
        min-height: 436px;
      }
    .cmp-vehicleSummary .cmp-vehicleSummaryGridContext {
        min-height: 428px;
    }
    
    .cmp-vehicleSummary .cmp-vehicleSummary__image{      
        height: 428px;
        width: 760px;
    }
    .cmp-vehicleSummary .cmp-vehicleSummary__content{    
        padding-right: 40px;
        width: 34%;
    }
    .cmp-signPost__image{
        width: 560px;
        height: 315px;
        min-height: 315px;
    }
    .cmp-signPost__picture{
        width: 100%;
        height: 100%;
    }
    .cmp-signPost__content{
        width: 50%;
    }
}
@media screen and (min-width: 375px) and (max-width: 768px) {
    .cmp-vehicleSummary {
        padding: 40px 30px
    }
    .cmp-vehicleSummary .cmp-vehicleSummaryGridContext {
        min-height: 326px;
        flex-direction: column;
    }
    .cmp-vehicleSummary .cmp-vehicleSummary__image {
        width: 100%;
        position: relative;
        height: 48.8vw;
        left: 0;
        right: auto;
        overflow: hidden;
        padding-left: 0;
        min-height: auto;
    }
    .cmp-vehicleSummary.left .cmp-vehicleSummary__image .Picture,
    .cmp-vehicleSummary.right .cmp-vehicleSummary__image .Picture {
        width: 100%;
        height: 100%;
        left:0;
    }
    .cmp-vehicleSummary .cmp-vehicleSummaryGridContext {
        min-height: 399px
    }
    .cmp-vehicleSummary .cmp-vehicleSummary__content {
        width: 100%;
        margin-top: 30px;
        padding: 0
    }
    .cmp-vehicleSummary.right .cmp-vehicleSummary__image {
        order: 1;
    }
}
@media screen and (max-width: 375px) {
    .cmp-vehicleSummary {
        padding: 25px;
    }
    .cmp-vehicleSummary .cmp-vehicleSummaryGridContext {
        min-height: 326px;
        flex-direction: column;
    }
    .cmp-vehicleSummary .cmp-vehicleSummary__image{
        min-height: 100px;
    }
    .cmp-vehicleSummary.left .cmp-vehicleSummary__image .Picture {
        width: 100%;
    }
    .cmp-vehicleSummary.right .cmp-vehicleSummary__image {
        order: 1;
    }
    .cmp-vehicleSummary.right .cmp-vehicleSummary__image .Picture {
        left: 0px;
        width: 100%;
    }
}
/*--------code fix for bug 566-----------*/

.cmp-vehicleSummary .plwsLight:hover, .primaryLinkWithStyle:hover{background-color: #fff!important;
    color: #0c121c!important;
    box-shadow: 0 0 0 1px #0c121c inset!important;}
.cmp-vehicleSummary .plwsLight:focus, .primaryLinkWithStyle:focus{background-color: #fff!important;
    color: #0c121c!important;
    box-shadow: 0 0 0 1px #fff, 0 0 0 2px #4a4f54, 0 0 2px 4px #4a90e2!important;}

.cmp-vehicleSummary .secondaryLinkContainer,
.cmp-signPost .secondaryLinkContainer{clear:both;}
.cmp-vehicleSummary .price{color:#4A4F54!important;}
 .cmp-vehicleSummary.grey p,  .cmp-vehicleSummary.light p,  .cmp-vehicleSummary.white p {
    color: #4A4F54;
}
.cmp-vehicleSummary.slateblue .headingWrapper{
    color:#FFF;
}
.cmp-vehicleSummary.slateblue .cmp-vehicleSummary__content .cmp-vehicleSummary__price{
    color:#FFF !important;
}



@media screen and (min-width: 1280px) and (max-width: 2560px){

.cmp-vehicleSummary.slateblue li,.cmp-vehicleSummary.slateblue p{color:#fff; font-family:"AvenirNext-Regular";}
.cmp-vehicleSummary  li , .cmp-vehicleSummary p{font-size:14px;}
.cmp-vehicleSummary .cmp-vehicleSummary__content{font-size:14px; line-height:19px;}
    .cmp-vehicleSummary .cmp-vehicleSummary__price  {margin-bottom:16px; line-height:19px!important; font-size:11px!important;}
 .cmp-vehicleSummary .headingWrapper{
	font-size:24px; 
	line-height:24px;
        color: #0C121C;
    font-family: LandRoverWeb-Bold;
            }

.cmp-vehicleSummary .cmp-vehicleSummary__content p {
    margin-top: 8px;
    text-transform: capitalize;
        line-height:19px;
        letter-spacing:0.2px;
}
.cmp-vehicleSummary ul li:before {
    content: '\2013';
    position: absolute;
    margin-left: -14px;
}
.cmp-vehicleSummary ul {
    list-style-type: none;
    padding-left: 1em;
    line-height: 19px;
    margin-top: 24px;
    margin-bottom: 24px;
}
.cmp-vehicleSummary .Picture--background .Picture__img{object-fit: unset;margin-top:5px}
.cmp-vehicleSummary .primaryLinkWithStyle{    
    /* margin-top:0!important;  */
    line-height:14px;
}
.cmp-vehicleSummary .secondaryLinkWithStyle{line-height:12.5px; margin-top: 23px!important;}

        }

@media screen and (min-width: 1px) and (max-width: 1279px){
    .cmp-vehicleSummary.left .cmp-vehicleSummary__content{padding-left:0!important;}
    .cmp-vehicleSummary .secondaryLinkWithStyle{line-height:12.5px; margin-top: 23px!important;}
.cmp-vehicleSummary .cmp-vehicleSummaryGridContext {
    min-height: 426px;
    display: block;
}
            .cmp-vehicleSummary .Picture--background .Picture__img{object-fit: unset;}
        }

@media screen and (min-width: 1401px){
.cmp-vehicleSummary .summaryItemContent {
    padding-top: 0px; 
 }}
  @media screen and (min-width: 768px) and (max-width: 1279px){

 .cmp-vehicleSummary .cmp-vehicleSummary__price  {margin-bottom:16px; line-height:19px;}

.cmp-vehicleSummary .cmp-vehicleSummary__image{width:100%;}

 .cmp-vehicleSummary .headingWrapper{
	font-size:21px; 
	line-height:21px;
    color: #0C121C;
    font-family: LandRoverWeb-Bold;
}
  .cmp-vehicleSummary .cmp-vehicleSummary__content {
    width: 100%;
    margin-top: 24px!important;
    padding: 0;
}
   .cmp-vehicleSummary ul {
    list-style-type: none;
    padding-left: 1em;
    line-height: 19px;
    margin-top: 24px!important;
    margin-bottom: 24px!important;
}
.cmp-vehicleSummary .linkContainer{padding-top:0}
.cmp-vehicleSummary .primaryLinkWithStyle { margin-bottom:0px!important;}
.cmp-vehicleSummary{ padding:40px 30px 60px 30px;} 
}
@media screen and (min-width: 320px) and (max-width: 767px){
.cmp-vehicleSummary{ padding:25px 25px 42px 25px;}
.cmp-vehicleSummary .Picture__img{width:100%;min-width:325px;}
.cmp-vehicleSummary .summaryItemContent {width:325px;}
  .cmp-vehicleSummary .Picture--background .Picture__img{
    object-fit: cover;
    object-position: center;      
}
.cmp-vehicleSummary .cmp-vehicleSummary__content {
    margin-top: 16px;
}
 .cmp-vehicleSummary .headingWrapper{
	font-size:20px; 
	line-height:20px;
  color: #0C121C;
  font-family: LandRoverWeb-Bold;
}
        .cmp-vehicleSummary .secondaryLinkWithStyle{line-height:12.5px; margin-top: 23px!important;}
.cmp-vehicleSummary .cmp-vehicleSummary__content p{margin-top:8px;}
.cmp-vehicleSummary .cmp-vehicleSummary__price{margin-bottom:16px; line-height:19px;}
.cmp-vehicleSummary ul{margin-top:12px; margin-bottom:24px;}
.cmp-vehicleSummary .primaryLinkWithStyle { margin-bottom:0!important;}
.cmp-vehicleSummary .linkContainer{padding-top:0;margin-top:0;}
  }

.cmp-vehicleSummary .cmp-vehicleSummary__secondaryLinks .secondaryLinkWithStyle:last-child {
    margin-bottom: 0!important;
}
/*--------code fix for bug 566-----------*/

  
      /*------code fix for bug 584-----*/
 .cmp-signPost.grey p, .cmp-signPost.light p,  .cmp-signPost.white p, .cmp-signPost p {
    color: #4A4F54;
}
.cmp-signPost p a{
    color: #4A4F54;
}
@media screen and (min-width: 1920px) and (max-width: 2560px){
.cmp-signPost.white + .cmp-signPost.white{padding:0px 290px 60px 290px;}
.cmp-signPost.grey + .cmp-signPost.grey{padding:0px 290px 60px 290px;}
.cmp-signPost.light + .cmp-signPost.light{padding:0px 290px 60px 290px;}
.cmp-signPost.slateblue  + .cmp-signPost.slateblue {padding:0px 290px 60px 290px;}
    .cmp-signPost .cmp-signPost__image {height: calc((40.3vw - 40px) / 2)!important;}
    .cmp-signPost .Picture--background .Picture__img{width:100%;}
    .cmp-signPost__content-headers .cmp-signPost__content-title, .cmp-signPost__content-headers .cmp-signPost__content-subtitle{margin-bottom:0!important;}
	  .cmp-signPost .primaryLinkWithStyle{margin-top:24px; line-height:14px;}

    .cmp-signPost .cmp-signPost__image{
     width:50%; padding-bottom:5px;
  }
.cmp-signPost__content-copy-wrapper p{font-size:14px; line-height:19px;color:#4A4F54}
  .cmp-signPost__content .fontH3{line-height:24px;font-family:LandRoverWeb-Bold;}
.cmp-signPost .cmp-signPost__center{
    top:0;
    transform:none;
    padding-right: 20px;
    padding-left: 0;
    }
    .cmp-signPost.center .cmp-signPost__center{
        top: 50%;
        transform: translate(0, -50%);
        }
 .cmp-signPost .cmp-signPost__picture {
    width: 100%!important;
    height: 100%;
    margin-top:4px;
}

 .cmp-signPost .cmp-signPost__content .fontBodyCopy{
	margin-top:16px;
   }

 .cmp-signPost  .cmp-signPost__content-copy-wrapper{
margin-bottom:10px;
  }
 .cmp-signPost .linkContainer{padding-top:0px;}
 .cmp-signPost{min-height:auto;max-height:525px;}
 .cmp-signPost.left .cmp-signPost__image{
    padding-right: 20px;
    padding-left: 0;
}
.cmp-signPost picture.cmp-signPost__image{
    padding-left: 20px;
    padding-right:0;
}
.cmp-signPost.left .cmp-signPost__center{
    padding-left: 20px;
    padding-right:0;
}
}

@media screen and (min-width: 1280px) and (max-width: 1919px){
.cmp-signPost.white + .cmp-signPost.white{padding:0px  60px 60px  60px;}
.cmp-signPost.grey + .cmp-signPost.grey{padding:0px 60px 60px  60px;}
.cmp-signPost.light + .cmp-signPost.light{padding:0px 60px 60px  60px;}
.cmp-signPost.slateblue  + .cmp-signPost.slateblue {padding:0px 60px 60px  60px;}
.cmp-signPost .cmp-signPost__image {height:calc((52.4vw - 40px) / 2)}
.cmp-signPost .Picture--background .Picture__img{width:100%;}
    
.cmp-signPost{min-height:auto; max-height:525px;}
.cmp-signPost__content-headers .cmp-signPost__content-title, .cmp-signPost__content-headers .cmp-signPost__content-subtitle{margin-bottom:0!important;}
.cmp-signPost .primaryLinkWithStyle{margin-top:24px; line-height:14px;}

.cmp-signPost .cmp-signPost__image{
     width:50%;   padding-bottom:5px;   }
.cmp-signPost__content-copy-wrapper p{font-size:14px; line-height:19px;color:#4A4F54}
  .cmp-signPost__content .fontH3{line-height:24px;font-family:LandRoverWeb-Bold;}
.cmp-signPost .cmp-signPost__center{
    top:0;
    transform:none;
    padding-right: 20px;
    padding-left: 0;
    }
     .cmp-signPost.center .cmp-signPost__center{
        top: 50%;
        transform: translate(0, -50%);
        }
 .cmp-signPost .cmp-signPost__picture {
    width: 100%!important;
    height: 100%;
    margin-top:4px;
}

 .cmp-signPost .cmp-signPost__content .fontBodyCopy{
	margin-top:16px;
   }

 .cmp-signPost  .cmp-signPost__content-copy-wrapper{
margin-bottom:10px;
  }
 .cmp-signPost .linkContainer{padding-top:0px;}
 .cmp-signPost.left .cmp-signPost__image{
    padding-right: 20px;
    padding-left: 0;
}
.cmp-signPost picture.cmp-signPost__image{
    padding-left: 20px;
    padding-right:0;
}
.cmp-signPost.left .cmp-signPost__center{
    padding-left: 20px;
    padding-right:0;
}
}

 @media screen and (min-width: 768px) and (max-width: 1279px){
    .cmp-signPost.white + .cmp-signPost.white{padding:0px  30px 68px  30px;}
    .cmp-signPost.grey + .cmp-signPost.grey{padding:0px  30px 68px  30px;}
    .cmp-signPost.light + .cmp-signPost.light{padding:0px  30px 68px  30px;}
    .cmp-signPost.slateblue  + .cmp-signPost.slateblue {padding:0px  30px 68px  30px;}
    .cmp-signPost .cmp-signPost__image {height:calc((55.1vw - 40px) / 2);}
    .cmp-signPost .Picture--background .Picture__img{width:100%;}
    .cmp-signPost{min-height:auto; max-height:525px;}

    .cmp-signPost{padding:49px 30px 68px 30px;}
    .cmp-signPost .cmp-signPost__center{
    top:0;
    transform:none;
    padding-right: 14px;
    padding-left: 0;
    }
    .cmp-signPost.center .cmp-signPost__center{
        top:50%;
        transform: translate(0, -50%);   
        }
    .cmp-signPost__content-headers .cmp-signPost__content-title, .cmp-signPost__content-headers .cmp-signPost__content-subtitle{margin-bottom:0!important;}
    .cmp-signPost .primaryLinkWithStyle{margin-top:24px; line-height:14px;}
.cmp-signPost .cmp-signPost__image{width:50%;}
 .cmp-signPost .cmp-signPost__picture {
    width: 100%!important;
    height: 100%;
    margin-top:5px;
}
.cmp-signPost p{font-size:14px; line-height:19px; letter-spacing:0.2px;}

 .cmp-signPost .Picture--background .Picture__img{
object-fit: unset;
  }
.cmp-signPost .cmp-signPost__content{width:50%;}
.cmp-signPost .cmp-signPost__content .fontBodyCopy{margin-top:16px;}
.cmp-signPost .linkContainer{padding-top:0px;}
.cmp-signPost.left .cmp-signPost__image{
    padding-right: 14px;
    padding-left: 0;
}
.cmp-signPost picture.cmp-signPost__image{
    padding-left: 14px;
    padding-right:0;
}
.cmp-signPost.left .cmp-signPost__center{
    padding-left: 14px;
    padding-right:0;
}

}

@media screen and (min-width: 300px) and (max-width: 767px){
.cmp-signPost.white + .cmp-signPost.white{padding:0px  25px 60px  25px;}
.cmp-signPost.grey + .cmp-signPost.grey{padding:0px  25px 60px  25px;}
.cmp-signPost.light + .cmp-signPost.light{padding:0px  25px 60px  25px;}
.cmp-signPost.slateblue  + .cmp-signPost.slateblue {padding:0px  25px 60px  25px;}
.cmp-signPost{min-height:auto; max-height:525px;}
.cmp-signPost{padding:25px 25px 60px 25px;}

    .cmp-signPost .cmp-signPost__image {height: calc((108.3vw - 40px) / 2);}
    .cmp-signPost .Picture--background .Picture__img{width:100%;}
    .cmp-signPost{min-height:auto; max-height:525px;}
   .cmp-signPost .headingWrapper{font-family:LandRoverWeb-Bold; font-size:20px; line-height:24px; letter-spacing:0.9px;}
 .cmp-signPost__content p{line-height:19px;font-size:14px; letter-spacing:0.2px}
  .cmp-signPost .primaryLinkWithStyle{margin-top:24px; line-height:14px; letter-spacing:3px;}

.cmp-signPost .linkContainer {
    margin-top: 0;
}
.cmp-signPost.left .cmp-signPost__center{padding-left:0;}
.cmp-signPost__content-headers .cmp-signPost__content-title, .cmp-signPost__content-headers .cmp-signPost__content-subtitle{margin-bottom:11px;}
.cmp-signPost .fontBodyCopy{margin-top:0;}
    }

.cmp-signPost .Picture--background .Picture__img{
object-fit: unset;
  }

  /*------code fix for bug 584----- new code*/

