.cmp-signPost {
    display: flex;
    flex-direction: row;
    max-height: 357px;
    min-height: 357px;
    justify-content: space-between;
    padding: 60px;
}
.cmp-signpostGridContext{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.cmp-signPost.hideOnInit {
    display: none;
}
.cmp-signPost.right .cmp-signPost__content {
    order: 1;
}
.cmp-signPost.right .cmp-signPost__image {
    order: 2;
}
.cmp-signPost__content {
    order: 2;
    /* width: calc(((100% - 140px) * (0.33333)) + (90px)); */
    width: 50%;
    box-sizing: border-box;
    flex-grow: 0;
    flex-shrink: 0;
    /* padding-top: 72px; */
    padding-left: 40px;
    /* padding-right: 90px;
    padding-bottom: 56px; */
}
.cmp-signPost__content .fontH3 {
    margin-bottom: 0;
}
.cmp-signPost__content .fontBodyCopy {
    margin-top: 15px;
    max-width: 600px;
}
.cmp-signPost__content .primaryLinkWithStyle {
    margin-top: 35px;
    text-transform: uppercase;
}
.right .cmp-signPost__content {
    padding-left: 0px;
    padding-right: 30px;
}
.cmp-signPost__image {
    order: 1;
    /* width: calc(((100% - 140px) * (0.66666)) + (50px)); */
    width: 50%;
    box-sizing: border-box;
    flex-grow: 0;
    flex-shrink: 0;
    position: relative;
}
.cmp-signPost__picture {
    width: 100%;
    height: 100%;
    position: absolute;
}
@media screen and (min-width: 1px) and (max-width: 767px) {
    .cmp-signPost {
        flex-direction: column;
        max-height: 100%;
        padding: 30px;
    }
    .cmp-signpostGridContext {
        
        flex-direction: column;
    }
    .cmp-signPost__image,
    .cmp-signPost__content {
        flex-basis: auto;
        width: 100%;
    }
    .cmp-signPost__content {
        order: 2;
        padding: 16px 0px 20px;
    }
    .cmp-signPost__content,
    .right .cmp-signPost__content {
        padding: 16px 0px 20px;
    }
    .cmp-signPost__content .primaryLinkWithStyle {
        margin-top: 28px;
    }
    .cmp-signPost__image {
        order: 1;
        height: 48.8vw;
    }
    .cmp-signPost.right .cmp-signPost__content {
        order: 2;
    }
    .cmp-signPost.right .cmp-signPost__image {
        order: 1;
    }
}
@media screen and (min-width: 1px) and (max-width: 740px) {
    .cmp-signPost__content {
        padding: 16px 0px 20px;
    }
    .cmp-signPost__content,
    .right .cmp-signPost__content {
        padding: 16px 0px 20px;
    }
    .cmp-signPost__content .fontBodyCopy {
        margin-top: 5px;
    }
    
}
.cmp-signPost.cmp-signPost-auto {
    max-height: none;
}
/* .cmp-signPost.cmp-signPost-auto .cmp-signPost__content {
    padding-bottom: 70px;
} */
.cmp-signPost.cmp-signPost-auto .cmp-signPost__content .fontBodyCopy {
    margin-top: 10px;
}
.cmp-signPost.cmp-signPost-auto .cmp-signPost__content-from {
    display: flex;
    align-items: baseline;
    margin-top: 10px;
}
.cmp-signPost.cmp-signPost-auto .cmp-signPost__content-from-label {
    font-family: "avenir", "arial", "helvetica", sans-serif;
    font-size: 1.1rem;
    font-weight: 600;
    letter-spacing: 0.11rem;
    color: #0c121c;
    margin-right: 10px;
    color: #0c121c;
}
.cmp-signPost.cmp-signPost-auto .cmp-signPost__content-from-amount {
    font-size: 3rem;
    letter-spacing: 0.1rem;
    color: #0c121c;
}
.cmp-signPost.cmp-signPost-auto .linkContainer .primaryLinkWithStyle {
    margin-top: 15px;
}
.cmp-signPost.cmp-signPost-auto .linkContainer .secondaryLinkWithStyle {
    margin-top: 20px;
}
.cmp-signPost.cmp-signPost-auto .cmp-signPost__content-from + .linkContainer .primaryLinkWithStyle {
    margin-top: 10px;
}
.cmp-signPost.cmp-signPost-auto .cmp-signPost__content-caveat {
    margin-top: 50px;
}
@media screen and (min-width: 768px) and (max-width: 900px) {
    .cmp-signPost {      
        padding: 30px;
        min-height: 340px;
    }
    .cmp-signPost__content{
        padding-left: 28px;
    }
}
@media screen and (min-width: 1px) and (max-width: 767px) {
    .cmp-signPost.cmp-signPost-auto {
        flex-direction: column;
    }
    .cmp-signPost.cmp-signPost-auto .cmp-signPost__content {
        padding-bottom: 40px;
    }
    .cmp-signPost.cmp-signPost-auto .cmp-signPost__content .fontBodyCopy {
        margin-right: 60px;
    }
    .cmp-signPost.cmp-signPost-auto .linkContainer .primaryLinkWithStyle {
        margin-top: 30px;
    }
    .cmp-signPost.cmp-signPost-auto .cmp-signPost__content-from,
    .cmp-signPost.cmp-signPost-auto .cmp-signPost__content-caveat {
        align-self: flex-end;
    }
    .cmp-signPost.cmp-signPost-auto .cmp-signPost__content-copy-wrapper,
    .cmp-signPost.cmp-signPost-auto .cmp-signPost__content-footer {
        display: flex;
    }
    .cmp-signPost.cmp-signPost-auto .cmp-signPost__content-footer {
        justify-content: space-between;
    }
}
@media screen and (min-width: 1px) and (max-width: 740px) {
    .cmp-signPost.cmp-signPost-auto .cmp-signPost__content {
        padding-bottom: 30px;
    }
    .cmp-signPost.cmp-signPost-auto .cmp-signPost__content .fontBodyCopy {
        margin-top: 5px;
        margin-right: 0;
    }
    .cmp-signPost.cmp-signPost-auto .cmp-signPost__content-copy-wrapper,
    .cmp-signPost.cmp-signPost-auto .cmp-signPost__content-footer {
        display: block;
    }
    .cmp-signPost.cmp-signPost-auto .cmp-signPost__content-from + .linkContainer .primaryLinkWithStyle {
        margin-top: 25px;
    }
    .cmp-signPost.cmp-signPost-auto .cmp-signPost__content-caveat {
        margin-top: 40px;
    }
}
.cmp-signPost__content-headers {
    display: flex;
    flex-direction: column;
}
.cmp-signPost__content-headers .cmp-signPost__content-title,
.cmp-signPost__content-headers .cmp-signPost__content-subtitle {
    margin-bottom: 10px;
}
.cmp-signPost__content-headers .subtitleWrapper {
    font-size: 1.4rem;
    letter-spacing: 0.12rem;
    color: rgba(12, 18, 28, 0.7);
}
.cmp-signPost[data-subtitle-positioning="above"] .cmp-signPost__content-headers {
    flex-direction: column-reverse;
}
.no-js .cmp-signPost.hideOnInit {
    display: flex;
}
.cmp-signPost.cmp-signPost-auto .cmp-signPost__content-from-amount {
    font-family: "lr_ot4", "arial", "helvetica", sans-serif;
    font-weight: 600;
}
.cmp-signPost.dark .subtitleWrapper {
    color: rgba(228, 232, 232, 0.7);
}
.cmp-signPost.dark .cmp-signPost__content-from-label,
.cmp-signPost.dark .cmp-signPost__content-from-amount {
    color: #e4e8e8;
}
@media screen and (max-width: 375px) {
    .cmp-signPost {      
        padding: 25px;
    }
    .cmp-signPost.cmp-signPost-auto {
        flex-direction: column;
    }
    .cmp-signPost.cmp-signPost-auto .cmp-signPost__content {
        padding: 30px 0;
    }
}

@media screen and (min-width: 1280px) and (max-width: 1920px) {
    .cmp-signPost {      
        padding: 60px 150px;
        min-height: 530px;
    }
}
