
* {
  box-sizing: border-box;
}

/* Create four equal columns that floats next to each other */
.columnedit {
  float: left;
  width: 25%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}






.footer-container {
       
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
      }
      
      .column {
       /* Optional */
        padding: 1rem; /* Optional */
      }


.cmp_footerNav {
	position: relative;
	z-index: 1;
	padding: 0 0 40px
}

.no-js .cmp_footerNav {
	padding-bottom: 0
}

.cmp_footerNav__footerWrapper {
	overflow: hidden;
	padding: 0 70px
}

.cmp_footerNav__heading {
	font-family: "avenir", "arial", "helvetica", sans-serif;
	padding: 0 0 14px;
	margin: 0;
	-webkit-transform: translate3d(0, 0, 0);
	transform: none
}

.cmp_footerNav__heading:first-child {
	padding: 46px 0 14px
}

.cmp_footerNav__navWrapper {
	padding: 0 20px 22px
}

.cmp_footerNav__navWrapper ul {
	margin: 0;
	padding: 0 0 30px
}

.cmp_footerNav__navWrapper li {
	padding: 4px 0 5px 0
}

.cmp_footerNav__navWrapper li a {
	-webkit-transition: color .4s;
	-moz-transition: color .4s;
	-o-transition: color .4s;
	transition: color .4s;
	text-decoration: none
}

.cmp_footerNav__navWrapper li a i {
	position: relative;
	font-size: .5rem
}

.cmp_footerNav__navWrapper li a .icon-chevron-down,
.cmp_footerNav__navWrapper li a .icon-chevron-up {
	display: none;
	top: -2px;
	left: 5px
}

.cmp_footerNav__navWrapper li a i.active {
	display: inline
}

.cmp_footerNav__navWrapper li ul {
	display: none;
	margin: 0 0 0 10px
}

.cmp_footerNav__navWrapper li ul li {
	padding: 2px 0
}

.cmp_footerNav[data-total="1"] .cmp_footerNav__navWrapper {
	width: 100%
}

.cmp_footerNav[data-total="2"] .cmp_footerNav__navWrapper {
	width: 50%
}

.cmp_footerNav[data-total="3"] .cmp_footerNav__navWrapper {
	width: 33.333%
}

.cmp_footerNav.col-four .cmp_footerNav__navWrapper {
	width: 25%
}

.cmp_footerNav[data-total="5"] .cmp_footerNav__navWrapper {
	width: 20%
}

.cmp_footerNav[data-total="6"] .cmp_footerNav__navWrapper {
	width: 16.667%
}

.cmp_footerNav[data-total="7"] .cmp_footerNav__navWrapper {
	width: 14.286%
}

.cmp_footerNav[data-total="8"] .cmp_footerNav__navWrapper {
	width: 12.5%
}

.cmp_footerNav__socialLinks>ul:first-child {
	margin-top: 46px
}

.cmp_footerNav__socialLinks ul {
	margin-top: 10px
}

.cmp_footerNav__socialLinks ul li {
	padding: 0 0 10px 0
}

.cmp_footerNav__socialLinks ul li a {
	height: 50px;
	display: table
}

.cmp_footerNav__socialLinks ul li a>span {
	-webkit-transition: background-color 400ms;
	-moz-transition: background-color 400ms;
	-o-transition: background-color 400ms;
	transition: background-color 400ms;
	width: 50px;
	height: 50px;
	line-height: 5rem;
	display: block;
	font-size: 2.3rem;
	text-align: center
}

.cmp_footerNav__socialLinks ul li a strong {
	display: table-cell;
	vertical-align: middle;
	padding-left: 11px
}

.cmp_footerNav__socialLinks ul .icon-social_facebook:before {
	margin-top: -4px
}

.cmp_footerNav__socialLinks ul .icon-social_google:before {
	margin-top: -1px;
	margin-left: 8.6px;
	font-size: 2.7rem
}

.cmp_footerNav__socialLinks ul .icon-social_vkontakt:before {
	margin-top: 4px
}

.cmp_footerNav__socialLinks ul .icon-social_sinaweibo:before {
	margin-top: -1px
}

.cmp_footerNav__socialLinks ul .icon-social_pinterest:before {
	margin-top: -2px
}

.cmp_footerNav__socialLinks ul .icon-social_linkedin:before,
.cmp_footerNav__socialLinks ul .icon-social_instagram:before,
.cmp_footerNav__socialLinks ul .icon-social_blogger:before,
.cmp_footerNav__socialLinks ul .icon-social_renren:before,
.cmp_footerNav__socialLinks ul .icon-social_douban:before,
.cmp_footerNav__socialLinks ul .icon-social_jaguarapp:before,
.cmp_footerNav__socialLinks ul .icon-social_lrapp:before {
	margin-top: -5px
}

.cmp_footerNav__socialLinks ul .icon-social_tumblr:before {
	margin-top: -6px
}

.cmp_footerNav__socialLinks ul .icon-social_wechat:before {
	margin-top: -2px
}

.cmp_footerNav__socialLinks ul .icon-social_youtube {
	font-size: 2.9rem;
	line-height: 4.5rem
}

.cmp_footerNav__socialLinks ul .icon-social_youtube:before {
	margin-top: 0
}

.cmp_footerNav .socialLinksFloat {
	width: auto !important;
	clear: both !important;
	display: block !important;
	padding-top: 0px
}

.cmp_footerNav .socialLinksFloat ul {
	margin-top: 15px
}

.cmp_footerNav .socialLinksFloat ul li {
	margin-right: 6px;
	width: 55px;
	float: left
}

.cmp_footerNav .socialLinksFloat ul li a {
	text-indent: -9999px
}

.cmp_footerNav__evidon-link a:hover,
.cmp_footerNav__trustarc-link a:hover {
	text-decoration: underline
}

@media screen and (min-width: 901px) {
	.cmp_footerNav__evidon-link a,
	.cmp_footerNav__trustarc-link a {
		margin: 0 19px 16px;
		padding: 16px 0 0 !important
	}
	.cmp_footerNav__evidon-link a:hover,
	.cmp_footerNav__trustarc-link a:hover {
		margin-bottom: 15px;
		text-decoration: none
	}
}

.cmp_footerNav__hygieneLinks {
	width: 100%;
	position: absolute;
	bottom: 0;
	padding: 0 70px 0
}

.cmp_footerNav__hygieneLinks:after {
	content: "";
	clear: both;
	display: table
}

.no-js .cmp_footerNav__hygieneLinks {
	position: static
}

.cmp_footerNav__hygieneLinks li {
	float: left
}

.cmp_footerNav__hygieneLinks li a {
	display: inline-block;
	padding: 16px 20px;
	text-decoration: none;
	-webkit-transition: background-color 400ms ease-out;
	-moz-transition: background-color 400ms ease-out;
	-o-transition: background-color 400ms ease-out;
	transition: background-color 400ms ease-out;
	-webkit-transition: color 400ms ease-out;
	-moz-transition: color 400ms ease-out;
	-o-transition: color 400ms ease-out;
	transition: color 400ms ease-out
}

.cmp_footerNav__hygieneLinks li a.toggleHandle {
	display: none;
	position: relative
}

.cmp_footerNav__hygieneLinks li a.toggleHandle:after {
	content: "";
	font-family: "icons";
	font-style: normal;
	font-weight: normal;
	speak: none;
	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	margin-right: .2em;
	text-align: center;
	font-variant: normal;
	text-transform: none;
	line-height: 1em;
	margin-left: .2em;
	vertical-align: middle;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	letter-spacing: 0;
	position: relative;
	padding-left: 6px;
	top: -1px
}

.cmp_footerNav__hygieneLinks li.cmp_footerNav__selectMarket>a {
	padding-left: 50px;
	display: block
}

.cmp_footerNav__hygieneLinks li.cmp_footerNav__selectMarket>a .countryCode {
	display: none
}

.cmp_footerNav__hygieneLinks li.cmp_footerNav__selectMarket>a .flag {
	position: absolute;
	top: 15px;
	left: 20px
}

.cmp_footerNav__hygieneLinks li.cmp_footerNav__selectMarket .primaryLinkWithStyle {
	display: inline-flex
}

.cmp_footerNav__hygieneLinks li.cmp_footerNav__selectMarket div.DropdownSelect .selected[data-val="lang-العربية"],
.cmp_footerNav__hygieneLinks li.cmp_footerNav__selectMarket div.DropdownSelect ul li[data-val="lang-العربية"] {
	letter-spacing: 0
}

.cmp_footerNav__hygieneLinks li ul.toggleContent {
	float: left
}

.cmp_footerNav__hygieneLinks li ul.toggleContent li {
	float: left
}

.cmp_footerNav__hygieneLinks li.open a.toggleHandle:after {
	content: "";
	font-family: "icons";
	font-style: normal;
	font-weight: normal;
	speak: none;
	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	margin-right: .2em;
	text-align: center;
	font-variant: normal;
	text-transform: none;
	line-height: 1em;
	margin-left: .2em;
	vertical-align: middle;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	letter-spacing: 0
}

.cmp_footerNav__hygieneLinks li.open .toggleContent {
	display: block
}

.cmp_footerNav .cmp_footerNav__marketSelectorContainer {
	display: none;
	position: absolute;
	bottom: 40px;
	width: 320px;
	padding: 20px
}

.cmp_footerNav .cmp_footerNav__marketSelectorContainer.open {
	display: block
}

.cmp_footerNav .cmp_footerNav__marketSelectorContainer .dxDropdown {
	width: 100%;
	margin-bottom: 20px
}

.cmp_footerNav .cmp_footerNav__marketSelectorContainer .dxDropdown__heading {
	display: none
}

.cmp_footerNav .cmp_footerNav__marketSelectorContainer .dxDropdown__list {
	max-height: 310px;
	overflow-y: auto
}

.cmp_footerNav .cmp_footerNav__marketSelectorContainer .dxDropdown__list-item {
	float: none
}

.cmp_footerNav .cmp_footerNav__marketSelectorContainer .dxDropdown__list-item-link {
	display: flex !important;
	align-items: center
}

.cmp_footerNav .cmp_footerNav__marketSelectorContainer .dxDropdown__list-item-link-inner {
	flex-grow: 1
}

.cmp_footerNav .cmp_footerNav__marketSelectorContainer .dxDropdown__button .MarketSelector__flag {
	display: none
}

.cmp_footerNav .cmp_footerNav__marketSelectorContainer .dxDropdown--disabled {
	pointer-events: none
}

.cmp_footerNav .cmp_footerNav__marketSelectorContainer .dxDropdown--disabled .dxDropdown__button {
	cursor: default;
	border: 1px solid #e4e4e4;
	color: #bbbbbb;
	background-color: #f9f9f9
}

.cmp_footerNav .cmp_footerNav__marketSelectorContainer .dxDropdown--disabled .dxDropdown__button::before {
	right: 16px
}

.cmp_footerNav .cmp_footerNav__marketSelectorContainer .dxDropdown--disabled .dxDropdown__button:focus,
.cmp_footerNav .cmp_footerNav__marketSelectorContainer .dxDropdown--disabled .dxDropdown__button:hover {
	border: 1px solid #e4e4e4;
	padding: 15px 35px 15px 14px;
	color: #bbbbbb
}

.cmp_footerNav .cmp_footerNav__marketSelectorContainer .MarketSelector__submit-wrapper {
	width: 100%;
	padding: 0;
	max-width: none
}

.cmp_footerNav .cmp_footerNav__marketSelectorContainer .MarketSelector__continue-button {
	margin: 0;
	width: 100%;
	font-size: 1rem;
	padding: 13px 23px 11px
}

.cmp_footerNav .cmp_footerNav__marketSelectorContainer .MarketSelector__continue-button:disabled {
	background-color: #fff !important;
	color: #e4e4e4 !important
}

.cmp_footerNav .cmp_footerNav__marketSelectorContainer .MarketSelector__secondary-link-wrapper {
	display: none
}

@media screen and (min-width: 1px) and (max-width: 900px) {
	.cmp_footerNav__footerWrapper {
		overflow: hidden
	}
	.cmp_footerNav__marketSelectorContainer {
		width: 100%
	}
	.cmp_footerNav__marketSelectorContainer .col {
		margin: 0 auto
	}
	.cmp_footerNav__marketSelectorContainer .formButton {
		margin: 0 auto
	}
	.cmp_footerNav__navWrapper {
		padding: 0 0 22px
	}
	.cmp_footerNav__navWrapper ul {
		padding-left: 20px
	}
	.cmp_footerNav__navWrapper:nth-child(3) .cmp_footerNav__heading,
	.cmp_footerNav__navWrapper:nth-child(3) ul {
		padding-left: 10px
	}
	.cmp_footerNav__heading {
		padding-left: 20px
	}
	.cmp_footerNav__heading:first-child {
		padding-left: 20px
	}
	.cmp_footerNav__socialLinks .cmp_footerNav__heading {
		display: block;
		float: none
	}
	.cmp_footerNav__socialLinks ul {
		margin-top: 9px
	}
	.cmp_footerNav__socialLinks ul ul {
		margin: 0;
		padding-left: 0
	}
	.cmp_footerNav__socialLinks li {
		margin-right: 6px;
		width: 55px
	}
	.cmp_footerNav__socialLinks li:last-child {
		margin-right: 0
	}
	.cmp_footerNav__hygieneLinks {
		padding-left: 20px
	}
	.cmp_footerNav__hygieneLinks li a.toggleHandle {
		display: block
	}
	.cmp_footerNav__hygieneLinks li .toggleContent {
		display: none
	}
	.cmp_footerNav__hygieneLinks li.open .toggleContent {
		position: absolute;
		width: 100%;
		left: 0;
		bottom: 40px
	}
	.cmp_footerNav__hygieneLinks li.open .toggleContent li {
		float: none;
		width: 100%
	}
	.cmp_footerNav__hygieneLinks li.open .toggleContent li a {
		display: block
	}
	.no-js .cmp_footerNav__hygieneLinks {
		height: auto;
		overflow: hidden
	}
	.no-js .cmp_footerNav__hygieneLinks li a.toggleHandle {
		display: none
	}
	.no-js .cmp_footerNav__hygieneLinks li ul.toggleContent {
		display: block
	}
	.no-js .cmp_footerNav__hygieneLinks li.cmp_footerNav__selectMarket a {
		display: block
	}
}

@media screen and (min-width: 1px) and (max-width: 740px) {
	.cmp_footerNav {
		padding-bottom: 82px;
		padding-left: 0
	}
	.cmp_footerNav__footerWrapper {
		padding: 30px 30px 15px
	}
	.cmp_footerNav__navWrapper {
		display: none;
		padding: 0
	}
	.cmp_footerNav__navWrapper__heading:first-child {
		padding: 0
	}
	.cmp_footerNav[data-total="1"] .cmp_footerNav__socialLinks,
	.cmp_footerNav[data-total="2"] .cmp_footerNav__socialLinks,
	.cmp_footerNav[data-total="3"] .cmp_footerNav__socialLinks,
	.cmp_footerNav[data-total="4"] .cmp_footerNav__socialLinks,
	.cmp_footerNav[data-total="5"] .cmp_footerNav__socialLinks,
	.cmp_footerNav[data-total="6"] .cmp_footerNav__socialLinks,
	.cmp_footerNav[data-total="7"] .cmp_footerNav__socialLinks,
	.cmp_footerNav[data-total="8"] .cmp_footerNav__socialLinks {
		width: auto
	}
	.cmp_footerNav__socialLinks {
		display: block;
		width: auto;
		margin: 0 auto;
		float: none
	}
	.cmp_footerNav__socialLinks .cmp_footerNav__heading {
		text-align: center;
		font-size: 11px;
		letter-spacing: 1.5px;
		font-family: "avenir", "arial", "helvetica", sans-serif;
		font-weight: normal
	}
	.cmp_footerNav__socialLinks .cmp_footerNav__heading.headingFocus .headingWrapper:before,
	.cmp_footerNav__socialLinks .cmp_footerNav__heading.headingFocus .headingWrapper:after {
		left: 50%;
		right: auto;
		margin-left: -0.67em
	}
	.cmp_footerNav__socialLinks ul {
		display: block;
		text-align: center;
		margin: 28px auto 0;
		padding: 0
	}
	.cmp_footerNav__socialLinks ul li {
		display: inline-block;
		float: none;
		padding: 0 7.5px 15px;
		margin: 0;
		width: auto
	}
	.cmp_footerNav__socialLinks ul li a {
		width: 50px;
		display: block
	}
	.cmp_footerNav__socialLinks ul li a strong {
		display: none
	}
	.cmp_footerNav__socialLinks>ul:first-child {
		margin-top: 0
	}
	.cmp_footerNav .socialLinksFloat .cmp_footerNav__heading {
		text-align: left !important;
		padding-left: 50px !important
	}
	.cmp_footerNav__hygieneLinks {
		padding: 0 10px
	}
	.cmp_footerNav__hygieneLinks li.cmp_footerNav__selectMarket a span.countryName {
		display: none
	}
	.cmp_footerNav__hygieneLinks li.cmp_footerNav__selectMarket a span.countryCode {
		display: inline
	}
	.cmp_footerNav__recallLinks {
		display: inherit;
		width: 100%;
		padding: 0 10px;
		border-bottom: 1px solid
	}
	.cmp_footerNav__recallLinks:after {
		content: "";
		clear: both;
		display: table
	}
	.no-js .cmp_footerNav__recallLinks {
		position: static
	}
	.cmp_footerNav__recallLinks li {
		float: left
	}
	.cmp_footerNav__recallLinks li a {
		display: inline-block;
		padding: 16px 18px;
		font-size: 8px;
		text-decoration: none;
		letter-spacing: .24rem
	}
}

.no-js .cmp_footerNav__navWrapper li ul {
	position: relative;
	display: block
}

.cmp_footerNav__navWrapper li a {
	font-size: .9rem;
	letter-spacing: .18rem
}

.cmp_footerNav__navWrapper li a:hover,
.cmp_footerNav__navWrapper li a:focus,
.cmp_footerNav__navWrapper li a.active {
	color: #fff;
	border-bottom: 1px solid #fff
}

.cmp_footerNav__heading {
	font-size: .9rem;
	letter-spacing: .18rem;
	font-weight: bold
}

.cmp_footerNav__evidon-link a:hover,
.cmp_footerNav__trustarc-link a:hover {
	color: #0c121c !important
}

@media screen and (min-width: 901px) {
	.cmp_footerNav__evidon-link a:hover,
	.cmp_footerNav__trustarc-link a:hover {
		border-bottom: 1px solid #0c121c
	}
}

.cmp_footerNav__hygieneLinks li a {
	font-size: .9rem;
	letter-spacing: .18rem
}

.cmp_footerNav .cmp_footerNav__marketSelectorContainer .dxDropdown__list-item-link {
	font-weight: 800
}

.cmp_footerNav {
	background-color: #4a4f54
}

.cmp_footerNav__navWrapper li a {
	color: #e4e8e8
}

.cmp_footerNav__navWrapper li a:hover,
.cmp_footerNav__navWrapper li a:focus,
.cmp_footerNav__navWrapper li a.active {
	color: #fff
}

.cmp_footerNav__heading {
	color: #fff
}

.cmp_footerNav__socialLinks ul li a>span {
	background-color: #0c121c
}

.cmp_footerNav__socialLinks ul li a:hover,
.cmp_footerNav__socialLinks ul li a:focus {
	border-bottom: 0
}

.cmp_footerNav__socialLinks ul li a:hover span,
.cmp_footerNav__socialLinks ul li a:focus span {
	color: #fff
}

.cmp_footerNav__socialLinks ul li a:hover strong,
.cmp_footerNav__socialLinks ul li a:focus strong {
	position: relative
}

.cmp_footerNav__socialLinks ul li a:hover strong:after,
.cmp_footerNav__socialLinks ul li a:focus strong:after {
	content: "";
	position: absolute;
	height: 1px;
	width: calc(100% - 11px);
	left: 10px;
	bottom: 19px;
	background: #fff
}

.cmp_footerNav__socialLinks ul .social_facebook:hover span,
.cmp_footerNav__socialLinks ul .social_facebook:focus span {
	background-color: #305891
}

.cmp_footerNav__socialLinks ul .social_twitter:hover span,
.cmp_footerNav__socialLinks ul .social_twitter:focus span {
	background-color: #2ca8d2
}

.cmp_footerNav__socialLinks ul .social_linkedin:hover span,
.cmp_footerNav__socialLinks ul .social_linkedin:focus span {
	background-color: #007bb6
}

.cmp_footerNav__socialLinks ul .social_google:hover span,
.cmp_footerNav__socialLinks ul .social_google:focus span {
	background-color: #dd4b39
}

.cmp_footerNav__socialLinks ul .social_tumblr:hover span,
.cmp_footerNav__socialLinks ul .social_tumblr:focus span {
	background-color: #2f5070
}

.cmp_footerNav__socialLinks ul .social_sinaweibo:hover span,
.cmp_footerNav__socialLinks ul .social_sinaweibo:focus span {
	background-color: #df2029
}

.cmp_footerNav__socialLinks ul .social_pinterest:hover span,
.cmp_footerNav__socialLinks ul .social_pinterest:focus span {
	background-color: #c82828
}

.cmp_footerNav__socialLinks ul .social_douban:hover span,
.cmp_footerNav__socialLinks ul .social_douban:focus span {
	background-color: #0e7512
}

.cmp_footerNav__socialLinks ul .social_vkontakt:hover span,
.cmp_footerNav__socialLinks ul .social_vkontakt:focus span {
	background-color: #2f5070
}

.cmp_footerNav__socialLinks ul .social_renren:hover span,
.cmp_footerNav__socialLinks ul .social_renren:focus span {
	background-color: #0259a0
}

.cmp_footerNav__socialLinks ul .social_youtube:hover span,
.cmp_footerNav__socialLinks ul .social_youtube:focus span {
	background-color: #e62d27
}

.cmp_footerNav__socialLinks ul .social_blogger:hover span,
.cmp_footerNav__socialLinks ul .social_blogger:focus span {
	background-color: #f60
}

.cmp_footerNav__socialLinks ul .social_instagram:hover span,
.cmp_footerNav__socialLinks ul .social_instagram:focus span {
	background-color: #DD287B
}

.cmp_footerNav__socialLinks ul .social_wechat:hover span,
.cmp_footerNav__socialLinks ul .social_wechat:focus span {
	background-color: #93d034
}

.cmp_footerNav__socialLinks ul .social_jaguarapp:hover span,
.cmp_footerNav__socialLinks ul .social_jaguarapp:focus span {
	background-color: #9E1B32
}

.cmp_footerNav__hygieneLinks {
	background-color: #0c121c
}

.cmp_footerNav__hygieneLinks li a {
	color: #e4e8e8
}

.cmp_footerNav__hygieneLinks li a:hover,
.cmp_footerNav__hygieneLinks li a:focus {
	color: #fff
}

.cmp_footerNav__hygieneLinks li.open .toggleHandle {
	background: #4a4f54
}

.cmp_footerNav__marketSelectorContainer {
	background-color: #a4a7a9
}

.cmp_footerNav__marketSelectorContainer .dxDropdown__list-item-link:focus,
.cmp_footerNav__marketSelectorContainer .dxDropdown__list-item-link:hover {
	color: #4a4f54 !important
}

@media screen and (min-width: 1px) and (max-width: 900px) {
	.cmp_footerNav__hygieneLinks .open .toggleContent li {
		background: #fff;
		border-bottom: 1px solid #0c121c
	}
}

@media screen and (min-width: 1px) and (max-width: 740px) {
	.cmp_footerNav__recallLinks {
		background-color: #0c121c;
		border-bottom-color: #30363e
	}
	.cmp_footerNav__recallLinks li a {
		color: #e4e8e8
	}
	.cmp_footerNav__recallLinks li a:hover,
	.cmp_footerNav__recallLinks li a:focus {
		color: #fff
	}
}

.lightTheme .cmp_footerNav__hygieneLinks {
	background-color: #fff
}

.lightTheme .cmp_footerNav__hygieneLinks li a {
	color: #4a4f54;
	font-weight: bold
}

.lightTheme .cmp_footerNav__hygieneLinks li a:hover,
.lightTheme .cmp_footerNav__hygieneLinks li a:focus {
	color: #0c121c
}

.lightTheme .cmp_footerNav__hygieneLinks li a:hover .toggleHandle__inner,
.lightTheme .cmp_footerNav__hygieneLinks li a:focus .toggleHandle__inner {
	border-bottom: 1px solid #0c121c
}

.lightTheme .cmp_footerNav__hygieneLinks li .TargetLinks {
	margin: 0 20px 16px;
	padding: 16px 0 0
}

.lightTheme .cmp_footerNav__hygieneLinks li .TargetLinks:hover,
.lightTheme .cmp_footerNav__hygieneLinks li .TargetLinks:focus {
	border-bottom: 1px solid #0c121c;
	margin-bottom: 15px
}

.lightTheme .cmp_footerNav__hygieneLinks li.open .toggleHandle {
	background: #e4e8e8
}

.lightTheme .cmp_footerNav__hygieneLinks li.cmp_footerNav__selectMarket a:hover .countryCode,
.lightTheme .cmp_footerNav__hygieneLinks li.cmp_footerNav__selectMarket a:hover .countryName {
	border-bottom: 1px solid #0c121c
}

.lightTheme .cmp_footerNav__marketSelectorContainer {
	background-color: #e4e8e8
}

.lightTheme .cmp_footerNav__marketSelectorContainer .formButton .continueButton.disabled:hover,
.lightTheme .cmp_footerNav__marketSelectorContainer .formButton .continueButton.disabled:focus {
	color: #4a4f54
}

@media screen and (min-width: 1px) and (max-width: 900px) {
	.lightTheme .cmp_footerNav__hygieneLinks li.open .toggleContent li {
		background-color: #e4e8e8;
		border-bottom-color: #cdd1d1
	}
	.lightTheme .cmp_footerNav__hygieneLinks li.open .toggleContent li:last-child {
		border-bottom-color: transparent
	}
	.lightTheme .cmp_footerNav__hygieneLinks li .TargetLinks:hover,
	.lightTheme .cmp_footerNav__hygieneLinks li .TargetLinks:focus {
		border-bottom: 0;
		margin-bottom: 16px;
		color: #0c121c;
		text-decoration: underline
	}
}

@media screen and (min-width: 1px) and (max-width: 740px) {
	.lightTheme .cmp_footerNav__recallLinks {
		background-color: #fff;
		border-bottom-color: #e4e8e8
	}
	.lightTheme .cmp_footerNav__recallLinks li a {
		font-weight: bold;
		color: #4a4f54
	}
	.lightTheme .cmp_footerNav__recallLinks li a:hover,
	.lightTheme .cmp_footerNav__recallLinks li a:focus {
		color: #4a4f54
	}
}





















/* theme colors  */
.light {
    background-color: #FFFFFF;
    color : #000;
}
.white {
    background-color: #f8f9f9;
    color: #4a4f54;
}

.grey {
    background-color: #e9ecec;
    color: #4a4f54;

}
.dark {
    background: #4a4f54;
    color: #e4e8e8;
}

.fontSmooth {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}
.smallPrint,
.smallPrint p,
body .richText p.smallPrint {
    font-size: 12px;
    color: #4a4f54;
    line-height: 1.4
}
.section {
    margin: 0 auto;
    width: 100%;
    min-width: 200px;
    overflow: hidden
}
.el .section {
    width: 100%
}

.el {
    position: relative;
    float: left;
    width: 100%
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

html {
    font-size: 10px
}

body {
    line-height: 1
}
body.isFullscreen .container {
    max-width: initial
}

.gridContext {
    position: relative
}

ol,
ul {
    list-style: none
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
    content: "";
    font-family: "icons";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: .2em;
    vertical-align: middle;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: 0
}

@font-face {
    font-family: "icons";
    src: url("../../fonts/icons/icons-d8360df94e5d54f099f2371a18e794f8.html");
    src: url("../../fonts/icons/icons-d8360df94e5d54f099f2371a18e794f8d41d.html?#iefix") format("embedded-opentype"), url("../../fonts/icons/icons-d8360df94e5d54f099f2371a18e794f8.woff") format("woff"), url("../../fonts/icons/icons-d8360df94e5d54f099f2371a18e794f8.ttf") format("truetype"), url("../../fonts/icons/icons-d8360df94e5d54f099f2371a18e794f8d41d.svg?#icons") format("svg");
    font-weight: normal;
    font-style: normal
}
.primaryLinks {
    text-align: left
}

.primaryLinksCentre {
    text-align: center
}

.primaryLinksRight {
    text-align: right
}

.primaryLinkContainer,
.secondaryLinkContainer,
.thirdLinkContainer,
.fourthLinkContainer {
    line-height: 0;
    display: block
}
.primaryLinkContainer+.secondaryLinkWithStyle,
.primaryLinkContainer+.secondaryLinkContainer .secondaryLinkWithStyle {
    margin-top: 28px
}
#landrover .secondaryLinkWithStyle {
    color: #0c121c
}

#landrover .secondaryLinkWithStyle:before {
    color: #005a2b
}

#landrover .secondaryLinkWithStyle:hover,
#landrover .secondaryLinkWithStyle:active,
#landrover .secondaryLinkWithStyle:focus {
    color: #005a2b
}

#landrover .secondaryLinkWithStyle:hover span,
#landrover .secondaryLinkWithStyle:active span,
#landrover .secondaryLinkWithStyle:focus span {
    border-bottom: 1px solid #005a2b
}

#landrover .secondaryLinkWithStyle:focus {
    outline: 0
}

#landrover .secondaryLinkWithStyle.disabled {
    color: #e4e4e4
}

#landrover .secondaryLinkWithStyle.disabled:before {
    color: #e4e4e4
}

#landrover .secondaryLinkWithStyle.disabled:hover {
    color: #e4e4e4
}

#landrover.focusStylesOn .secondaryLinkWithStyle:focus {
    color: #005a2b;
    text-shadow: none;
    box-shadow: 0 0 0 1px #fff, 0 0 2px 3px #4a90e2
}

#landrover.focusStylesOn .secondaryLinkWithStyle:focus span {
    border-bottom: 1px solid #005a2b
}

#landrover .dark .secondaryLinkWithStyle,
#landrover [data-theme="dark"] .secondaryLinkWithStyle {
    color: #fff
}

#landrover .dark .secondaryLinkWithStyle:before,
#landrover [data-theme="dark"] .secondaryLinkWithStyle:before {
    color: #fff
}

#landrover .dark .secondaryLinkWithStyle:hover,
#landrover .dark .secondaryLinkWithStyle:active,
#landrover .dark .secondaryLinkWithStyle:focus,
#landrover [data-theme="dark"] .secondaryLinkWithStyle:hover,
#landrover [data-theme="dark"] .secondaryLinkWithStyle:active,
#landrover [data-theme="dark"] .secondaryLinkWithStyle:focus {
    color: #C9C9C9
}

#landrover .dark .secondaryLinkWithStyle:hover span,
#landrover .dark .secondaryLinkWithStyle:active span,
#landrover .dark .secondaryLinkWithStyle:focus span,
#landrover [data-theme="dark"] .secondaryLinkWithStyle:hover span,
#landrover [data-theme="dark"] .secondaryLinkWithStyle:active span,
#landrover [data-theme="dark"] .secondaryLinkWithStyle:focus span {
    border-bottom: 1px solid #C9C9C9
}

#landrover .dark .secondaryLinkWithStyle:hover:before,
#landrover .dark .secondaryLinkWithStyle:active:before,
#landrover .dark .secondaryLinkWithStyle:focus:before,
#landrover [data-theme="dark"] .secondaryLinkWithStyle:hover:before,
#landrover [data-theme="dark"] .secondaryLinkWithStyle:active:before,
#landrover [data-theme="dark"] .secondaryLinkWithStyle:focus:before {
    color: #C9C9C9
}

#landrover .dark .secondaryLinkWithStyle:focus,
#landrover [data-theme="dark"] .secondaryLinkWithStyle:focus {
    outline: 0
}

#landrover .dark .secondaryLinkWithStyle.disabled,
#landrover [data-theme="dark"] .secondaryLinkWithStyle.disabled {
    color: rgba(228, 228, 228, 0.3)
}

#landrover .dark .secondaryLinkWithStyle.disabled:before,
#landrover [data-theme="dark"] .secondaryLinkWithStyle.disabled:before {
    color: rgba(228, 228, 228, 0.3)
}

#landrover .dark .secondaryLinkWithStyle.disabled:hover,
#landrover [data-theme="dark"] .secondaryLinkWithStyle.disabled:hover {
    color: rgba(228, 228, 228, 0.3)
}

#landrover.focusStylesOn .dark .secondaryLinkWithStyle:focus,
#landrover.focusStylesOn [data-theme="dark"] .secondaryLinkWithStyle:focus {
    color: #C9C9C9;
    text-shadow: none;
    box-shadow: 0 0 2px 3px #4a90e2
}

#landrover.focusStylesOn .dark .secondaryLinkWithStyle:focus:before,
#landrover.focusStylesOn [data-theme="dark"] .secondaryLinkWithStyle:focus:before {
    color: #C9C9C9
}

#landrover.focusStylesOn .dark .secondaryLinkWithStyle:focus span,
#landrover.focusStylesOn [data-theme="dark"] .secondaryLinkWithStyle:focus span {
    border-bottom: 1px solid #C9C9C9
}

.grey .secondaryLinkWithStyle,
[data-theme="grey"] .secondaryLinkWithStyle {
    text-decoration: none
}

#landrover .grey .secondaryLinkWithStyle.disabled,
#landrover [data-theme="grey"] .secondaryLinkWithStyle.disabled {
    color: rgba(255, 255, 255, 0.7)
}

#landrover .grey .secondaryLinkWithStyle.disabled:hover,
#landrover [data-theme="grey"] .secondaryLinkWithStyle.disabled:hover {
    color: rgba(255, 255, 255, 0.7);
    border-bottom: 0 none
}
.secondaryLinkWithStyle:before {
    top: 2px
}

.ctaContainer {
    margin-top: 80px;
    text-align: center
}

#landrover .ctaContainer a {
    margin: 0;
    vertical-align: top
}

#landrover .primaryLinkWithStyle {
    background-color: #0c121c;
    color: #fff;
    text-decoration: none
}

#landrover .primaryLinkWithStyle:hover,
#landrover .primaryLinkWithStyle:active {
    background-color: #fff;
    color: #0c121c;
    box-shadow: 0 0 0 1px #0c121c inset
}

#landrover .primaryLinkWithStyle:focus {
    outline: 0
}

#landrover .primaryLinkWithStyle.disabled {
    background-color: #e4e4e4;
    color: #fff
}

#landrover .primaryLinkWithStyle.disabled:hover {
    background-color: #e4e4e4;
    color: #fff
}

#landrover.focusStylesOn .primaryLinkWithStyle:focus {
    background-color: #fff;
    color: #0c121c;
    box-shadow: 0 0 0 1px #0c121c inset, 0 0 0 1px #fff, 0 0 2px 4px #4a90e2
}

#landrover.focusStylesOn .primaryLinkWithStyle.disabled:focus {
    background-color: #e4e4e4;
    color: #fff
}
.primaryLinkContainer+.secondaryLinkWithStyle,
.primaryLinkContainer+.secondaryLinkContainer .secondaryLinkWithStyle {
    margin-top: 28px
}
.headerBox .primaryLinkContainer+.secondaryLinkContainer .secondaryLinkWithStyle {
    margin-top: 24px
}
.primaryLinkWithStyle {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 125px;
    height: 45px;
    line-height: 12px;
    margin-top: 30px;
    padding: 1px 24px 0 24px;
    font-family: "AvenirNext", "arial", "helvetica", sans-serif;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    font-size: 10px;
    letter-spacing: .3em;
    cursor: pointer;
    border: 0;
    -webkit-transition-duration: .4s;
    -moz-transition-duration: .4s;
    -o-transition-duration: .4s;
    transition-duration: .4s;
    -webkit-transition-timing-function: ease;
    -moz-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease;
    -webkit-transition: color .4s, background-color .4s, box-shadow .4s;
    -moz-transition: color .4s, background-color .4s, box-shadow .4s;
    -o-transition: color .4s, background-color .4s, box-shadow .4s;
    transition: color .4s, background-color .4s, box-shadow .4s;
    overflow: hidden;
    *zoom: 1
}

.primaryLinkWithStyle.loading {
    pointer-events: none;
    transition: none;
    position: relative
}

.primaryLinkWithStyle.loading:before {
    opacity: 0
}

.primaryLinkWithStyle.disabled {
    cursor: default
}

.primaryLinkWithStyle.disabled:hover,
.primaryLinkWithStyle.disabled:active {
    box-shadow: none !important
}

#landrover .primaryLinkWithStyle.skipLink {
    text-decoration: none;
    background-color: #0c121c;
    color: #fff;
    border-bottom: 0 none
}

#landrover .primaryLinkWithStyle.skipLink:hover,
#landrover .primaryLinkWithStyle.skipLink:active {
    background-color: #4a4f54;
    color: #fff;
    box-shadow: 0 0 0 1px #fff inset
}

#landrover .primaryLinkWithStyle.skipLink:focus {
    outline: 0
}

#landrover .primaryLinkWithStyle.skipLink.disabled {
    background-color: rgba(228, 228, 228, 0.2);
    color: rgba(255, 255, 255, 0.3)
}

#landrover .primaryLinkWithStyle.skipLink.disabled:hover {
    background-color: rgba(228, 228, 228, 0.2);
    color: rgba(255, 255, 255, 0.3)
}

#landrover.focusStylesOn .primaryLinkWithStyle.skipLink:focus {
    background-color: #4a4f54;
    color: #fff;
    box-shadow: 0 0 0 1px #fff, 0 0 0 2px #4a4f54, 0 0 2px 4px #4a90e2
}

#landrover.focusStylesOn .primaryLinkWithStyle.skipLink.disabled:focus {
    background-color: rgba(228, 228, 228, 0.2);
    color: rgba(255, 255, 255, 0.3)
}

.primaryLinkWithStyle span {
    margin-top: -2px
}
.headerBox .primaryLinkWithStyle {
    margin-top: 20px
}
#landrover [data-brand-id="landrover"] .headerBox.withImage .primaryLinkWithStyle {
    background-color: #0c121c;
    color: #fff;
    text-decoration: none
}

#landrover [data-brand-id="landrover"] .headerBox.withImage .primaryLinkWithStyle:hover,
#landrover [data-brand-id="landrover"] .headerBox.withImage .primaryLinkWithStyle:active {
    background-color: #fff;
    color: #0c121c;
    box-shadow: 0 0 0 1px #0c121c inset
}

#landrover [data-brand-id="landrover"] .headerBox.withImage .primaryLinkWithStyle:focus {
    outline: 0
}

#landrover [data-brand-id="landrover"] .headerBox.withImage .primaryLinkWithStyle.disabled {
    background-color: #e4e4e4;
    color: #fff
}

#landrover [data-brand-id="landrover"] .headerBox.withImage .primaryLinkWithStyle.disabled:hover {
    background-color: #e4e4e4;
    color: #fff
}

#landrover.focusStylesOn [data-brand-id="landrover"] .headerBox.withImage .primaryLinkWithStyle:focus {
    background-color: #fff;
    color: #0c121c;
    box-shadow: 0 0 0 1px #0c121c inset, 0 0 0 1px #fff, 0 0 2px 4px #4a90e2
}

#landrover.focusStylesOn [data-brand-id="landrover"] .headerBox.withImage .primaryLinkWithStyle.disabled:focus {
    background-color: #e4e4e4;
    color: #fff
}
#landrover .grey .primaryLinkWithStyle,
#landrover [data-theme="grey"] .primaryLinkWithStyle {
    text-decoration: none
}

#landrover .grey .primaryLinkWithStyle.disabled,
#landrover [data-theme="grey"] .primaryLinkWithStyle.disabled {
    color: rgba(228, 228, 228, 0.6);
    background: rgba(255, 255, 255, 0.6)
}

#landrover .grey .primaryLinkWithStyle.disabled:hover,
#landrover [data-theme="grey"] .primaryLinkWithStyle.disabled:hover {
    color: rgba(228, 228, 228, 0.6);
    background: rgba(255, 255, 255, 0.6)
}

#landrover .dark .primaryLinkWithStyle,
#landrover [data-theme="dark"] .primaryLinkWithStyle,
#landrover [data-contrast="dark"] .primaryLinkWithStyle {
    text-decoration: none;
    background-color: #0c121c;
    color: #fff;
    border-bottom: 0 none
}

#landrover .dark .primaryLinkWithStyle:hover,
#landrover .dark .primaryLinkWithStyle:active,
#landrover [data-theme="dark"] .primaryLinkWithStyle:hover,
#landrover [data-theme="dark"] .primaryLinkWithStyle:active,
#landrover [data-contrast="dark"] .primaryLinkWithStyle:hover,
#landrover [data-contrast="dark"] .primaryLinkWithStyle:active {
    background-color: #4a4f54;
    color: #fff;
    box-shadow: 0 0 0 1px #fff inset
}

#landrover .dark .primaryLinkWithStyle:focus,
#landrover [data-theme="dark"] .primaryLinkWithStyle:focus,
#landrover [data-contrast="dark"] .primaryLinkWithStyle:focus {
    outline: 0
}

#landrover .dark .primaryLinkWithStyle.disabled,
#landrover [data-theme="dark"] .primaryLinkWithStyle.disabled,
#landrover [data-contrast="dark"] .primaryLinkWithStyle.disabled {
    background-color: rgba(228, 228, 228, 0.2);
    color: rgba(255, 255, 255, 0.3)
}

#landrover .dark .primaryLinkWithStyle.disabled:hover,
#landrover [data-theme="dark"] .primaryLinkWithStyle.disabled:hover,
#landrover [data-contrast="dark"] .primaryLinkWithStyle.disabled:hover {
    background-color: rgba(228, 228, 228, 0.2);
    color: rgba(255, 255, 255, 0.3)
}

#landrover.focusStylesOn .dark .primaryLinkWithStyle:focus,
#landrover.focusStylesOn [data-theme="dark"] .primaryLinkWithStyle:focus,
#landrover.focusStylesOn [data-contrast="dark"] .primaryLinkWithStyle:focus {
    background-color: #4a4f54;
    color: #fff;
    box-shadow: 0 0 0 1px #fff, 0 0 0 2px #4a4f54, 0 0 2px 4px #4a90e2
}

#landrover.focusStylesOn .dark .primaryLinkWithStyle.disabled:focus,
#landrover.focusStylesOn [data-theme="dark"] .primaryLinkWithStyle.disabled:focus,
#landrover.focusStylesOn [data-contrast="dark"] .primaryLinkWithStyle.disabled:focus {
    background-color: rgba(228, 228, 228, 0.2);
    color: rgba(255, 255, 255, 0.3)
}
.primaryLinkWithStyle[class^="icon-"],
.primaryLinkWithStyle[class*=" icon-"] {
    padding-left: 49px;
    position: relative
}

.primaryLinkWithStyle[class^="icon-"]:before,
.primaryLinkWithStyle[class*=" icon-"]:before {
    font-size: 20px;
    position: absolute;
    top: 22px;
    left: 15px;
    line-height: 0
}

.primaryLinkWithStyle.icon-ignite-brochure:before {
    font-size: 18px
}

.primaryLinkWithStyle.icon-share:before {
    font-size: 18px;
    top: 22px
}

.primaryLinkWithStyle.icon-finance-calculator:before {
    font-size: 18px;
    top: 22px
}

.primaryLinkWithStyle.icon-offers:before {
    font-size: 15px
}

.primaryLinkWithStyle.icon-request-quote:before {
    font-size: 17px;
    top: 22px
}

.primaryLinkWithStyle.icon-inventory:before {
    font-size: 18px;
    top: 21px
}

.primaryLinkWithStyle.icon-driveoffroad:before {
    top: 22px
}

.primaryLinkWithStyle.icon-new-star:before {
    font-size: 17px;
    top: 21px
}

.secondaryLinkWithStyle {
    line-height: 1.5;
    font-weight: bold;
    font-size: 10px;
    letter-spacing: .25em;
    border: 0;
    text-decoration: none !important;
    border-bottom: 0 none
}

.disabled.secondaryLinkWithStyle {
    cursor: default
}

.disabled.secondaryLinkWithStyle span {
    border-bottom: 0 none !important
}

.secondaryLinkWithStyle:active {
    text-shadow: none
}

.secondaryLinkWithStyle:focus {
    outline: 0
}

.secondaryLinkWithStyle:focus:hover {
    border-bottom: 0 none
}

.icon-360-evo-jaguar:before {
    content: "\e001"
}

.icon-360-view:before {
    content: "\e002"
}

.icon-CO2:before {
    content: "\e003"
}

.icon-JAG_electric-vehicle-services:before {
    content: "\e004"
}

.icon-LR-Inventory:before {
    content: "\e005"
}

.icon-LR_electric-vehicle-services:before {
    content: "\e006"
}

.icon-accessories-evo-jaguar:before {
    content: "\e007"
}

.icon-accessories:before {
    content: "\e008"
}

.icon-accolade-chevron-left:before {
    content: "\e009"
}

.icon-accolade-chevron-right:before {
    content: "\e00a"
}

.icon-add-evo-jaguar:before {
    content: "\e00b"
}

.icon-approved-used:before {
    content: "\e00c"
}

.icon-approvedused-evo-jaguar:before {
    content: "\e00d"
}

.icon-apps-evo-jaguar:before {
    content: "\e00e"
}

.icon-arduous-evo-jaguar:before {
    content: "\e00f"
}

.icon-arrow-down-JDX:before {
    content: "\e010"
}

.icon-arrow-down:before {
    content: "\e011"
}

.icon-arrow-left-evo-jaguar:before {
    content: "\e012"
}

.icon-arrow-left:before {
    content: "\e013"
}

.icon-arrow-right-evo-jaguar:before {
    content: "\e014"
}

.icon-arrow-right:before {
    content: "\e015"
}

.icon-back-to-top:before {
    content: "\e016"
}

.icon-bars:before {
    content: "\e017"
}

.icon-battery-evo-jaguar:before {
    content: "\e018"
}

.icon-battery-hybrid-evo-jaguar:before {
    content: "\e019"
}

.icon-battery-hybrid-landrover:before {
    content: "\e01a"
}

.icon-battery-landrover:before {
    content: "\e01b"
}

.icon-bodyshop-evo-jaguar:before {
    content: "\e01c"
}

.icon-bodyshop:before {
    content: "\e01d"
}

.icon-bond:before {
    content: "\e01e"
}

.icon-brakefluid-evo-jaguar:before {
    content: "\e01f"
}

.icon-brakepads-evo-jaguar:before {
    content: "\e020"
}

.icon-brochure-evo-jaguar:before {
    content: "\e021"
}

.icon-calculate-trade-in-value:before {
    content: "\e022"
}

.icon-calendar-evo-jaguar:before {
    content: "\e023"
}

.icon-calendar:before {
    content: "\e024"
}

.icon-call-evo-jaguar:before {
    content: "\e025"
}

.icon-capacity-evo-jaguar:before {
    content: "\e026"
}

.icon-capacity:before {
    content: "\e027"
}

.icon-captions-on:before {
    content: "\e028"
}

.icon-captions:before {
    content: "\e029"
}

.icon-carpe:before {
    content: "\e02a"
}

.icon-caution-evo-jaguar:before {
    content: "\e02b"
}

.icon-caution:before {
    content: "\e02c"
}

.icon-chevron-down:before {
    content: "\e02d"
}

.icon-chevron-up:before {
    content: "\e02e"
}

.icon-chevronleft-evo-jaguar:before {
    content: "\e02f"
}

.icon-chevronright-evo-jaguar:before {
    content: "\e030"
}

.icon-climate-jaguar:before {
    content: "\e031"
}

.icon-clock-evo-jaguar:before {
    content: "\e032"
}

.icon-close-evo-jaguar:before {
    content: "\e033"
}

.icon-close:before {
    content: "\e034"
}

.icon-close_v2:before {
    content: "\e035"
}

.icon-close_v3:before {
    content: "\e036"
}

.icon-co2-evo-jaguar:before {
    content: "\e037"
}

.icon-comment:before {
    content: "\e038"
}

.icon-compare-evo-jaguar:before {
    content: "\e039"
}

.icon-compare-jaguar:before {
    content: "\e03a"
}

.icon-compare:before {
    content: "\e03b"
}

.icon-comparison-jaguar:before {
    content: "\e03c"
}

.icon-contact-evo-jaguar:before {
    content: "\e03d"
}

.icon-coolant-evo-jaguar:before {
    content: "\e03e"
}

.icon-credit-card-jaguar:before {
    content: "\e03f"
}

.icon-credit-card:before {
    content: "\e040"
}

.icon-directional-left:before {
    content: "\e041"
}

.icon-directional-right:before {
    content: "\e042"
}

.icon-directions-jaguar:before {
    content: "\e043"
}

.icon-directions:before {
    content: "\e044"
}

.icon-dj-grass:before {
    content: "\e045"
}

.icon-dj-gravel-rocks:before {
    content: "\e046"
}

.icon-dj-mud-ruts:before {
    content: "\e047"
}

.icon-dj-on-road:before {
    content: "\e048"
}

.icon-dj-sand:before {
    content: "\e049"
}

.icon-dj-snow-ice:before {
    content: "\e04a"
}

.icon-dj-water:before {
    content: "\e04b"
}

.icon-dots-evo-jaguar:before {
    content: "\e04c"
}

.icon-download-evo-jaguar:before {
    content: "\e04d"
}

.icon-download:before {
    content: "\e04e"
}

.icon-drag-arrow-down:before {
    content: "\e04f"
}

.icon-drag-arrow-left:before {
    content: "\e050"
}

.icon-drag-arrow-right:before {
    content: "\e051"
}

.icon-drag-arrow-up:before {
    content: "\e052"
}

.icon-drive-evo-jaguar:before {
    content: "\e053"
}

.icon-driveoffroad:before {
    content: "\e054"
}

.icon-driveonroad-jaguar:before {
    content: "\e055"
}

.icon-driveonroad:before {
    content: "\e056"
}

.icon-dxrange-slider-chevrons:before {
    content: "\e057"
}

.icon-eco-evo-jaguar:before {
    content: "\e058"
}

.icon-edit-evo-jaguar:before {
    content: "\e059"
}

.icon-email-evo-jaguar:before {
    content: "\e05a"
}

.icon-email:before {
    content: "\e05b"
}

.icon-exclamation-lr:before {
    content: "\e05c"
}

.icon-experience-evo-jaguar:before {
    content: "\e05d"
}

.icon-experience:before {
    content: "\e05e"
}

.icon-explore:before {
    content: "\e05f"
}

.icon-favourite-evo-jaguar:before {
    content: "\e060"
}

.icon-fax-evo-jaguar:before {
    content: "\e061"
}

.icon-fax:before {
    content: "\e062"
}

.icon-feedback-jaguar:before {
    content: "\e063"
}

.icon-feedback-landrover:before {
    content: "\e064"
}

.icon-filter-evo-jaguar:before {
    content: "\e065"
}

.icon-filter:before {
    content: "\e066"
}

.icon-filterclose-evo-jaguar:before {
    content: "\e067"
}

.icon-finance-calculator-jaguar:before {
    content: "\e068"
}

.icon-finance-calculator:before {
    content: "\e069"
}

.icon-financecalculator-evo-jaguar:before {
    content: "\e06a"
}

.icon-fleet-business-evo-jaguar:before {
    content: "\e06b"
}

.icon-fleet-business-landrover:before {
    content: "\e06c"
}

.icon-fuel-evo-jaguar:before {
    content: "\e06d"
}

.icon-fullscreen-evo-jaguar:before {
    content: "\e06e"
}

.icon-fullscreen-exit:before {
    content: "\e06f"
}

.icon-fullscreen:before {
    content: "\e070"
}

.icon-gallery-categories:before {
    content: "\e071"
}

.icon-gallery-evo-jaguar:before {
    content: "\e072"
}

.icon-guides-evo-jaguar:before {
    content: "\e073"
}

.icon-help-evo-jaguar:before {
    content: "\e074"
}

.icon-ignite-brochure-jaguar:before {
    content: "\e075"
}

.icon-ignite-brochure:before {
    content: "\e076"
}

.icon-ignite-configure-jaguar:before {
    content: "\e077"
}

.icon-ignite-configure:before {
    content: "\e078"
}

.icon-ignite-drive:before {
    content: "\e079"
}

.icon-ignite-inform-jaguar:before {
    content: "\e07a"
}

.icon-ignite-inform:before {
    content: "\e07b"
}

.icon-incontrol-evo-jaguar:before {
    content: "\e07c"
}

.icon-incontrol:before {
    content: "\e07d"
}

.icon-info-evo-jaguar:before {
    content: "\e07e"
}

.icon-information-landrover:before {
    content: "\e07f"
}

.icon-information:before {
    content: "\e080"
}

.icon-insurance-jaguar:before {
    content: "\e081"
}

.icon-insurance:before {
    content: "\e082"
}

.icon-inventory-evo-jaguar:before {
    content: "\e083"
}

.icon-inventory:before {
    content: "\e084"
}

.icon-jag2you-evo-jaguar:before {
    content: "\e085"
}

.icon-land-rover-to-you:before {
    content: "\e086"
}

.icon-landrover-pinnacle:before {
    content: "\e087"
}

.icon-left-open-big:before {
    content: "\e088"
}

.icon-link-evo-jaguar:before {
    content: "\e089"
}

.icon-link-out:before {
    content: "\e08a"
}

.icon-linkout-JDX:before {
    content: "\e08b"
}

.icon-location-evo-jaguar:before {
    content: "\e08c"
}

.icon-location:before {
    content: "\e08d"
}

.icon-login-evo-jaguar:before {
    content: "\e08e"
}

.icon-lr-360:before {
    content: "\e08f"
}

.icon-lr2you:before {
    content: "\e090"
}

.icon-map-pin-jaguar:before {
    content: "\e091"
}

.icon-map-pin:before {
    content: "\e092"
}

.icon-media-jaguar:before {
    content: "\e093"
}

.icon-minus-jaguar:before {
    content: "\e094"
}

.icon-minus:before {
    content: "\e095"
}

.icon-motorway-jaguar:before {
    content: "\e096"
}

.icon-new-star-jaguar:before {
    content: "\e097"
}

.icon-new-star:before {
    content: "\e098"
}

.icon-nocostoption:before {
    content: "\e099"
}

.icon-notes-evo-jaguar:before {
    content: "\e09a"
}

.icon-notes:before {
    content: "\e09b"
}

.icon-notifications-evo-jaguar:before {
    content: "\e09c"
}

.icon-offer-currency-chf-jag:before {
    content: "\e09d"
}

.icon-offer-currency-chf-lr:before {
    content: "\e09e"
}

.icon-offer-currency-cny-jag:before {
    content: "\e09f"
}

.icon-offer-currency-cny-lr:before {
    content: "\e0a0"
}

.icon-offer-currency-czk-jag:before {
    content: "\e0a1"
}

.icon-offer-currency-czk-lr:before {
    content: "\e0a2"
}

.icon-offer-currency-dollar-jag:before {
    content: "\e0a3"
}

.icon-offer-currency-dollar-lr:before {
    content: "\e0a4"
}

.icon-offer-currency-euro-lr:before {
    content: "\e0a5"
}

.icon-offer-currency-inr-jag:before {
    content: "\e0a6"
}

.icon-offer-currency-inr-lr:before {
    content: "\e0a7"
}

.icon-offer-currency-jpy-jag:before {
    content: "\e0a8"
}

.icon-offer-currency-jpy-lr:before {
    content: "\e0a9"
}

.icon-offer-currency-krw-jag:before {
    content: "\e0aa"
}

.icon-offer-currency-krw-lr:before {
    content: "\e0ab"
}

.icon-offer-currency-nok-jag:before {
    content: "\e0ac"
}

.icon-offer-currency-nok-lr:before {
    content: "\e0ad"
}

.icon-offer-currency-pound-lr:before {
    content: "\e0ae"
}

.icon-offer-currency-rub-jag:before {
    content: "\e0af"
}

.icon-offer-currency-rub-lr:before {
    content: "\e0b0"
}

.icon-offer-currency-sek-jag:before {
    content: "\e0b1"
}

.icon-offer-currency-sek-lr:before {
    content: "\e0b2"
}

.icon-offer-currency-zar-jag:before {
    content: "\e0b3"
}

.icon-offer-currency-zar-lr:before {
    content: "\e0b4"
}

.icon-offereuro-evo-jaguar:before {
    content: "\e0b5"
}

.icon-offerpound-evo-jaguar:before {
    content: "\e0b6"
}

.icon-offers-finance-jaguar:before {
    content: "\e0b7"
}

.icon-offers-finance:before {
    content: "\e0b8"
}

.icon-oil-evo-jaguar:before {
    content: "\e0b9"
}

.icon-optional:before {
    content: "\e0ba"
}

.icon-ordertracker-evo-jaguar:before {
    content: "\e0bb"
}

.icon-owners:before {
    content: "\e0bc"
}

.icon-parts-evo-jaguar:before {
    content: "\e0bd"
}

.icon-parts:before {
    content: "\e0be"
}

.icon-pause-evo-jaguar:before {
    content: "\e0bf"
}

.icon-pause:before {
    content: "\e0c0"
}

.icon-phone-jaguar:before {
    content: "\e0c1"
}

.icon-phone:before {
    content: "\e0c2"
}

.icon-pivotal:before {
    content: "\e0c3"
}

.icon-play-evo-jaguar:before {
    content: "\e0c4"
}

.icon-play:before {
    content: "\e0c5"
}

.icon-plus-jaguar:before {
    content: "\e0c6"
}

.icon-plus:before {
    content: "\e0c7"
}

.icon-preconditioning-evo-jaguar:before {
    content: "\e0c8"
}

.icon-predelivery-evo-jaguar:before {
    content: "\e0c9"
}

.icon-preparationsale-evo-jaguar:before {
    content: "\e0ca"
}

.icon-pride-of-jaguar:before {
    content: "\e0cb"
}

.icon-print-evo-jaguar:before {
    content: "\e0cc"
}

.icon-print:before {
    content: "\e0cd"
}

.icon-profile-evo-jaguar:before {
    content: "\e0ce"
}

.icon-profile:before {
    content: "\e0cf"
}

.icon-question-mark:before {
    content: "\e0d0"
}

.icon-quickstartguides-evo-jaguar:before {
    content: "\e0d1"
}

.icon-quote-left-mena:before {
    content: "\e0d2"
}

.icon-quote-left:before {
    content: "\e0d3"
}

.icon-quote-right-mena:before {
    content: "\e0d4"
}

.icon-quote-right:before {
    content: "\e0d5"
}

.icon-r-performance:before {
    content: "\e0d6"
}

.icon-reload-evo-jaguar:before {
    content: "\e0d7"
}

.icon-reminder-evo-jaguar:before {
    content: "\e0d8"
}

.icon-remove-evo-jaguar:before {
    content: "\e0d9"
}

.icon-repair:before {
    content: "\e0da"
}

.icon-replay:before {
    content: "\e0db"
}

.icon-request-quote-dollar-jaguar:before {
    content: "\e0dc"
}

.icon-request-quote-dollar:before {
    content: "\e0dd"
}

.icon-request-quote-sterling-jaguar:before {
    content: "\e0de"
}

.icon-request-quote-sterling:before {
    content: "\e0df"
}

.icon-right-open-big:before {
    content: "\e0e0"
}

.icon-salespreferred-evo-jaguar:before {
    content: "\e0e1"
}

.icon-save-evo-jaguar:before {
    content: "\e0e2"
}

.icon-search-evo-jaguar:before {
    content: "\e0e3"
}

.icon-search:before {
    content: "\e0e4"
}

.icon-seats-evo-jaguar:before {
    content: "\e0e5"
}

.icon-seats:before {
    content: "\e0e6"
}

.icon-service-evo-jaguar:before {
    content: "\e0e7"
}

.icon-service:before {
    content: "\e0e8"
}

.icon-servicehistory-evo-jaguar:before {
    content: "\e0e9"
}

.icon-servicepreferred-evo-jaguar:before {
    content: "\e0ea"
}

.icon-share-evo-jaguar:before {
    content: "\e0eb"
}

.icon-share-jaguar:before {
    content: "\e0ec"
}

.icon-share:before {
    content: "\e0ed"
}

.icon-shop-evo-jaguar:before {
    content: "\e0ee"
}

.icon-shop-jaguar:before {
    content: "\e0ef"
}

.icon-shop:before {
    content: "\e0f0"
}

.icon-slide-out-icon:before {
    content: "\e0f1"
}

.icon-snowflake-jaguar:before {
    content: "\e0f2"
}

.icon-social-facebook-comment:before {
    content: "\e0f3"
}

.icon-social-facebook-like:before {
    content: "\e0f4"
}

.icon-social-facebook-share:before {
    content: "\e0f5"
}

.icon-social-instagram-comment:before {
    content: "\e0f6"
}

.icon-social-instagram-like:before {
    content: "\e0f7"
}

.icon-social-pinterest-like:before {
    content: "\e0f8"
}

.icon-social-pinterest-pin:before {
    content: "\e0f9"
}

.icon-social-twitter-favourite:before {
    content: "\e0fa"
}

.icon-social-twitter-retweet:before {
    content: "\e0fb"
}

.icon-social_blogger:before {
    content: "\e0fc"
}

.icon-social_douban:before {
    content: "\e0fd"
}

.icon-social_facebook:before {
    content: "\e0fe"
}

.icon-social_google:before {
    content: "\e0ff"
}

.icon-social_instagram:before {
    content: "\e100"
}

.icon-social_jaguarapp:before {
    content: "\e101"
}

.icon-social_linkedin:before {
    content: "\e102"
}

.icon-social_lrapp:before {
    content: "\e103"
}

.icon-social_pinterest:before {
    content: "\e104"
}

.icon-social_renren:before {
    content: "\e105"
}

.icon-social_sinaweibo:before {
    content: "\e106"
}

.icon-social_tumblr:before {
    content: "\e107"
}

.icon-social_twitter:before {
    content: "\e108"
}

.icon-social_vkontakt:before {
    content: "\e109"
}

.icon-social_wechat:before {
    content: "\e10a"
}

.icon-social_whatsapp:before {
    content: "\e10b"
}

.icon-social_youtube:before {
    content: "\e10c"
}

.icon-sound-evo-jaguar:before {
    content: "\e10d"
}

.icon-sound-off:before {
    content: "\e10e"
}

.icon-sound-on:before {
    content: "\e10f"
}

.icon-speed-evo-jaguar:before {
    content: "\e110"
}

.icon-speed-jaguar:before {
    content: "\e111"
}

.icon-speed:before {
    content: "\e112"
}

.icon-standard:before {
    content: "\e113"
}

.icon-stepone-evo-jaguar:before {
    content: "\e114"
}

.icon-stepthree-evo-jaguar:before {
    content: "\e115"
}

.icon-steptwo-evo-jaguar:before {
    content: "\e116"
}

.icon-subtitles-on:before {
    content: "\e117"
}

.icon-subtitles:before {
    content: "\e118"
}

.icon-svo-evo-jaguar:before {
    content: "\e119"
}

.icon-svo:before {
    content: "\e11a"
}

.icon-target-evo-jaguar:before {
    content: "\e11b"
}

.icon-thumbnail_view:before {
    content: "\e11c"
}

.icon-tick-consent-jaguar:before {
    content: "\e11d"
}

.icon-tick-consent-landrover:before {
    content: "\e11e"
}

.icon-tick-jaguar:before {
    content: "\e11f"
}

.icon-tick-landrover:before {
    content: "\e120"
}

.icon-tick-lr:before {
    content: "\e121"
}

.icon-tick:before {
    content: "\e122"
}

.icon-tickcircle-evo-jaguar:before {
    content: "\e123"
}

.icon-tyrepressure-evo-jaguar:before {
    content: "\e124"
}

.icon-usb-evo-jaguar:before {
    content: "\e125"
}

.icon-usb:before {
    content: "\e126"
}

.icon-value-jaguar:before {
    content: "\e127"
}

.icon-value-lr:before {
    content: "\e128"
}

.icon-vehicle-evo-jaguar:before {
    content: "\e129"
}

.icon-vehicleadd-evo-jaguar:before {
    content: "\e12a"
}

.icon-videoguides-evo-jaguar:before {
    content: "\e12b"
}

.icon-view-vehicles:before {
    content: "\e12c"
}

.icon-warning-evo-jaguar:before {
    content: "\e12d"
}

.icon-warning:before {
    content: "\e12e"
}

.icon-washerfluid-evo-jaguar:before {
    content: "\e12f"
}

.icon-xcircle-evo-jaguar:before {
    content: "\e130"
}

.icon-zoom-evo-jaguar:before {
    content: "\e131"
}

.icon-zoom:before {
    content: "\e132"
}

.icon-zoom_in:before {
    content: "\e133"
}

.icon-zoom_out:before {
    content: "\e134"
}

html {
    min-height: 100%;
    position: relative;
    overflow-x: hidden
}

body {
    color: #fff;
    height: 100%;
    background-color: #4a4f54;
    font-size: 14px;
    letter-spacing: .02rem;
    line-height: 1.9rem
}

body:not(.isFullscreen) {
    max-width: 2000px;
    margin: 0 auto
}
strong,
b {
    font-weight: 700
}

em,
i {
    font-style: italic
}

small {
    font-size: 0.78571428571429em
}

small small {
    font-size: 1em
}

sub {
    font-size: 0.78571428571429em
}

sub sub {
    font-size: 1em
}

sup {
    vertical-align: top;
    line-height: 1;
    font-size: 0.6em
}

sup sup {
    font-size: 1em
}

sub {
    vertical-align: sub
}

a {
    color: #fff
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0.7em;
    line-height: 1;
    font-family: "lr_ot4", "arial", "helvetica", sans-serif;
    font-weight: 700;
    color: #0c121c
}
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.clearfix,
.GridListWrapper[data-wrapper="float"] .items {
    *zoom: 1
}

.clearfix:before,
.GridListWrapper[data-wrapper="float"] .items:before,
.clearfix:after,
.GridListWrapper[data-wrapper="float"] .items:after {
    content: " ";
    display: table
}

.clearfix:after,
.GridListWrapper[data-wrapper="float"] .items:after {
    clear: both
}

*,
*:before,
*:after {
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: transparent
}
@media screen and (min-width: 1px) and (max-width: 740px) {
    .section {
        width: 96%
    }
    .el .section {
        width: 100%
    }
}

@media screen and (min-width: 740px) and (max-width: 899px) {
    .section {
        width: 100%;
        min-width: 320px
    }
    .el .section {
        width: 100%
    }
    body .el .el {
        left: 0;
        width: 100%
    }
}

@media screen and (min-width: 901px) {
    .section {
        width: 100%
    }
    .el .section {
        width: 100%
    }
}

.row {
    position: relative
}

.row:after {
    content: "";
    display: table;
    clear: both
}

.row [class*='col-'] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    float: left;
    padding: 10px;
    margin-left: 0
}
@media screen and (min-width: 741px) {
    .onlyOnMobile {
        display: none !important
    }
    .hideOnTablet {
        display: none !important
    }
}
@media screen and (min-width: 1px) and (max-width: 1024px) {
    .headerBox.withImage {
        max-width: 340px
    }
    .headerBox.withImage .headerBoxContent {
        padding: 13px 17px 17px
    }
    .headerBox.onlyHasPrimaryHeading.withImage .headerBoxContent {
        padding-bottom: 14px
    }
    .headerBox .primaryHeading {
        font-size: 26px
    }
    .headerBox .headingTextSub {
        font-size: 14px;
        padding-top: 1px
    }
    .headerBox .caveat {
        margin-top: 15px
    }
    .headerBox .primaryLinkWithStyle {
        margin-top: 14px
    }
    .headerBox .primaryLinkContainer+.secondaryLinkContainer .secondaryLinkWithStyle {
        margin-top: 17px
    }
}



.cmp-subFooter {
	padding: 20px 90px;
	font-size: 11px;
	border-top: 1px solid
}

.cmp-subFooter p {
	padding-bottom: 20px
}

.cmp-subFooter p:last-child {
	padding-bottom: 0
}

.lt-ie9 .cmp-subFooter {
	padding-bottom: 0
}

.cmp-subFooter .cmp-subFooter__container {
    line-height: 1.4rem;
}

@media screen and (min-width: 1px) and (max-width: 900px) {
	.cmp-subFooter {
		padding-left: 40px;
		padding-right: 40px
	}
}

@media screen and (min-width: 1px) and (max-width: 740px) {
	.cmp-subFooter {
		padding-left: 30px;
		padding-right: 30px
	}
}

.cmp-subFooter {
	background-color: #0c121c;
	border-top-color: #30363e;
	color: #a4a7a9
}

.cmp-subFooter a {
	color: #a4a7a9
}

.cmp-subFooter.lightTheme{
    background-color: #fff;
    border-top-color: #e4e8e8;
    color: #4a4f54
}
 
 .cmp-subFooter.lightTheme a {
    color: #4a4f54
}
 
.cmp-subFooter.lightTheme  a:hover {
    color: #a4a7a9
}