<template data-sly-template.primaryNavigation="${@ model, pageConfig}">
   <sly
      data-sly-use.config="${'com.jlr.core.models.SiteConfigModel' @ key='marketregionpricing.dxnav.selectregion,navigation.shared.vehicleDropdownFromText,navigation.shared.vehicleDropdownFromText.overrides_vehicleDropdown,navigation.shared.search.prompt.desktop,navigation.shared.search.prompt.mobile,navigation.shared.search.see-all-results,navigation.shared.search.suggestions,navigation.shared.search.error.link,navigation.shared.search.error.message,navigation.retailer.your.retailer,navigation.retailer.retailers,navigation.profile,navigation.retailer.last.visited.retailer,navigation.retailer.view.your.retailer,navigation.retailer.view.all.retailers,navigation.shared.search.related-searches,navigation.shared.search.pagination.aria-label,navigation.shared.search.results.aria-label,search.next,search.previous'}"
      data-sly-use.commonsTemplates="core/wcm/components/commons/v1/templates.html" id="${component.id}"></sly>
   <div class="dxnav__primary">
      <div class="dxnav__background--desktop"></div>
      <div class="dxnav-mobile-nav-wrapper">
         <button class="dxnav-hamburger" id="dxnav-open-nav-js" aria-expanded="false" aria-haspopup="true"
            aria-label="${model.mobileBurgerAriaLabel}">
            <span class="dxnav-hamburger__menu">
               <span class="dxnav-hamburger__bar"></span>
               <span class="dxnav-hamburger__bar"></span>
               <span class="dxnav-hamburger__bar"></span> </span> </button>
         <a href="${model.logoImageLink}" class="dxnav__logo">
            <sly data-sly-test="${model.logoImageAlt}">
               <img src="/etc.clientlibs/jlr/clientlibs/clientlib-libs/resources/logo/logo.png"
               alt="${model.logoImageAlt}">
            </sly>
            <sly data-sly-test="${!model.logoImageAlt}">
               <img src="/etc.clientlibs/jlr/clientlibs/clientlib-libs/resources/logo/logo.png"
               alt=" ">
            </sly>
         </a>
         <div class="dxnav__mobile-icons">
            <sly data-sly-test="${pageConfig.marketRegionPath}">
               <a class="dxnav__mobile-icons-prices cmp-marketButton MarketRegionalPricing-triggerer" href="#"
                  aria-label="${config.configMap['marketregionpricing.dxnav.selectregion']}" aria-haspopup="dialog"
                  role="button">
                  <svg class="dxnav-icon">
                     <use xlink:href="#Show_Prices"></use>
                  </svg>
               </a>
            </sly>
            <a class="dxnav__mobile-icons-search" href="#" aria-label="${model.searchAriaLabel}" aria-expanded="false"
               aria-haspopup="dialog" role="button">
               <svg class="dxnav-icon">
                  <use xlink:href="#Search"></use>
               </svg>
            </a>
            <a data-sly-test="${model.retailerLink}" href="${model.retailerLink}" class="dxnav__mobile-icons-retailer" aria-label="${model.retailerAriaLabel}"
               target="_self">
               <svg class="dxnav-icon">
                  <use xlink:href="#Location"></use>
               </svg>
            </a>
            <sly data-sly-test="${model.enableCustPortal}">
               <div class="dxnav__zone-mobile" aria-label="${model.custPortalAriaLabel}" href="${model.custPortalLink}">
               </div>
            </sly>
         </div>
      </div>
      <div class="dxnav__container">
         <div class="dxnav__background"></div>
         <div class="dxnav dxnav__primary-items">
            <ul>
               <li data-sly-test="${model.vehicleNavPageTitle}" class="dxnav__item dxnav-has-dropdown-js"
                  id="dxnav-build-dropdown-label-0" data-dropdown="dxnav-vehicle-dropdown-0">
                  <a href="#" target="_self" aria-label="${model.vehicleNavPageArialabel}" aria-expanded="true"
                     aria-haspopup="dialog" role="button">
                     <span>${model.vehicleNavPageTitle}</span>
                     <svg class="dxnav-icon">
                        <use xlink:href="#Directional_Right"></use>
                     </svg>
                  </a>
               </li>
               <li data-sly-test="${model.navPageTitleOne}" class="dxnav__item dxnav-has-dropdown-js "
                  id="dxnav-build-dropdown-label-1" data-dropdown="dxnav-build-dropdown-1">
                  <a href="#" target="_self" aria-label="${model.navPageAriaLabelOne}" aria-expanded="false"
                     aria-haspopup="dialog" role="button">
                     <span>${model.navPageTitleOne}</span>
                     <svg class="dxnav-icon">
                        <use xlink:href="#Directional_Right"></use>
                     </svg>
                  </a>
               </li>
               <li data-sly-test="${model.navPageTitleTwo}" class="dxnav__item dxnav-has-dropdown-js "
                  id="dxnav-build-dropdown-label-2" data-dropdown="dxnav-build-dropdown-2">
                  <a href="#" target="_self" aria-label="${model.navPageAriaLabelTwo}" aria-expanded="false"
                     aria-haspopup="dialog" role="button">
                     <span>${model.navPageTitleTwo}</span>
                     <svg class="dxnav-icon">
                        <use xlink:href="#Directional_Right"></use>
                     </svg>
                  </a>
               </li>
               <li data-sly-test="${model.navPageTitleThree}" class="dxnav__item dxnav-has-dropdown-js "
                  id="dxnav-build-dropdown-label-3" data-dropdown="dxnav-build-dropdown-3">
                  <a href="#" target="_self" aria-label="${model.navPageAriaLabelThree}" aria-expanded="false"
                     aria-haspopup="dialog" role="button">
                     <span>${model.navPageTitleThree}</span>
                     <svg class="dxnav-icon">
                        <use xlink:href="#Directional_Right"></use>
                     </svg>
                  </a>
               </li>
            </ul>
         </div>
         <div class="dxnav dxnav__secondary-items">
            <ul>
               <sly data-sly-test="${pageConfig.marketRegionPath}">
                  <li class="dxnav__item dxnav__item-showprices" data-market-region="${pageConfig.marketRegionPath}">
                     <a class="dxnav-showprices cmp-marketButton MarketRegionalPricing-triggerer" href="#"
                        aria-label="${config.configMap['marketregionpricing.dxnav.selectregion']}" aria-expanded="false"
                        aria-haspopup="dialog" role="button">
                        <svg class="dxnav-icon ${pageConfig.state=='' ? '' : 'dxnav-hide-desktop'}">
                           <use xlink:href="#Show_Prices"></use>
                        </svg>
                        <span data-sly-test="${pageConfig.state}"
                           class="dxnav__item-prices-region-text">${pageConfig.state}</span>
                        <span
                           class="dxnav__item-prices-label dxnav-hide-desktop">${config.configMap['marketregionpricing.dxnav.selectregion']}</span>
                     </a>
                  </li>
               </sly>
               <li id="dxnav-search" class="dxnav__item dxnav__item-search" data-dropdown="dxnav__search"
                   data-search-results-url="/content/misc/search.html?locale=">
                  <a class="dxnav-search" href="#" aria-label="${model.searchAriaLabel}" aria-expanded="false"
                     aria-haspopup="dialog" role="button">
                     <svg class="dxnav-icon">
                        <use xlink:href="#Search"></use>
                     </svg>
                     <span class="dxnav__item-search-label dxnav-hide-desktop">${config.configMap['navigation.shared.search.prompt.desktop']}</span>
                  </a>
               </li>
               <li  data-sly-test="${model.retailerLink}" class="dxnav__item dxnav__item-retailer" data-retailer-nav-text="${config.configMap['navigation.retailer.your.retailer']}">
                  <a href="${model.retailerLink}" aria-label="${model.retailerAriaLabel}" target="_self"
                     class="dxnav__item-retailer--link">
                     <svg class="dxnav-icon dxnav-icon__retailer">
                        <use xlink:href="#Location"></use>
                     </svg>
                     <svg class="dxnav-icon dxnav-icon__your-retailer dxnav-hide">
                        <use xlink:href="#Search"></use>
                     </svg>
                     <span class="dxnav__item-retailer-label dxnav-hide-desktop">${config.configMap['navigation.retailer.retailers']}</span>
                  </a>
               </li>
               <li class="dxnav__item dxnav__item--mobile-only">
                  <a href="#" class="dxnav-hide dxnav__item--sso-mobile-link" target="_self">
                     <svg class="dxnav-icon dxnav-sso-logged-in">
                        <use xlink:href="#Login"></use>
                     </svg>
                     <span class="dxnav-sso-logged-in"></span>
                     <svg class="dxnav-icon dxnav-sso-logged-out">
                        <use xlink:href="#Login"></use>
                     </svg>
                     <span class="dxnav-sso-logged-out"></span>
                  </a>
               </li>


               <li class="dxnav__item dxnav__zone">
                  <sly data-sly-test="${model.enableCustPortal != 'true'}">
                     <a class="dxnav-profile" href="${model.custPortalLink}" aria-label="${model.custPortalAriaLabel}"
                        style="display:none" aria-expanded="false" aria-haspopup="dialog" role="button">
                  </sly>
                  <sly data-sly-test="${model.enableCustPortal == 'true'}">
                     <a class="dxnav-profile" href="${model.custPortalLink}" aria-label="${model.custPortalAriaLabel}"
                        aria-expanded="false" aria-haspopup="dialog" role="button">
                  </sly>
                  <svg class="dxnav-icon">
                     <use xlink:href="#Login"></use>
                  </svg>
                  <span class="dxnav__item-profile dxnav-hide-desktop">${config.configMap['navigation.profile']}</span>
                  </a>
               </li>


            </ul>
         </div>
      </div>
      <div class="dxnav__dropdown-overlay"></div>
      <div class="dxnav__dropdown-container">
         <section class="dxnav-vehicle-dropdown-shortcuts" role="dialog" aria-modal="true" data-direction="ltr">
            <div class="dxnav-vehicle-dropdown-shortcuts__container">
               <div class="dxnav-vehicle-dropdown-shortcuts__header">
                  <button class="dxnav-vehicle-dropdown-shortcuts__close-button" aria-label="Close item"
                     data-modal-close>
                     <svg class="dxnav-icon">
                        <use xlink:href="#Close"></use>
                     </svg>
                  </button>
               </div>
               <div class="dxnav-vehicle-dropdown-shortcuts__content">
                  <h2 class="dxnav-vehicle-dropdown-shortcuts__title">KEYBOARD SHORTCUTS</h2>
                  <ul class="dxnav-vehicle-dropdown-shortcuts__key-list">
                     <li class="dxnav-vehicle-dropdown-shortcuts__key-item">
                        <div class="dxnav-vehicle-dropdown-shortcuts__key-container">
                           <div
                              class="dxnav-vehicle-dropdown-shortcuts__key dxnav-vehicle-dropdown-shortcuts__key--unicode">
                              <span role="img" aria-label="Up arrow">↑</span> </div>
                        </div>
                        <div class="dxnav-vehicle-dropdown-shortcuts__key-desc"> <span>Navigate up through the
                              vehicles.</span> </div>
                     </li>
                     <li class="dxnav-vehicle-dropdown-shortcuts__key-item">
                        <div class="dxnav-vehicle-dropdown-shortcuts__key-container">
                           <div
                              class="dxnav-vehicle-dropdown-shortcuts__key dxnav-vehicle-dropdown-shortcuts__key--unicode">
                              <span role="img" aria-label="Down arrow">↓</span> </div>
                        </div>
                        <div class="dxnav-vehicle-dropdown-shortcuts__key-desc"> <span>Navigate down through the
                              vehicles.</span> </div>
                     </li>
                     <li class="dxnav-vehicle-dropdown-shortcuts__key-item">
                        <div class="dxnav-vehicle-dropdown-shortcuts__key-container">
                           <div
                              class="dxnav-vehicle-dropdown-shortcuts__key dxnav-vehicle-dropdown-shortcuts__key--unicode">
                              <span role="img" aria-label="Left arrow">←</span> </div>
                        </div>
                        <div class="dxnav-vehicle-dropdown-shortcuts__key-desc"> <span>Navigate left through the
                              vehicles information.</span> </div>
                     </li>
                     <li class="dxnav-vehicle-dropdown-shortcuts__key-item">
                        <div class="dxnav-vehicle-dropdown-shortcuts__key-container">
                           <div
                              class="dxnav-vehicle-dropdown-shortcuts__key dxnav-vehicle-dropdown-shortcuts__key--unicode">
                              <span role="img" aria-label="Right arrow">→</span> </div>
                        </div>
                        <div class="dxnav-vehicle-dropdown-shortcuts__key-desc"> <span>Navigate right through the
                              vehicles information.</span> </div>
                     </li>
                     <li class="dxnav-vehicle-dropdown-shortcuts__key-item">
                        <div class="dxnav-vehicle-dropdown-shortcuts__key-container">
                           <div
                              class="dxnav-vehicle-dropdown-shortcuts__key dxnav-vehicle-dropdown-shortcuts__key--text">
                              <span role="img" aria-label="Escape">ESC</span> </div>
                        </div>
                        <div class="dxnav-vehicle-dropdown-shortcuts__key-desc"> <span>Close the whole vehicle
                              panel.</span> </div>
                     </li>
                     <li class="dxnav-vehicle-dropdown-shortcuts__key-item">
                        <div class="dxnav-vehicle-dropdown-shortcuts__key-container">
                           <div
                              class="dxnav-vehicle-dropdown-shortcuts__key dxnav-vehicle-dropdown-shortcuts__key--text">
                              <span role="img" aria-label="Space">SPACE</span> </div>
                        </div>
                        <div class="dxnav-vehicle-dropdown-shortcuts__key-desc"> <span>Open the vehicle information
                              panel.</span> </div>
                     </li>
                     <li class="dxnav-vehicle-dropdown-shortcuts__key-item">
                        <div class="dxnav-vehicle-dropdown-shortcuts__key-container">
                           <div
                              class="dxnav-vehicle-dropdown-shortcuts__key dxnav-vehicle-dropdown-shortcuts__key--unicode">
                              <span role="img" aria-label="Question mark">?</span> </div>
                        </div>
                        <div class="dxnav-vehicle-dropdown-shortcuts__key-desc"> <span>Open this panel</span> </div>
                     </li>
                  </ul>
               </div>
               <div class="dxnav-vehicle-dropdown-shortcuts__footer"></div>
            </div>
            <div class="dxnav-vehicle-dropdown-shortcuts__background" data-modal-close></div>
         </section>
         <div class="dxnav__dropdown">
            <sly data-sly-test="${model.vehicleNavPageTitle}">
               <div id="dxnav-vehicle-dropdown-0" aria-modal="true" role="dialog"
                  class="dxnav-dropdown dxnav-primary-dropdown dxnav-naas-primary-dropdown dxnav-naas-vehicle-dropdown dxnav-dropdown--dropdown">
                  <div class="dxnav-vehicle-dropdown-shortcuts__instructions" style="display: none;"
                     id="dxnav-vehicle-dropdown-shortcuts__instructions"></div>
                  <div class="dxnav-links-dropdown__container dxnav-links-dropdown__container--desktop" role="document">
                     <div class="dxnav-vehicle-nav-desktop"
                        data-dxnav-dropdown-from-text="${config.configMap['navigation.shared.vehicleDropdownFromText.overrides_vehicleDropdown']}"
                        data-dxnav-dropdown-from-lease-text="??navigation.shared.vehicleDropdownFromLeaseText_en_AU??"
                        data-dx-modals-closedialog-aria-label="Close item">
                        <div class="dxnav-dropdown-primary-tabs" data-naastabs-id="vehicle-dropdown">
                           <div role="tablist"
                              class="dxnav-dropdown-primary-tabs__tablist dxnav-dropdown-primary-tabs__tablist--visible"
                              aria-orientation="horizontal">
                              <sly data-sly-test="${model.vehicleTabName}"
                                 data-sly-list.tabName="${model.vehicleTabName}">
                                 <button role="tab" class="dxnav-dropdown-primary-tabs__tab" aria-label="${tabName}">
                                    <span class="dxnav-dropdown-primary-tabs__tab-text">${tabName}</span> </button>
                              </sly>
                           </div>
                           <div class="dxnav-dropdown-primary-tabs__close-menu">
                              <button class="dxnav-dropdown__desktop-close-button dxnav-links-dropdown__desktop-close"
                                 aria-label="Close item">
                                 <svg class="dxnav-icon">
                                    <use xlink:href="#Close"></use>
                                 </svg>
                              </button>
                           </div>
                        </div>
                        <div data-sly-test="${model.vehicleNavPagePath}" class="dxnav-dropdown-primary-tabs__panels"
                           data-naastabs-panels-id="vehicle-dropdown">
                           <sly
                              data-sly-resource="${model.vehicleNavPagePath @appendPath='/jcr:content/root/container'}" />
                        </div>
                     </div>
                  </div>
                  <div class="dxnav-links-dropdown__container dxnav-links-dropdown__mobile" role="document">
                     <div class="dxnav-links-dropdown">
                        <div class="dxnav-links-dropdown__section-container">
                           <button data-sly-test="${model.vehicleNavPageTitle}"
                              class="dxnav-dropdown__close-button dxnav-close-dropdown-js"
                              aria-label="??navigation.shared.menu.back_en_AU??">
                              <svg class="dxnav-icon">
                                 <use xlink:href="#Arrow_Left"></use>
                              </svg>
                              ${model.vehicleNavPageTitle}
                           </button>
                           <sly data-sly-test="${model.vehicleNavPagePath}">
                              <sly
                                 data-sly-resource="${model.vehicleNavPagePath @appendPath='/jcr:content/root/container',selectors='vehiclecategorymobile'}" />
                           </sly>
                        </div>
                     </div>
                  </div>
                  <sly data-sly-list.path="${model.vehicleCardJson}">
                     <sly
                        data-sly-resource="${path @appendPath='/jcr:content/root/container/vehiclecardcontainer',selectors='vehiclecardcontainerjson',context='html'}" />
                  </sly>
               </div>
            </sly>
            <sly data-sly-test="${model.navPageTitleOne}">
               <div id="dxnav-build-dropdown-1" aria-modal="true" role="dialog"
                  class="dxnav-dropdown dxnav-primary-dropdown dxnav-naas-primary-dropdown">
                  <div class="dxnav-links-dropdown__container" role="document">
                     <!-- Mobile Section -->
                     <div class="dxnav-links-dropdown">
                        <div data-sly-test="${model.navPagePathOne}" class="dxnav-links-dropdown__section-container">
                           <button class="dxnav-dropdown__close-button dxnav-close-dropdown-js"
                              aria-label="??navigation.shared.menu.back_en_AU??">
                              <svg class="dxnav-icon">
                                 <use xlink:href="#Arrow_Left"></use>
                              </svg>
                              <span data-sly-test="${model.navPageTitleOne}"
                                 class="dxnav-dropdown__close-text">${model.navPageTitleOne}</span>
                           </button>
                           <sly
                              data-sly-resource="${model.navPagePathOne @appendPath='/jcr:content/root/container',selectors='megadropdownmobile'}" />
                           <div data-sly-test="${model.pageOneQuickLink}"
                              class="dxnav-quick-links dxnav-quick-links--mobile-level-2" data-links-total="5">
                              <sly data-sly-list.item="${model.pageOneQuickLink}">
                                 <div class="dxnav-quick-links__item">
                                    <a href="${item.quickLinksCopyCtaLink}"
                                       data-target="${item.quickLinksCopyCtaTarget}"
                                       target="${item.quickLinksCopyCtaTarget}" class="dxnav-quick-links__link">
                                       <div class="dxnav-quick-links__icon">
                                          <svg class="dxnav-icon">
                                             <use xlink:href="#${item.quickLinksCopyCtaIcon}"></use>
                                          </svg>
                                       </div>
                                       <h3 class="dxnav-quick-links__title">${item.quickLinksCtaText}</h3>
                                    </a>
                                 </div>
                              </sly>
                           </div>
                        </div>
                     </div>
                     <!-- Desktop Section -->
                     <div class="dxnav-dropdown-primary-tabs" data-naastabs-id="primary-dropdown-1">
                        <div data-sly-test="${model.primaryNavSecTabOne}" role="tablist"
                           class="dxnav-dropdown-primary-tabs__tablist dxnav-dropdown-primary-tabs__tablist--visible"
                           aria-orientation="horizontal" data-sly-list.nav="${model.primaryNavSecTabOne}">
                           <button role="tab" class="dxnav-dropdown-primary-tabs__tab"> <span
                                 class="dxnav-dropdown-primary-tabs__tab-text">${nav}</span> </button>
                        </div>
                        <div class="dxnav-dropdown-primary-tabs__close-menu">
                           <button class="dxnav-dropdown__desktop-close-button dxnav-links-dropdown__desktop-close"
                              aria-label="Close item">
                              <svg class="dxnav-icon">
                                 <use xlink:href="#Close"></use>
                              </svg>
                           </button>
                        </div>
                     </div>
                     <div data-sly-test="${model.navPagePathOne}" class="dxnav-dropdown-primary-tabs__panels"
                        data-naastabs-panels-id="primary-dropdown-1">
                        <sly data-sly-resource="${model.navPagePathOne @appendPath='/jcr:content/root/container'}" />
                     </div>
                  </div>
               </div>
            </sly>
            <sly data-sly-test="${model.navPageTitleTwo}">
               <div id="dxnav-build-dropdown-2" aria-modal="true" role="dialog"
                  class="dxnav-dropdown dxnav-primary-dropdown dxnav-naas-primary-dropdown">
                  <div class="dxnav-links-dropdown__container" role="document">
                     <!-- Mobile Section -->
                     <div class="dxnav-links-dropdown">
                        <div data-sly-test="${model.navPagePathTwo}" class="dxnav-links-dropdown__section-container">
                           <button class="dxnav-dropdown__close-button dxnav-close-dropdown-js"
                              aria-label="??navigation.shared.menu.back_en_AU??">
                              <svg class="dxnav-icon">
                                 <use xlink:href="#Arrow_Left"></use>
                              </svg>
                              <span data-sly-test="${model.navPageTitleTwo}"
                                 class="dxnav-dropdown__close-text">${model.navPageTitleTwo}</span>
                           </button>
                           <sly
                              data-sly-resource="${model.navPagePathTwo @appendPath='/jcr:content/root/container',selectors='megadropdownmobile'}" />
                           <div data-sly-test="${model.pageTwoQuickLink}"
                              class="dxnav-quick-links dxnav-quick-links--mobile-level-2" data-links-total="5">
                              <sly data-sly-list.item="${model.pageTwoQuickLink}">
                                 <div class="dxnav-quick-links__item">
                                    <a href="${item.quickLinksCopyCtaLink}"
                                       data-target="${item.quickLinksCopyCtaTarget}"
                                       target="${item.quickLinksCopyCtaTarget}" class="dxnav-quick-links__link">
                                       <div class="dxnav-quick-links__icon">
                                          <svg class="dxnav-icon">
                                             <use xlink:href="#${item.quickLinksCopyCtaIcon}"></use>
                                          </svg>
                                       </div>
                                       <h3 class="dxnav-quick-links__title">${item.quickLinksCtaText}</h3>
                                    </a>
                                 </div>
                              </sly>
                           </div>
                        </div>
                     </div>
                     <!-- Desktop Section -->
                     <div class="dxnav-dropdown-primary-tabs" data-naastabs-id="primary-dropdown-2">
                        <div data-sly-test="${model.primaryNavSecTabTwo}" role="tablist"
                           class="dxnav-dropdown-primary-tabs__tablist dxnav-dropdown-primary-tabs__tablist--visible"
                           aria-orientation="horizontal" data-sly-list.nav="${model.primaryNavSecTabTwo}">
                           <button role="tab" class="dxnav-dropdown-primary-tabs__tab"> <span
                                 class="dxnav-dropdown-primary-tabs__tab-text">${nav}</span> </button>
                        </div>
                        <div class="dxnav-dropdown-primary-tabs__close-menu">
                           <button class="dxnav-dropdown__desktop-close-button dxnav-links-dropdown__desktop-close"
                              aria-label="Close item">
                              <svg class="dxnav-icon">
                                 <use xlink:href="#Close"></use>
                              </svg>
                           </button>
                        </div>
                     </div>
                     <div data-sly-test="${model.navPagePathTwo}" class="dxnav-dropdown-primary-tabs__panels"
                        data-naastabs-panels-id="primary-dropdown-2">
                        <sly data-sly-resource="${model.navPagePathTwo @appendPath='/jcr:content/root/container'}" />
                     </div>
                  </div>
               </div>
            </sly>
            <sly data-sly-test="${model.navPageTitleThree}">
               <div id="dxnav-build-dropdown-3" aria-modal="true" role="dialog"
                  class="dxnav-dropdown dxnav-primary-dropdown dxnav-naas-primary-dropdown">
                  <div class="dxnav-links-dropdown__container" role="document">
                     <!-- Mobile Section -->
                     <div class="dxnav-links-dropdown">
                        <div data-sly-test="${model.navPagePathThree}" class="dxnav-links-dropdown__section-container">
                           <button class="dxnav-dropdown__close-button dxnav-close-dropdown-js"
                              aria-label="??navigation.shared.menu.back_en_AU??">
                              <svg class="dxnav-icon">
                                 <use xlink:href="#Arrow_Left"></use>
                              </svg>
                              <span class="dxnav-dropdown__close-text">${model.navPageTitleThree}</span>
                           </button>
                           <sly
                              data-sly-resource="${model.navPagePathThree @appendPath='/jcr:content/root/container',selectors='megadropdownmobile'}" />
                           <div data-sly-test="${model.pageThreeQuickLink}"
                              class="dxnav-quick-links dxnav-quick-links--mobile-level-2" data-links-total="5">
                              <sly data-sly-list.item="${model.pageThreeQuickLink}">
                                 <div class="dxnav-quick-links__item">
                                    <a href="${item.quickLinksCopyCtaLink}"
                                       data-target="${item.quickLinksCopyCtaTarget}"
                                       target="${item.quickLinksCopyCtaTarget}" class="dxnav-quick-links__link">
                                       <div class="dxnav-quick-links__icon">
                                          <svg class="dxnav-icon">
                                             <use
                                                xlink:href="#${item.quickLinksCopyCtaTarget=='_overlay' ? '': item.quickLinksCopyCtaIcon}">
                                             </use>
                                          </svg>
                                       </div>
                                       <h3 class="dxnav-quick-links__title">${item.quickLinksCtaText}</h3>
                                    </a>
                                 </div>
                              </sly>
                           </div>
                        </div>
                     </div>
                     <!-- Desktop Section -->
                     <div class="dxnav-dropdown-primary-tabs" data-naastabs-id="primary-dropdown-3">
                        <div role="tablist"
                           class="dxnav-dropdown-primary-tabs__tablist dxnav-dropdown-primary-tabs__tablist--visible"
                           aria-orientation="horizontal" data-sly-list.nav="${model.primaryNavSecTabThree}">
                           <button role="tab" class="dxnav-dropdown-primary-tabs__tab"> <span
                                 class="dxnav-dropdown-primary-tabs__tab-text">${nav}</span> </button>
                        </div>
                        <div class="dxnav-dropdown-primary-tabs__close-menu">
                           <button class="dxnav-dropdown__desktop-close-button dxnav-links-dropdown__desktop-close"
                              aria-label="Close item">
                              <svg class="dxnav-icon">
                                 <use xlink:href="#Close"></use>
                              </svg>
                           </button>
                        </div>
                     </div>
                     <div data-sly-test="${model.navPagePathThree}" class="dxnav-dropdown-primary-tabs__panels"
                        data-naastabs-panels-id="primary-dropdown-3">
                        <sly data-sly-resource="${model.navPagePathThree @appendPath='/jcr:content/root/container'}" />
                     </div>
                  </div>
               </div>
            </sly>
         </div>
      </div>
      <div id="dxnav__search" class="dxnav__search-container dxnav-dropdown" role="dialog"
         aria-labelledby="dxnav-searchInput" aria-hidden="true">
         <div class="dxnav-search__bar-container">
            <div class="dxnav-search-icon">
               <svg class="dxnav-icon">
                  <use xlink:href="#Search"></use>
               </svg>
            </div>
            <form id="dxnav__search-form" accept-charset="ISO-8859-15">
               <input name="iehack" type="hidden" value="☠">
               <label class="dxnav-visuallyHidden" for="dxnav-searchInput">${config.configMap['navigation.shared.search.prompt.desktop']}</label>
               <input id="dxnav-searchInput" type="text" class="dxnav-search-input" autocomplete="off"
                  inputmode="search" placeholder="${config.configMap['navigation.shared.search.prompt.desktop']}">
               <button class="dxnav-cta-primary dxnav-search__submit-button" type="submit" disabled="">
                  <div class="dxnav-search__submit-button__mobile-icon">
                     <svg class="dxnav-icon">
                        <use xlink:href="#Search"></use>
                     </svg>
                  </div>
                  <span class="dxnav-search__submit-button__desktop-text">${config.configMap['navigation.shared.search.prompt.desktop']}</span>
               </button>
            </form>
            <span class="dxnav-search-prompt-desktop">${config.configMap['navigation.shared.search.prompt.desktop']}</span>
            <span class="dxnav-search-prompt-mobile">${config.configMap['navigation.shared.search.prompt.mobile']}</span>
            <button id="dxnav-close-search" aria-label="Close item" class="dxnav-search-close">
               <svg class="dxnav-icon">
                  <use xlink:href="#Close"></use>
               </svg>
            </button>
         </div>
         <div class="dxnav-search-results-container">
            <div class="dxnav-search-status"></div>
            <div class="dxnav-suggestions" role="alert" aria-atomic="true">
               <a class="dxnav-see-all" href="#"><span>${config.configMap['navigation.shared.search.see-all-results']}</span></a>
               <!-- h2 class="dxnav-suggestions__title" th:text="#{navigation.shared.search.suggestions}">SUGGESTIONS</h2 -->
               <ul class="dxnav-suggestions__results"></ul>
            </div>
            <div class="dxnav-no__results">
               <h2 class="dxnav-suggestions__title">${config.configMap['navigation.shared.search.suggestions']}
               </h2>
            </div>
            <div class="dxnav-search__error" role="alert" aria-atomic="true">
               <p class="dxnav-search__error-message">${config.configMap['navigation.shared.search.error.message']}</p>
               <a href="#" class="dxnav-search__error-link">${config.configMap['navigation.shared.search.error.link']}</a>
            </div>
            <div class="dxnav-search__results">
               <div class="dxnav-search__results-title" role="status" aria-live="polite">
                  <h2 class="dxnav-results-count"></h2>
               </div>
               <div class="dxnav-search__results-content" aria-busy="false" aria-live="polite" tab-index="-1"
                  aria-label="${config.configMap['navigation.shared.search.results.aria-label']}">
                  <div class="dxnav-search-results">
                     <div class="dxnav-loader">
                        <div class="dxnav-icon__holder">
                           <svg class="dxnav-icon">
                              <use xlink:href="#Spinner"></use>
                           </svg>
                        </div>
                     </div>
                     <div id="dxnav-search-result" class="dxnav-search-result"></div>
                  </div>
                  <!-- div class="dxnav-related-search-results">
                           <h3 class="dxnav-related-searches-title" th:text="#{navigation.shared.search.related-searches}">${config.configMap['navigation.shared.search.related-searches']}</h3>
                           <div class="dxnav-related-search-term-container"></div>
                           </div -->
               </div>
               <div class="dxnav-search__results-footer ">
                  <!-- <div class="dxnav-search-results-footer">
                           <button class="dxnav-search__prev" th:aria-label="#{search.previous}">
                             <svg class="dxnav-icon"><use xlink:href="/icons-sprite-landrover.svg#Close" nav:icon="Chevron_Left"></use></svg>
                           </button>
                           <span class="dxnav__search-currentPage">0</span><span>/</span><span class="dxnav__search-maxPage">0</span>
                           <button class="dxnav-search__next" th:aria-label="#{search.next}">
                             <svg class="dxnav-icon"><use xlink:href="/icons-sprite-landrover.svg#Close" nav:icon="Chevron_Right"></use></svg>
                           </button>
                           </div> -->
                  <nav role="navigation" class="dxnav-search__results-pagination" aria-label="${config.configMap['navigation.shared.search.pagination.aria-label']}"
                     data-button-label="??navigation.shared.search.pagination.button.label_en_AU??"
                     data-first-label="??navigation.shared.search.pagination.first-button.label_en_AU??"
                     data-last-label="??navigation.shared.search.pagination.last-button.label_en_AU??">
                     <button class="dxnav-search__prev" aria-label="${config.configMap['search.previous']}">
                        <svg class="dxnav-icon">
                           <use xlink:href="#Chevron_Left"></use>
                        </svg>
                     </button>
                     <ul class="dxnav-search__pagination-list"></ul>
                     <button class="dxnav-search__next" aria-label="${config.configMap['search.next']}">
                        <svg class="dxnav-icon">
                           <use xlink:href="#Chevron_Right"></use>
                        </svg>
                     </button>
                  </nav>
                  <div class="dxnav-search__notification-area dxnav-visuallyHidden" aria-live="assertive"
                     aria-atomic="true"
                     data-current-page-label="??navigation.shared.search.pagination.current-page.label_en_AU??"></div>
               </div>
               <br><br>
            </div>
         </div>
      </div>
      <sly data-sly-test="${model.enableLastVisited}">
         <div class="dxnav-retailer" data-direction="ltr">
            <button class="dxnav-dropdown__close-button dxnav-retailer__mobile-close-button dxnav-hide"
               aria-label="Previous Menu">
               <svg class="dxnav-icon">
                  <use xlink:href="#Arrow_Left"></use>
               </svg>
               ${config.configMap['navigation.retailer.your.retailer']}
            </button>
            <button class="dxnav-dropdown__close-button dxnav-retailer__non-menu-close" aria-label="close dialog">
               <svg class="dxnav-icon">
                  <use xlink:href="#Close"></use>
               </svg>
               ${config.configMap['navigation.retailer.your.retailer']}
            </button>
            <button class="dxnav-retailer__close dxnav-links-dropdown__desktop-close" aria-label="close dialog">
               <svg class="dxnav-icon">
                  <use xlink:href="#Close"></use>
               </svg>
            </button>
            <div class="dxnav-retailer__content">
               <p class="dxnav-retailer__slug">${config.configMap['navigation.retailer.last.visited.retailer']}</p>
               <p class="dxnav-retailer__title">xxx</p>
               <a href="#" class="dxnav-cta-primary"> <span> <span class="dxnav-retailer__cta-text">${config.configMap['navigation.retailer.view.your.retailer']}</span> </span> </a>
               <a href="https://www.landrover.com.au/national-dealer-locator.html" class="dxnav-cta-secondary"
                  target="_self">
                  <svg class="dxnav-icon">
                     <use xlink:href="#Directional_Right"></use>
                  </svg>
                  <span class="dxnav-link">${config.configMap['navigation.retailer.view.all.retailers']}</span>
               </a>
            </div>
         </div>
      </sly>
   </div>

   <sly data-sly-include="headericons.html"></sly>

   <sly data-sly-call="${commonsTemplates.placeholder @ isEmpty = !hasContent}"></sly>
</template>