.TabbedContainer .cmp-carousel.cmp-fullframe-carousel {
  min-height: 0;
}
.cmp-carousel.cmp-fullframe-carousel {
  margin: 60px 60px 0px 60px;
  min-height: 600px;
  max-height: 100%;
  text-align: center;
  position: relative;
  overflow: hidden;
}
.cmp-fullframe-carousel .cmp-carousel__slider {
  height: 100%;
  width: 100%;
  outline: 0;
}
.cmp-carousel__tabImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.cmp-carousel__bgImage {
  display: block;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.cmp-fullframe-carousel .cmp-carousel__controls {
  z-index: 1;
  padding: 4px 0 39px 0;
  justify-content: center;
}
.cmp-fullframe-carousel .cmp-carousel__controls--hidden {
  display: none;
}
#landrover .cmp-fullframe-carousel .secondaryLinkWithStyle,
#landrover .cmp-fullframe-carousel .primaryLinkWithStyle{
margin-bottom: 0;
}

@media screen and (min-width: 741px) {
  .cmp-fullframe-carousel .cmp-carousel__controls {
    padding: 0;
    left: 48px;
    right: auto;
    bottom: 48px;
    position: absolute;
    justify-content: left;
  }
}
@media screen and (min-width: 901px) {
  .cmp-fullframe-carousel .cmp-carousel__controls {
    left: 90px;
  }
}
.cmp-carousel .swiper-button {
  display: block;
}
.cmp-carousel .swiper-button[aria-disabled="true"] {
  display: none;
}
.cmp-carousel .headerBox.withImage .headerBoxContent {
  background-color: transparent;
}
.cmp-carousel .fullFrameContent {
}
.cmp-carousel.youtubepresent {
  min-height: initial;
}
.cmp-carousel.youtubepresent .carousel {
  min-height: initial;
}
.cmp-carousel.youtubepresent .cmp-genericItem__element-poster {
  min-height: calc(((100vw - 15px) / 16) * 9);
}
.cmp-carousel .tab-content {
  display: none;
}
.cmp-carousel .VideoPlayer.paused .mejs-overlay-play,
.cmp-carousel .VideoPlayer.finished .mejs-overlay-play {
  width: 100%;
}
.cmp-carousel .VideoPlayer.paused .mediaOverlay,
.cmp-carousel .VideoPlayer.finished .mediaOverlay {
  display: block;
}
@media screen and (min-width: 1px) and (max-width: 1900px) {
  .cmp-carousel .VideoPlayer.paused .mediaOverlay,
  .cmp-carousel .VideoPlayer.finished .mediaOverlay {
    position: relative;
  }
}
.cmp-carousel .YouTubeGalleryAsset {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.cmp-carousel .YouTubeGalleryAsset > h4,
.cmp-carousel .YouTubeGalleryAsset > p {
  display: none;
}
.cmp-carousel .YouTubeGalleryAsset .youTubePlayerFFCMask {
  position: absolute;
  width: 100%;
  height: calc(100% - 50px);
  top: 0;
  left: 0;
  z-index: 2;
}
.cmp-carousel .YouTubeGalleryAsset .YouTubePlayer {
  display: block;
  padding: 0;
  top: 0;
  left: 0;
  position: absolute;
}
@media screen and (min-width: 1px) and (max-width: 1900px) {
  .cmp-carousel .YouTubeGalleryAsset .YouTubePlayer {
    position: relative;
    height: 55vw;
    width: 100%;
  }
}
.cmp-carousel .YouTubeGalleryAsset .mediaOverlay {
  z-index: 3;
}
.cmp-carousel .YouTubeGalleryAsset .playerWrapper {
  top: 50%;
  left: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.cmp-carousel .YouTubeGalleryAsset .playerWrapper .placeholderVideo {
  z-index: 1;
  width: 100%;
  height: 100%;
}
.cmp-carousel .YouTubeGalleryAsset .playerWrapper > a {
  display: none !important;
}
@media screen and (min-width: 741px) {
  .cmp-carousel .YouTubeGalleryAsset .playerWrapper {
    top: 0;
    left: 0;
    position: absolute;
    transform: none;
  }
}
.cmp-carousel .mediaOverlay .mediaOverlayBg {
  width: 100%;
  height: 100%;
}
.cmp-carousel .mediaOverlay:not(.mediaOverlayVideo):hover .mediaOverlayBg {
  background: none;
}
.cmp-carousel .galleryImageLink {
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  position: absolute;
}
.cmp-carousel
  .galleryImageLink
  .mediaOverlay.mediaOverlayVideo
  .mediaOverlayIcon:before {
  font-size: 68px;
}
@media screen and (min-width: 1px) and (max-width: 1440px) {
  .cmp-carousel
    .galleryImageLink
    .mediaOverlay.mediaOverlayVideo
    .mediaOverlayIcon:before {
    margin: auto;
  }
  .cmp-carousel
    .galleryImageLink
    .mediaOverlay.mediaOverlayVideo
    .noHeaderBox
    .mediaOverlayIcon:before {
    text-align: center;
    padding: 0;
  }
}
@media screen and (min-width: 1px) and (max-width: 1900px) {
  .cmp-carousel .galleryImageLink .mediaOverlay.mediaOverlayVideo {
    display: flex;
    align-items: center;
  }
  .cmp-carousel
    .galleryImageLink
    .mediaOverlay.mediaOverlayVideo
    .mediaOverlayIcon {
    height: auto;
  }
  .cmp-carousel
    .galleryImageLink
    .mediaOverlay.mediaOverlayVideo
    .mediaOverlayIcon:before {
    font-size: 42px;
    text-align: center;
    padding-right: 0;
  }
}
.cmp-carousel.loaded {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
.cmp-carousel .carousel {
  text-align: center;
  overflow: hidden;
  direction: ltr;
  min-height: 600px;
}
.cmp-carousel .carousel .cmp-carousel__slide {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  color: #4a4f54;
}
@media screen and (min-width: 1px) and (max-width: 1900px) {
  .cmp-carousel .carousel .cmp-genericItem__element-poster {
    position: relative;
  }
}
.cmp-carousel .carousel .cmp-carousel__slide noscript > div,
.cmp-carousel .carousel .cmp-carousel__slide .VideoPlayer > span {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  background-position: center center;
  background-repeat: no-repeat;
  z-index: -1;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.cmp-carousel .carousel .cmp-carousel__slide .fullFrameContent {
  z-index: 2;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.cmp-carousel .carousel .cmp-carousel__slide .fullFrameContent.visible {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.cmp-carousel .carousel .cmp-carousel__slide .fullFrameContent .headingTextMain {
  color: #a4a7a9;
  display: block;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.8px;
  margin-bottom: 36px;
}
.cmp-carousel .carousel .cmp-carousel__slide .fullFrameContent .headingTextSub {
  margin: auto;
  padding-top: inherit;
  font-weight: inherit;
  line-height: inherit;
  display: block;
  font-size: 24px;
  letter-spacing: 1.2px;
  margin-bottom: 18px;
}
.cmp-carousel
  .carousel
  .cmp-carousel__slide
  .fullFrameContent
  .headingTextSub
  .subtitle {
  letter-spacing: 1.2px;
}
.cmp-carousel .carousel .cmp-carousel__slide .fullFrameContent .bodyText {
  font-size: 14px;
  font-family: "avenir", "arial", "helvetica", sans-serif;
  color: #4a4f54;
  letter-spacing: 0.28px;
  line-height: 18px;
  padding-top: 0;
}
.cmp-carousel
  .carousel
  .cmp-carousel__slide
  .fullFrameContent
  .primaryLinkWithStyle {
  margin-top: 36px;
}
.cmp-carousel
  .carousel
  .cmp-carousel__slide
  .fullFrameContent
  .secondaryLinkWithStyle {
  color: #898d90;
  margin-top: 30px;
}
.cmp-carousel .carousel .cmp-carousel__slide.left .headerBox .bodyText {
  text-align: left;
}
.cmp-carousel .carousel .cmp-carousel__slide.centre {
  justify-content: center;
}
.cmp-carousel
  .carousel
  .cmp-carousel__slide--withYouTubeGalleryAsset
  .headerBox {
  z-index: 4;
}
.cmp-carousel
  .carousel
  .cmp-carousel__slide--withYouTubeGalleryAsset
  .YouTubeGalleryAsset {
  z-index: 1;
}
.cmp-carousel
  .carousel
  .cmp-carousel__slide--withYouTubeGalleryAsset
  [data-background-image] {
  z-index: 2;
}
@media screen and (min-width: 741px) {
  .cmp-carousel
    .carousel
    .cmp-carousel__slide--withYouTubeGalleryAsset
    .headerBox {
    pointer-events: none;
  }
  .cmp-carousel
    .carousel
    .cmp-carousel__slide--withYouTubeGalleryAsset
    .headerBox.visible {
    pointer-events: auto;
  }
}
@media screen and (min-width: 1px) and (max-width: 1900px) {
  .cmp-carousel .carousel .cmp-carousel__slide--withYouTubeGalleryAsset {
    height: auto;
  }
  .cmp-carousel
    .carousel
    .cmp-carousel__slide--withYouTubeGalleryAsset
    .headerBox {
    opacity: 1;
    position: relative;
    z-index: 4;
  }
  .cmp-carousel
    .carousel
    .cmp-carousel__slide--withYouTubeGalleryAsset
    [data-background-image] {
    position: absolute !important;
    padding: 0 !important;
    height: 55vw !important;
    top: 0;
    left: 0;
  }
}
.cmp-carousel
  .carousel
  .cmp-carousel__slide--withYouTubeGalleryAsset
  .mediaOverlay.mediaOverlayVideo {
  opacity: 0;
  z-index: 3;
  pointer-events: none;
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.cmp-carousel
  .carousel
  .cmp-carousel__slide--withYouTubeGalleryAsset
  .mediaOverlay.mediaOverlayVideo.visible {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  pointer-events: auto;
}
.cmp-carousel
  .carousel
  .cmp-carousel__slide--withYouTubeGalleryAsset
  .mediaOverlay.mediaOverlayVideo
  .mediaOverlayIcon:before {
  font-size: 68px;
}
@media screen and (min-width: 1px) and (max-width: 1440px) {
  .cmp-carousel
    .carousel
    .cmp-carousel__slide--withYouTubeGalleryAsset
    .mediaOverlay.mediaOverlayVideo
    .mediaOverlayIcon:before {
    padding-right: 33%;
    text-align: right;
  }
}
@media screen and (min-width: 1px) and (max-width: 1900px) {
  .cmp-carousel
    .carousel
    .cmp-carousel__slide--withYouTubeGalleryAsset
    .mediaOverlay.mediaOverlayVideo
    .mediaOverlayIcon:before {
    padding-right: 0;
    text-align: center;
  }
}
@media screen and (min-width: 1px) and (max-width: 1900px) {
  .cmp-carousel
    .carousel
    .cmp-carousel__slide--withYouTubeGalleryAsset
    .mediaOverlay.mediaOverlayVideo {
    height: 55vw;
  }
}
.cmp-carousel
  .carousel
  .cmp-carousel__slide--withYouTubeGalleryAsset.noHeaderBox
  .mediaOverlay.mediaOverlayVideo
  .mediaOverlayIcon:before {
  font-size: 68px;
}
@media screen and (min-width: 1px) and (max-width: 1440px) {
  .cmp-carousel
    .carousel
    .cmp-carousel__slide--withYouTubeGalleryAsset.noHeaderBox
    .mediaOverlay.mediaOverlayVideo
    .mediaOverlayIcon:before {
    padding-right: 0;
    text-align: center;
  }
}
.cmp-carousel .carousel .video {
  max-width: 100%;
}
.cmp-carousel .carousel .video .VideoPlayer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
@media screen and (min-width: 741px) {
  .cmp-carousel .carousel .video .VideoPlayer {
    bottom: 0;
  }
}
.cmp-carousel .carousel .video .VideoPlayer.flash {
  width: 100%;
  height: 100%;
}
.cmp-carousel .carousel .video .VideoPlayer.flash embed,
.cmp-carousel .carousel .video .VideoPlayer.flash object {
  position: absolute;
  top: 0px;
  left: 0;
}
.cmp-carousel .carousel .video .VideoPlayer .posterImage {
  display: none;
}
.cmp-carousel .carousel .video .VideoPlayer video::-webkit-media-controls,
.cmp-carousel
  .carousel
  .video
  .VideoPlayer
  video::-webkit-media-controls-start-playback-button {
  display: none;
}
@media screen and (min-width: 741px) {
  .cmp-carousel .carousel .video .VideoPlayer .mejs-video {
    position: relative;
    width: 100% !important;
    height: 100% !important;
  }
}
.cmp-carousel
  .carousel
  .video
  .VideoPlayer
  .mejs-video
  .mejs-button
  button {
  font-size: 68px;
  border-right: 0;
}
.cmp-carousel
  .carousel
  .video
  .VideoPlayer
  .mejs-video
  .mejs-button
  button:before {
  color: #fff;
  position: relative;
  top: -5px;
  left: -2px;
}
.ie
  .cmp-carousel
  .carousel
  .video
  .VideoPlayer
  .mejs-video
  .mejs-button
  button {
  height: 68px;
  width: 68px;
}
.cmp-carousel
  .carousel
  .video
  .VideoPlayer
  .mejs-video
  .mejs-controls
  div {
  display: none;
}
.cmp-carousel
  .carousel
  .video
  .VideoPlayer
  .mejs-video
  .mejs-controls.hide {
  visibility: hidden !important;
  display: none !important;
}
.cmp-carousel .carousel .video .VideoPlayer .mejs-layers {
  width: 100%;
  height: 100%;
}
.cmp-carousel .carousel .video .VideoPlayer video {
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  max-width: 100%;
  visibility: visible;
  object-fit: fill;
}
.cmp-carousel .carousel .video .VideoPlayer + span {
  z-index: -1;
}
.ie .cmp-carousel .carousel .video .VideoPlayer + span,
.ms-edge .cmp-carousel .carousel .video .VideoPlayer + span {
  z-index: 0;
}
.cmp-carousel .disable {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 3;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
.cmp-carousel[data-total="1"] .mejs-video {
  cursor: default;
}
.cmp-carousel[data-total="1"] .mejs-video video,
.cmp-carousel[data-total="1"] .mejs-video object {
  cursor: default;
}
html.no-js .cmp-carousel.cmp-fullframe-carousel {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  height: auto;
  min-height: 0;
}
html.no-js .cmp-carousel .carousel > * {
  float: none;
}
html.no-js .cmp-carousel .carousel .video .VideoPlayer + span {
  display: block;
  z-index: 1;
}
html.no-js .cmp-carousel .carousel .cmp-carousel__slide {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  position: relative;
  text-align: center;
  height: auto;
  display: block;
}
html.no-js .cmp-carousel .carousel .cmp-carousel__slide.centre {
  text-align: left;
}
html.no-js .cmp-carousel .carousel .cmp-carousel__slide .fullFrameContent {
  padding-top: 30px;
  padding-bottom: 30px;
  min-height: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
@media screen and (min-width: 1px) and (max-width: 1440px) {
  .cmp-carousel .mediaOverlayVideo .mediaOverlayIcon:before {
    padding-right: 33.333%;
    text-align: right;
  }
  .cmp-carousel .mediaOverlayVideo:after {
    left: auto;
    right: calc(32.333% - 36px);
  }
  .cmp-carousel .noHeaderBox .mediaOverlayVideo .mediaOverlayIcon:before {
    padding-right: 0;
    text-align: center;
  }
}
@media screen and (min-width: 1px) and (max-width: 1279px) {
  .cmp-carousel.cmp-fullframe-carousel {
    min-height: 0;
  }
  .cmp-carousel .headerBox.withImage {
    max-width: 300px;
  }
  .cmp-carousel .disable {
    display: none;
  }
  .cmp-carousel .carousel {
    min-height: 0;
  }
  .cmp-carousel
    .carousel
    .cmp-carousel__slide
    .fullFrameContent
    .headingTextSub {
    font-size: 18px;
  }
}
@media screen and (min-width: 1px) and (max-width: 1900px) {
  .cmp-carousel.cmp-fullframe-carousel {
  }
  .cmp-carousel .carousel .video .VideoPlayer video {
    height: 100% !important;
    width: 100% !important;
  }
  .cmp-carousel .carousel .video .VideoPlayer .mejs-video .mejs-controls {
    bottom: auto;
  }
  .cmp-carousel .carousel .cmp-carousel__slide,
  .cmp-carousel .carousel .cmp-carousel__slide.left,
  .cmp-carousel .carousel .cmp-carousel__slide.alignedText {
    display: block;
  }
  .cmp-carousel .carousel .cmp-carousel__slide .fullFrameContent,
  .cmp-carousel .carousel .cmp-carousel__slide.left .fullFrameContent,
  .cmp-carousel .carousel .cmp-carousel__slide.alignedText .fullFrameContent {
    margin-top: 45px;
    position: static;
    padding-top: 0;
    bottom: 0;
    min-height: 230px;
    width: 100%;
  }
  .cmp-carousel .carousel .cmp-carousel__slide .headerBox.withImage,
  .cmp-carousel .carousel .cmp-carousel__slide.left .headerBox.withImage,
  .cmp-carousel .carousel .cmp-carousel__slide.alignedText .headerBox.withImage {
    max-width: none;
  }
  .cmp-carousel .mediaOverlayVideo .mediaOverlayIcon:before {
    padding-right: 0;
    text-align: center;
  }
  .cmp-carousel .mediaOverlayVideo:after {
    left: 50%;
    right: auto;
  }
}
@media screen and (min-width: 1px) and (max-width: 400px) {
  html.no-js .cmp-carousel .carousel .cmp-carousel__slide:first-child {
    display: block;
  }
  .cmp-carousel.cmp-fullframe-carousel .videoCustom:after{
    top: 30%;
    left: 33%;
    }
}
@media screen and (min-width: 1px) and (max-width: 1900px) {
  #landrover .cmp-carousel.grey .carousel .cmp-carousel__slide {
  }
  #landrover
    .cmp-carousel.grey
    .carousel
    .cmp-carousel__slide
    .fullFrameContent.headerBox {
  }
  #landrover .cmp-carousel.dark .carousel .cmp-carousel__slide {

  }

  #landrover
    .cmp-carousel.dark
    .carousel
    .cmp-carousel__slide
    .primaryLinkWithStyle {
  }
  #landrover
    .cmp-carousel.dark
    .carousel
    .cmp-carousel__slide
    .primaryLinkWithStyle:hover {
  }
  #landrover
    .cmp-carousel.dark
    .carousel
    .cmp-carousel__slide
    .secondaryLinkWithStyle {
    color: #aeb0b2;
  }
  #landrover
    .cmp-carousel.dark
    .carousel
    .cmp-carousel__slide
    .secondaryLinkWithStyle:hover {
    color: #e4e8e8;
  }

  .TabbedContainer .cmp-carousel.oneSlide .headerBox {
    margin-top: 0;
  }
}

@media screen and (min-width: 1px) and (max-width: 1900px) {
  .cmp-fullframe-carousel .cmp-carousel__controls .Pagination__pip:after {
    box-shadow: none;
    border: 2px solid #000;
  }
  .cmp-fullframe-carousel .cmp-carousel__controls .Pagination__pip:focus {
    outline: none;
    box-shadow: none;
  }
  .focusStylesOn .cmp-fullframe-carousel .cmp-carousel__controls .Pagination__pip:focus:after {
    box-shadow: none;
  }
  .cmp-fullframe-carousel .cmp-carousel__controls .Pagination__pip:hover:after {
  }
  .cmp-fullframe-carousel .cmp-carousel__controls .Pagination__pip--active:after,
  .cmp-fullframe-carousel .cmp-carousel__controls .Pagination__pip--active:hover:after {
    box-shadow: none;
  }
}
/* NEW DEV */
.customControl{
  object-fit: cover
}
.headerClass{
float: left;
margin-right: 40px;
min-height: 200px;
min-width: 360px;
}
.cmp-fullframe-carousel .linkContainer, .cmp-fullframe-carousel .secondaryLinkContainer{
  float: left;
}
.cmp-fullframe-carousel .secondaryLinkContainer {
  float: none;
  text-align: left;
}
.fontBodyCopyLarge{
  text-align: left;
  padding-right: 40px;
}
.cmp-carousel .shelfComponent{
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-top: 32px;
  min-height:189px;
  min-width: 960px;
}
.cmp-fullframe-carousel .cmp-carousel__controls{
  position: relative;
}
/* WIDESCREEN */
@media screen and (min-width: 1920px){
  .cmp-carousel.cmp-fullframe-carousel .carousel .cmp-genericItem__element-poster {
      position: relative;
      min-width: 1660px;
      max-width:2000px;
      height:935px ;
      margin-left: 130px;
      margin-right: 130px;
      margin-bottom: 0 !important;
    }
  .cmp-fullframe-carousel .cmp-carousel__controls{
       position: absolute;
       left: 290px;
       top: 56%;
    }
    .cmp-fullframe-carousel.cmp-carousel{
      
     margin-left: 0px;
     margin-right: 0px;
     margin-top: 60px;
   }
   .shelfComponent{
     margin-left: 100px;
     width: 1100px;
   }
}
/* WIDESCREEN END */
/* DESKTOP */
@media screen and (min-width: 1280px) and (max-width: 1919px) {
    .cmp-genericItem__element-poster{
        min-width: 1160px;
        max-height:653px ;
    }
    .cmp-carousel .carousel .cmp-genericItem__element-poster {
        position: relative;
      }
       .cmp-fullframe-carousel .cmp-carousel__controls{
         position: absolute;
        margin-left: -60px;
        top: 46%;

      }
      .cmp-carousel.cmp-fullframe-carousel__previous,.cmp-fullframe-carousel.cmp-carousel__next{
        top:450px;
      }
     
     .video{
       height: 670px;
     }
}
/* DESKTOP END */
/* Tablet */
@media screen and (min-width: 767px) and (max-width: 1279px) {
  .cmp-carousel.cmp-fullframe-carousel{
    margin-top: 40px;
    margin-left: 0px;
    margin-right: 0px;
  }
  .cmp-genericItem__element-poster{
      width: 100%;
      min-height: 432px;
  }
  .cmp-carousel .carousel .cmp-genericItem__element-poster {
      position: relative;
      padding-bottom: 0%;
    }
    .shelfComponent {
      padding-left: 30px;
      padding-right: 25px;
      padding-top: 28px;
      min-height: 247px;
      min-width: 40%;
      max-width: 75.4%;
      
  }
  .headerClass {
    float: left;
    min-height: 0px;
    margin-bottom: 0px;
    width: 100%;
}
.headerClass h2{
  margin-top: 0px;
  margin-bottom: 14px;
  display:block;
}
.fontBodyCopyLarge{
  width: 100%;
  margin-bottom: 24px;
  padding-right: 0px;
}
#landrover .secondaryLinkWithStyle{
  margin-top: 0px;
  margin-bottom: 24px;
}
.primaryLinkWithStyle{
  margin-top: 0px;
  margin-bottom: 24px;
}
.cmp-fullframe-carousel .cmp-carousel__controls{
  position:absolute;
  top:70px;
  left: 30px;
}
}
/* Tablet End */
/* Mobile start */
@media screen and (min-width: 300px) and (max-width: 766px) {
  .cmp-carousel.cmp-fullframe-carousel{
    margin-top: 30px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0;
  }
  .cmp-carousel.cmp-fullframe-carousel .carousel{
    min-height: 339px;
  }
  .cmp-genericItem__element-poster{
      width: 100%;
      min-height: 211px;
  }
  .cmp-carousel .carousel .cmp-genericItem__element-poster {
      position: relative;
      padding-bottom: 0%;
    }
    .shelfComponent {
      padding-left: 25px;
      padding-right: 25px;
      padding-top: 16px;
      min-height: 301px;
      min-width: 40%;
      max-width: 100%;
      
  }
  .headerClass {
    float: left;
    min-height: 0px;
    margin-bottom: 0px;
    width: 100%;
}
.headerClass h2{
  margin-top: 0px;
  margin-bottom: 14px;
  display:block;
}
.fontBodyCopyLarge{
  width: 100%;
  margin-bottom: 0px;
  padding-right: 0px;
}
#landrover .secondaryLinkWithStyle{
  margin-top: 0px;
  margin-bottom: 24px;
}
.primaryLinkWithStyle{
  margin-top: 0px;
  margin-bottom: 24px;
}
.cmp-fullframe-carousel .cmp-carousel__controls{
  position:absolute;
  top: 150px;
  left: 25px;
  justify-content:left;
  
}
.cmp-fullframe-carousel .Pagination--black .Pagination__play-control-icon,
.cmp-fullframe-carousel .Pagination--black .Pagination__pause-control-icon{
fill:black;
}
.cmp-fullframe-carousel .Pagination__pause:before,
.cmp-fullframe-carousel .Pagination--black .Pagination__play:before, .cmp-fullframe-carousel .Pagination--black .Pagination__pause:before{
    border: 2px solid rgba(255, 255, 255, 0.4);
}
.cmp-fullframe-carousel .Pagination--black .Pagination__pip:after{
    border: 2px solid black;
}
}
/* Mobile END */

/* FIXES */
.cmp-fullframe-carousel .cmp-carousel__slider{
  height: 100%;
}
.primaryLinkWithStyle{
  float:left
}
.cmp-carousel__controls{
  height: 50px;
}
.cmp-fullframe .headerClass{
  text-transform:uppercase;
}
.cmp-fullframe .fontBodyCopyLarge{
  text-transform:none;
}
.cmp-fullframe .headingWrapper {
    font-weight:normal;
}
.cmp-fullframe-carousel .swiper-button--next {
  margin-top: -12%;
}
.cmp-fullframe-carousel .swiper-button--prev {
  margin-top: -12%;
}
@media screen and (max-width: 1279px){
  .cmp-fullframe-carousel .swiper-button--prev {
     display:none;
  }
  .cmp-fullframe-carousel .swiper-button--next {
     display:none;
  }
}
.videoCustom { position: relative; padding-bottom: 56.25%; /* 16:9 */ height: 0; }
.videoCustom img { position: absolute; display: block; top: 0; left: 0; width: 100%; height: 100%; z-index: 20; cursor: pointer; }
.videoCustom:after { content: ""; position: absolute; display: block; 
    background: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor" class="bi bi-play" viewBox="0 0 16 16"><path d="M10.804 8 5 4.633v6.734L10.804 8zm.792-.696a.802.802 0 0 1 0 1.392l-6.363 3.692C4.713 12.69 4 12.345 4 11.692V4.308c0-.653.713-.998 1.233-.696l6.363 3.692z"/> </svg>') no-repeat 0 0; 
    top: 45%; left: 45%; width: 100px; height: 100px; z-index: 30; cursor: pointer; } 
.videoCustom iframe { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
 
/* image poster clicked, player class added using js */
.videoCustom.player img { display: none; }
.videoCustom.player:after { display: none; }

/*---------Full Frame UI ------------*/
.white .headingWrapper p{color:#0C121C;}
.light  .headingWrapper p{color:#0C121C;}
.light .cmp-fullframe .fontBodyCopyLarge p{color:#4A4F54;}
.white .cmp-fullframe .fontBodyCopyLarge p{color:#4A4F54;}
.slateblue p {
  color: #FFFFFF!important;
}
.cmp-fullframe .primaryLinkWithStyle{font-family:AvenirNext-DemiBold; line-height:14px;}
.cmp-fullframe  .headerClass h2 {
  margin-bottom: 16px;
}
.cmp-fullframe .headingWrapper p{font-size:21px; line-height:21px; font-family:LandRoverWeb-Bold;height:28px; letter-spacing:1.05px;}
.cmp-fullframe .primaryLinkWithStyle{ margin-top:24px;}
.cmp-fullframe-carousel .cmp-carousel__controls{top:0;}
.cmp-fullframe .secondaryLinkWithStyle{margin-top:24px!important; line-height:12.5px;}
.cmp-fullframe .shelfComponent {
  display: block;
  padding:28px 0 0 30px;
  -webkit-font-smoothing: antialiased;
}
.cmp-fullframe .linkContainer{padding-top:0;}
.cmp-fullframe .fontBodyCopyLarge{font-family:"AvenirNext-Regular";margin-bottom:0px; min-width:524px; min-height:76px; height:auto;margin:0 auto;}
.slateblue .cmp-fullframe .secondaryLinkWithStyle:hover{color:#fff!important;}
.slateblue .cmp-fullframe .secondaryLinkWithStyle:hover{color:#fff!important; }
.slateblue .cmp-fullframe .secondaryLinkWithStyle:hover span, .slateblue .cmp-fullframe .secondaryLinkWithStyle:active span,
.slateblue .cmp-fullframe .secondaryLinkWithStyle:focus span {
    border-bottom: 1px solid transparent!important;
}
.cmp-fullframe .secondaryLinkWithStyle:hover span,
.cmp-fullframe .secondaryLinkWithStyle:active span,

.cmp-fullframe .secondaryLinkWithStyle:focus span{border-bottom: 1px solid transparent!important;}

.cmp-fullframe .secondaryLinkWithStyle span:hover,
.cmp-fullframe .secondaryLinkWithStyle span:active, 
.cmp-fullframe .secondaryLinkWithStyle span:focus
{text-decoration:underline;}
.cmp-fullframe .videoCustom:after {
    content: "";
    font-family: "icons";
    font-style: normal;
    font-weight: normal;
    color: #fff;
    background: unset;
    background-color: #0c121c;
    font-size: 68px;
    line-height: 98px;
    position: absolute;
    width: 100px;
    height: 100px;
    z-index: 30;
    cursor: pointer;
    opacity: 80%;
}
@media screen and (min-width:1920px) and (max-width:2700px){
.cmp-fullframe .headingWrapper p{font-size:24px; line-height:24px;  font-family:LandRoverWeb-Bold; height:32px;letter-spacing:1.2px;}
.cmp-fullframe .primaryLinkWithStyle{ margin-top:24px;}
.cmp-fullframe .secondaryLinkWithStyle{margin-top:23px!important; line-height:12.5px}

  .cmp-fullframe .shelfComponent {
  display: block;
  padding:32px 0 0 0;
  -webkit-font-smoothing: antialiased;
  margin: 0 auto;
  width: 100%;
  max-width: 1340px;
}
.cmp-fullframe .headerClass{min-height:150px;}
.cmp-fullframe .contentClass{
float: left;
width: 650px;}
.cmp-fullframe .fontBodyCopyLarge p{min-width:650px;}
.cmp-fullframe_pagination .Pagination__pause:before {
  border: 2px solid rgba(255,255,255,0.4)!important;
}
.cmp-fullframe_pagination .Pagination__pause-control-icon, .cmp-fullframe_pagination .Pagination__play-control-icon{fill:#fff;}
.cmp-fullframe-carousel .cmp-carousel__controls .Pagination__pip:after{border:2px solid #fff;}
.cmp-fullframe_pagination .Pagination__pip--active:hover:after, .cmp-fullframe_pagination .Pagination__pip--active:after{background:#fff;}
.cmp-fullframe .headerClass {width:420px; min-width:420px; max-width:420px;}
.cmp-fullframe-carousel .swiper-button--next,.cmp-fullframe-carousel .swiper-button--prev {
position: absolute;
margin-top: 0%;
top: 445px;
}
.cmp-fullframe-carousel .swiper-button--next{
right: 50px;
}
.cmp-fullframe-carousel .swiper-button--prev{
left: 50px;
}
}   
@media screen and (min-width: 1280px) and (max-width: 1919px){
  
  .cmp-fullframe .shelfComponent {
    display: block;
    padding: 28px 0 0 30px;
    -webkit-font-smoothing: antialiased;
    margin-left:0;
    width: 1200px;
}
  .cmp-fullframe .headerClass{min-height:150px;}
  .cmp-carousel.cmp-fullframe-carousel .carousel .cmp-genericItem__element-poster{
    margin-left:60px;
    margin-right:60px;
    position: relative;
    min-width: 1160px;
    max-width: 1919px;
    min-height:653px;
    max-height:653px;
    height: auto;
    margin-bottom: 0 !important;
  }  
  .cmp-fullframe .shelfComponent{padding:32px 0 0 60px;}
  .cmp-fullframe-carousel .cmp-carousel__controls{margin-left:-15px;}
  .cmp-fullframe-carousel.cmp-carousel{margin-left:0;margin-right:0;}
  .cmp-fullframe-carousel .swiper-button--next, .cmp-fullframe-carousel .swiper-button--prev {
      position: absolute;
      margin-top: 0;
      top: 304px;
  }
  .cmp-fullframe-carousel .swiper-button--prev {
      left: 10px;
  }
  .cmp-fullframe-carousel .swiper-button--next {
      right: 10px;
  }
.cmp-fullframe .contentClass{
  float: left;
  width: 560px;
}
.cmp-fullframe .fontBodyCopyLarge p{min-width :560px;}
.cmp-fullframe_pagination .Pagination__pause:before {
  border: 2px solid rgba(255,255,255,0.4)!important;
}
.cmp-fullframe_pagination .Pagination__pause-control-icon, .cmp-fullframe_pagination .Pagination__play-control-icon{fill:#fff;}
.cmp-fullframe-carousel .cmp-carousel__controls .Pagination__pip:after{border:2px solid #fff;}
.cmp-fullframe_pagination .Pagination__pip--active:hover:after, .cmp-fullframe_pagination .Pagination__pip--active:after{background:#fff;}
.cmp-fullframe .headerClass {width:360px; min-width:360px; max-width:360px;}
.cmp-fullframe .primaryLinkWithStyle{
  margin-top: 24px;
}
}

@media screen and (min-width: 768px) and (max-width:1279px){
  .cmp-fullframe-carousel .cmp-carousel__slider{height:auto;}
  
  .cmp-fullframe .secondaryLinkWithStyle{margin-bottom:0;}
  .cmp-fullframe .primaryLinkWithStyle{margin-bottom:0;}
.cmp-fullframe .headerClass {width:524px; min-width:524px; max-width:524px;}
.cmp-fullframe .contentClass{
  float: left;
  width: 524px;
}
.cmp-fullframe .cmp-carousel .carousel .cmp-genericItem__element-poster{
  margin-bottom: 0 !important;
}
.cmp-fullframe .fontBodyCopyLarge p{min-width :524px;}
.cmp-fullframe_pagination .Pagination__pause-control-icon, .cmp-fullframe_pagination .Pagination__play-control-icon{fill:#fff;}
.cmp-fullframe-carousel .cmp-carousel__controls .Pagination__pip:after{border:2px solid #fff;}
.cmp-fullframe_pagination .Pagination__pip--active:hover:after, .cmp-fullframe_pagination .Pagination__pip--active:after{background:#fff;}
}

@media screen and (min-width: 320px) and (max-width:767px){
  .cmp-fullframe_pagination .Pagination__pip--active:hover:after,
  .cmp-fullframe_pagination .Pagination__pip--active:after{background:#000;}
  .slateblue .cmp-fullframe_pagination .Pagination__pip--active:hover:after,
  .slateblue .cmp-fullframe_pagination .Pagination__pip--active:after{background:#fff;}
  
.cmp-fullframe .headerClass {width:100%; min-width:170px; max-width:524px;}
.cmp-fullframe .contentClass{
  width:100%; min-width:170px; max-width:524px;
}

.cmp-fullframe  .headerClass h2 {
  margin-bottom: 16px;
}
.cmp-fullframe .headingWrapper p{font-size:20px; line-height:19px; color:#0C121C;font-family:LandRoverWeb-Bold;height:27px; letter-spacing:0.64px;}
/* .cmp-fullframe-carousel .cmp-carousel__controls{top:236px!important;}   */
.cmp-fullframe .primaryLinkWithStyle{ margin-top:24px;}
.cmp-fullframe .fontBodyCopyLarge {
  width: 100%;
  margin-bottom: 0px;
  padding-right: 0;
  min-height: 15px;
  height: auto;
  min-width: 170px;

}
.cmp-fullframe .secondaryLinkWithStyle{ line-height:12.5px;}
.cmp-fullframe .cmp-genericItem__element-poster{margin-bottom:0!important;}

.cmp-fullframe_pagination .Pagination__play:before{border: 2px solid #000;}
.cmp-fullframe_pagination .Pagination__play-control-icon{fill:#000;}
.cmp-fullframe_pagination .Pagination__pause:before{border: 2px solid rgba(0, 0, 0, 0.4);}

.cmp-fullframe_pagination .Pagination__pause-timer-icon-countdown{
stroke: #000;
}
.slateblue .cmp-fullframe_pagination .Pagination__pause-timer-icon-countdown{
  stroke: #fff;
  }
.slateblue .cmp-fullframe_pagination .Pagination__pause:before{border: 2px solid rgba(255,255,255,0.3) !important}
.cmp-fullframe .shelfComponent{margin-top:50px; padding:25px 25px 40px 25px;
min-width: 170px;}
.slateblue .cmp-fullframe_pagination .Pagination__play:before{border: 2px solid #fff;}
.slateblue .cmp-fullframe_pagination .Pagination__play-control-icon{fill:#fff;}
.slateblue .cmp-fullframe_pagination .Pagination__pause:before{border: 2px solid #fff;}
.slateblue .Pagination__pause-control-icon, .slateblue .cmp-fullframe .Pagination__play-control-icon{fill:#fff;}
.slateblue .cmp-fullframe-carousel .cmp-carousel__controls .Pagination__pip:after{border: 2px solid #fff;}
.cmp-carousel[data-total="1"] .shelfComponent{
  margin-top: 0;
}
}

.cmp-fullframe .linkContainer{margin-top:0}

/*---------Full Frame UI ------------*/

/* COMMON FOR ALL */
.videoCustom:after,.cmp-carousel.cmp-fullframe-carousel .videoCustom:after{
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
margin: auto;
}
#landrover .cmp-fullframe-carousel .primaryLinkContainer:nth-child(2) .primaryLinkWithStyle {
margin-top: 24px;
}
.grey .cmp-fullframe-carousel .st0--swiper-pagination, 
.white .cmp-fullframe-carousel .st0--swiper-pagination, 
.light .cmp-fullframe-carousel .st0--swiper-pagination {
  fill: #0C121C;
}