.cmp-subFooter {
	padding: 20px 90px;
	font-size: 11px;
	border-top: 1px solid
}

.cmp-subFooter p {
	padding-bottom: 20px
}

.cmp-subFooter p:last-child {
	padding-bottom: 0
}

.lt-ie9 .cmp-subFooter {
	padding-bottom: 0
}

.cmp-subFooter .cmp-subFooter__container {
    line-height: 1.4rem;
}

@media screen and (min-width: 1px) and (max-width: 900px) {
	.cmp-subFooter {
		padding-left: 40px;
		padding-right: 40px
	}
}

@media screen and (min-width: 1px) and (max-width: 740px) {
	.cmp-subFooter {
		padding-left: 30px;
		padding-right: 30px
	}
}

.cmp-subFooter {
	background-color: #0c121c;
	border-top-color: #30363e;
	color: #a4a7a9
}

.cmp-subFooter a {
	color: #a4a7a9
}

.lightTheme .cmp-subFooter {
	background-color: #fff;
	border-top-color: #e4e8e8;
	color: #4a4f54
}

.lightTheme .cmp-subFooter a {
	color: #4a4f54
}

.lightTheme .cmp-subFooter a:hover {
	color: #a4a7a9
}