
.cmp-accolades {
  *zoom: 1;
  text-align: center;
  padding: 30px 30px 80px;
}
.cmp-accolades:before,
.cmp-accolades:after {
  content: " ";
  display: table;
}
.cmp-accolades:after {
  clear: both;
}
.cmp-accolades[data-total="1"] {
  padding-bottom: 30px;
}
.cmp-accolades__img {
  max-width: 260px;
  margin: 0 auto;
  height: auto;
  width: auto;
}
.cmp-accolades__img .Picture__img {
  height: auto;
  width: auto;
  max-width: 260px;
  max-height: 250px;
  margin: 0 auto;
}
.cmp-accolades__copy {
  margin: 32px auto 0;
  text-align: left;
}
.cmp-accolades__copy--primary + a {
  margin-top: 21px;
}
.cmp-accolades__copy--primary + .cmp-accolades__copy--secondary {
  margin-top: 22px;
}
.cmp-accolades__copy--secondary,
.cmp-accolades__copy a {
  margin-bottom: 30px;
}
.cmp-accolades[data-alignment="none"] .cmp-accolades__img {
  display: none;
}
@media (max-width: 1279px) {
  .cmp-carousel__previous,
  .cmp-carousel__next {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .cmp-carousel__bgImage {
    display: block;
  }
  .cmp-accolades[data-alignment="none"] .cmp-accolades__copy {
    float: none;
    text-align: center;
    margin: 0 auto;
  }
  .cmp-accolades[data-alignment="none"]__controls {
    display: flex;
    justify-content: center;
    padding: 8px 0 30px;
  }
  .cmp-accolades[data-alignment="left"] .cmp-accolades__copy {
    float: right;
    text-align: right;
  }
  .cmp-accolades[data-alignment="left"] .cmp-accolades__img {
    float: left;
    padding-right: 20px;
  }
  .cmp-accolades[data-alignment="right"] .cmp-accolades__copy {
    float: left;
    text-align: left;
  }
  .cmp-accolades[data-alignment="right"] .cmp-accolades__img {
    float: right;
    padding-left: 20px;
    text-align: right;
  }
  .cmp-accolades {
    overflow: hidden;
    text-align: left;
    padding-top: 40px;
    padding-left: 30px;
    padding-bottom: 16px;
  }
  .cmp-accolades__copy {
    max-width: 60%;
    margin: 0;
  }
  .cmp-accolades__img {
    max-width: 40%;
    min-height: 198px;
  }
  .cmp-accolades__img .Picture__img {
    margin: 0;
  }
}
@media (min-width: 1155px) {
  /* .cmp-accolades {
    padding: 80px 90px;
  } */
  .cmp-accolades__copy {
    max-width: 580px;
  }
  .cmp-accolades__img {
    max-width: 380px;
  }
}
.cmp-accolades .fontQuote {
  font-family: "ascender", "arial", "helvetica", sans-serif;
  font-size: 3.2rem;
  line-height: 1.3;
  letter-spacing: 0.03rem;
  font-weight: 400;
}
@media screen and (min-width: 1px) and (max-width: 768px) {
  .cmp-accolades .fontQuote {
    font-size: 2.3rem;
  }
}
.cmp-accolades__copy--primary,
.cmp-accolades__copy--secondary {
  -webkit-font-smoothing: antialiased;
}

/* NEW DEVELOPMENT */
.grey .fontQuote{
  color: black;
}
.specialColor .fontQuote{
  color: #005A2B;
}
.slateblue .fontQuote{
  color: white;
}

.cmp-onlyCopy{
  min-width: 325px;
}
.cmp-accolades__copy--tertiary{
  color:black
}
.grey .cmp-accolades__copy--secondary{
  color: #4A4F54;
}

#landrover .slateblue .secondaryLinkWithStyle {
	color: white
}
#landrover .slateblue .secondaryLinkWithStyle:before {
  color: white;
}
@media screen and (min-width: 326px) {
  .cmp-onlyCopy {
    min-width: 325px;
  }
}
/* MOBILE ACCOLADES START*/
@media screen and (min-width: 200px) and (max-width: 768px) {
  .cmp-accolades__img .Picture__img{
    width: 148px;
    height: 83px;
  }
  .cmp-accolades__copy--secondary{
    min-width: 325px;
    max-width:524px
  }
  .cmp-onlyCopy {
    min-width: 325px;
  }
  .cmp-accolades{
    padding-bottom: 30px;
  }
  .cmp-accolades__img {
    max-width: 148px;
    margin-left: 0px;
    height: auto;
    width: auto;
}
.cmp-accolades {
  padding-top: 30px;
  padding-left: 25px;
}
.cmp-accolades__copy {
  margin-top:16px;
}
.cmp-accolades__copy--primary + .cmp-accolades__copy--secondary {
  margin-top: 17px;
  margin-bottom: 0px;
}
.cmp-accolades__copy--secondary, .cmp-accolades__copy a {
  margin-bottom: 0px;
  margin-top: 17px;
}
.cmp-accolades__copy--tertiary{
  margin-top:17px;
  margin-bottom: 0px;
}
.cmp-carousel__controls {
  position: fixed;
  padding-bottom: 0px;
  justify-content: left;
  padding-left: 30px;
}
.Pagination__controls{
  padding-top: 10px;
  padding-bottom: 40px;
}
}
/* TABLET ACCOLADES WITH LOGO - START*/
@media screen and (min-width: 768px) and (max-width: 1280px) {
  .cmp-onlyCopy .cmp-accolades__copy{
    padding-top: 0px;
    min-width: 708px;
    max-width: 100%;
    min-height: 177px;
  }
  .cmp-accolades .fontQuote{
    width: 100%;
  }
  .cmp-accolades{
    padding-bottom: 20px;
  }
  .cmp-accolades__img {
    max-width: 260px;
    margin-left: 0px;
    height: auto;
    width: auto;
}
.cmp-accolades {
  padding-top: 40px;
  padding-left: 30px;
}
.cmp-accolades__copy {
  margin-top:16px;
}
.cmp-accolades__copy--primary + .cmp-accolades__copy--secondary {
  margin-top: 17px;
  margin-bottom: 0px;
}
.cmp-accolades__copy--secondary, .cmp-accolades__copy a {
  margin-bottom: 0px;
  margin-top: 17px;
}
.cmp-accolades__copy--tertiary{
  margin-top:17px;
  margin-bottom: 0px;
}
.cmp-carousel__controls {
  position: relative;
  padding-bottom: 0px;
  justify-content: left;
  padding-left: 30px;
}
.Pagination__controls{
  padding-top: 10px;
  padding-bottom: 20px;
}
.cmp-onlyCopy .fontQuote,.cmp-onlyCopy .secondaryLinkWithStyle{
  padding-top: 0px;
  width: 708px;
}
}
/* TABLET ACCOLADES WITH LOGO - END*/
/* DESKTOP ACCOLADES WITH LOGO - START*/
@media screen and (min-width: 1280px) {
  .cmp-accolades {
    padding-top: 60px;
    padding-bottom: 0px;
    padding-left: 60px;
    padding-right: 60px;
}
  .cmp-accolades__copy {
    min-width: 708px;
    max-width: 60%;
    max-height: 278px;
    padding-bottom: 0px;
  }
  /* .cmp-onlyCopy .cmp-accolades__copy{
    padding-top: 0px;
    min-width: 708px;
    max-width: 100%;
    min-height: 177px;
  } */

  .cmp-accolades .fontQuote{
    /* min-height: 83px; */
    width: 100%;
  }
  .cmp-accolades__copy--primary + .cmp-accolades__copy--secondary {
    margin-top: 17px;
    margin-bottom: 0px;
}
.cmp-accolades__copy--secondary, .cmp-accolades__copy a{
  margin-top: 17px;
  margin-bottom: 0px;
}
.cmp-accolades__copy--tertiary{
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 17px;
}
.cmp-accolades__copy--secondary{
  width: 560px;
}
.cmp-onlyCopy .fontQuote,.cmp-onlyCopy .cmp-accolades__copy--secondary{
  padding-top: 0px;
  width: 1160px;
}
.cmp-carousel__controls{
  position: absolute;
  justify-content: left;
  padding-left: 60px;
  margin-top: 0px;
}
}
/* WIDESCREEN ACCOLADES WITH LOGO - START*/

@media (min-width: 1920px){
.cmp-accolades {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 290px;
    padding-right: 290px;
}
.cmp-accolades__img{
  padding-top: 60px;
}
.cmp-accolades__copy{
  padding-top: 60px;
  max-width: 880px;
  min-width: 760px;
  min-height: 177px;
}
.cmp-accolades .fontQuote{
  /* min-height: 83px; */
  width: 100%;
}
.cmp-accolades__copy--secondary{
  width: 767px;
}
.cmp-onlyCopy .fontQuote,.cmp-onlyCopy .cmp-accolades__copy--secondary{
  min-width: 1160px;
  max-width: 1340px;
}
.cmp-accolades__copy--primary + .cmp-accolades__copy--secondary {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 17px;

}
.secondaryLinkWithStyle{
  margin-top: 0px;
} 
.swiper-button {
  position:fixed;
}
.cmp-carousel__controls{
  position: absolute;
  justify-content: left;
  padding-left: 290px;
}
}
.cmp-carousel__controls {
  position: fixed;
}

/* END WIDESCREEN */

/* CAROUSEL CONTROL ISSUES START*/
@media screen and (max-width: 767px) and (max-height: 850px)   {

  .cmp-carousel__controls {
    position: relative;
  }
  .cmp-accolades {
    height: 480px;
  }
}
@media screen and (min-width: 768px)   {
  .cmp-carousel__controls {
    position: absolute;

  }
  .cmp-accolades {
    height: 406px;
  }
  .cmp-accolades__img .Picture__img {
    width: 156px;
    height: 88px;
  }
}
@media screen and (min-width: 1280px)   {
  .cmp-accolades__img .Picture__img {
    width: 260px;
    height: 146px;
  }

}
/* CAROUSEL CONTROL ISSUES END*/