.cmp-tabbedContainer {
    padding: 60px;
    height: 100%;
    -webkit-transform-style: preserve-3d;
}

@media screen and (min-width: 1279.9px) {

    .cmp-tabbedContainer_box .fontBodyCopyLarge p{
		width: 100%;
		margin-bottom: 24px;
		padding-right: 0;
		font-family:"AvenirNext";
		line-height: 19px;
		letter-spacing: 0.2px;
		color:#4A4F54;
		font-size: 14px;
	}
}
.cmp-tabbedContainer_box{
    width: 100%;
    margin: 0 auto;
    max-height:934px;
    height: auto;
    position: relative;
    
}
.cmp-contentBlocksContainer .cmp-tabbedContainer{
    padding-top: 60px;
    padding-left: 0;
    padding-right: 0;
}
.tabbedcontainer.cmp-contentBlocksContainer .cmp-tabbedContainer {
    padding-top: 0px;
}

.DxTabs__panel{
    color: #ffffff;
}
.cmp-tabbedContainer .DxTabs {
    position: absolute;
    width: 100%;
    bottom: -63px;
    height: 65px;
    left: 0;
    z-index: 1;
    padding: 0;
    top:unset !important;
    border-bottom: 1px solid #4A4F544D;
}
.cmp-tabbedContainer .DxTabs__panels {
    position: relative;
    z-index: 0;
    overflow: hidden;
}
.cmp-tabbedContainer .DxTabs__tablist {
    padding: 0;
}
.cmp-tabbedContainer .DxTabs__tablist{
    width: 100%;
    text-align: left;
    padding: 0px;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    position: relative;
    top: 1px;
    height: 64px;
}
.cmp-tabbedContainer .DxTabs__tablist::-webkit-scrollbar {
    display: none;
  }
.cmp-tabbedContainer .DxTabs__tab{
    max-width: 500px;
    outline: none;
    margin: 0px 20px;
    padding: 0;
    border: 0;
    border-bottom:5px solid #fff; 
    height: 64px !important;
    font-size: 11px;
}
.cmp-tabbedContainer .DxTabs__tab:hover{
    border: 0;  
}
.cmp-tabbedContainer .DxTabs__tab:first-child{
    margin-left: 0;
}
.cmp-tabbedContainer .DxTabs__tab:last-child{
    margin-right: 0;
}
.cmp-tabbedContainer .DxTabs__tab, 
.cmp-tabbedContainer .DxTabs__tab:not(.DxTabs__tab--active){
    background-color: transparent;
    color: #0C121C;
    border-bottom: 5px solid #4A4F5400; 
    border-right: 0;
    outline: none;
    box-shadow: unset;
}

.cmp-tabbedContainer .DxTabs__tab:not(.DxTabs__tab--active) p{
    color: #0c121ca8;
}

.slateblue .cmp-tabbedContainer .DxTabs__tab:not(.DxTabs__tab--active) p{
    color: #ffffffa8 !important;
}
.cmp-tabbedContainer .DxTabs__tab:not(.DxTabs__tab--active):hover{
    background-color: transparent;
    color: #0C121C;
    border-bottom: 5px solid #A8AAAE;
    outline: none;
    box-shadow: unset;
}

.cmp-tabbedContainer .DxTabs__tab:not(:first-of-type), 
.cmp-tabbedContainer .DxTabs__tab:hover:not(:first-of-type){
    border-left:0; 
}
.cmp-tabbedContainer .DxTabs__mask{
    display: none
}
.cmp-tabbedContainer .DxTabs__tab--active,
.cmp-tabbedContainer .DxTabs__tab--active:hover{
    border-bottom: 5px solid #005A2B;
    border-left: 0;
    border-right: 0;
    border-top: 0;
}
.cmp-tabbedContainer__bottom-title{
    width: 32%;
    float: left;
    font-size: 24px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    color: #0C121C;
    margin-top: 25px;
}
.cmp-tabbedContainer__bottom-title h2{
    font-family: "LandRoverWeb-Bold";
    font-size: 24px;
    text-transform: uppercase;
}
.cmp-tabbedContainer__bottom-content{
    width: 68%;
    float: left;
    margin-top: 25px;
    padding-left: 40px;
    font-size: 14px;
    color: #4A4F54;
}

.cmp-tabbedContainer__bottom-content p{
    padding-bottom: 0;
    width: 71%;
}
.cmp-tabbedContainer__bottom-content p:last-child{
    margin-top: 25px;
}
.slateblue .cmp-tabbedContainer__option-card--active{
    background-color: #0C121C;
}
.slateblue .cmp-tabbedContainer__bottom-title{
    color: #ffffff;
}
.cmp-tabbedContainer__bottom-container{
    padding-bottom: 0px;
    width: 1160px;
    margin: 0 auto;
    margin-top: 45px;
    display: inline-block;
}

.cmp-tabbedContainer .cmp-carousel__bgImage{
    position: inherit;
    height: 653px;
}
.cmp-tabbedContainer .cmp-fullframe .fontBodyCopyLarge{
    color: #4A4F54;
    text-transform:unset;
}
.cmp-tabbedContainer .cmp-fullframe .fontBodyCopyLarge p:first-child::first-letter{
    text-transform:capitalize;
}
.cmp-tabbedContainer .emissionDetails label, p{
    padding-left: 0px;
}
.cmp-tabbedContainer .linkContainer{
    padding-top: 0;
}
.cmp-tabbedContainer .DxTabs__tablist:before{
    background-color: unset;
    box-shadow: unset;
}
.cmp-tabbedContainer .Exterior360__canvas{
    width: 100%;
    max-height: 653px;
}
.cmp-tabbedContainer .swiper-container{
    width: 100%;
    height: 653px;
}
.cmp-tabbedContainer .DxCarousel__controls.Pagination{
    position: absolute;
    bottom: 0;
    z-index: 1;
}
.cmp-contentBlocksContainer .cmp-tabbedContainer .DxTabs {
    top: -40px !important;
    bottom: unset;
    width: calc(100% - 120px);
    height: 65px;
    margin: 0 60px;
    max-width: 1660px;
}

.cmp-contentBlocksContainer .cmp-tabbedContainer  .DxTabs__panels{
    margin-top: 47px;
}
.cmp-tabbedContainer .GridListWrapper{
    position: relative;
}
.cmp-tabbedContainer .videoCustom{
    height: 653px;
    position: relative;
}

.cmp-tabbedContainer .cmp-exterior360{
    margin: 0;
}
.cmp-tabbedContainer .DxTabs__tab-inner{
    text-transform: uppercase;
}
.cmp-contentBlocksContainer .cmp-tabbedContainer .cmp-tabbedContainer_box{
    height: auto;
    max-height:unset;
    min-height: unset;
    margin: 0 auto;
    width: 100%;
}
.cmp-contentBlocksContainer .cmp-tabbedContainer .swiper-container{
    height: auto;
}
.cmp-tabbedContainer .cmp-interior360{
    margin: 0;
}
.cmp-tabbedContainer .Interior360__panorama, 
.cmp-tabbedContainer .Interior360__panorama-holder{
    height: 653px !important;
}
.cmp-tabbedContainer .Exterior360__canvas-container{
    margin: 0;
}
.cmp-tabbedContainer .cmp-genericItem__element-poster{
    max-height: unset;
}
.cmp-tabbedContainer .cmp-interior360 .cmp-genericItem__element-poster{
    margin-bottom:0;
}
.cmp-tabbedContainer .Interior360__init-container-icon-backdrop {
    top: 36%;
    left: 44%;
}
.cmp-tabbedContainer .cmp-interior360 .linkContainer {
    padding-top: 0 !important;
}
.cmp-tabbedContainer .cmp-fullframe .primaryLinkWithStyle {
    margin-bottom: 0 
}
.cmp-tabbedContainer .shelfComponent {
    padding: 96px 0px 0px 0px;
}
.cmp-tabbedContainer .fullframecarousel .shelfComponent {
    padding-bottom: 40px;
}
.tabbedcontainer .cmp-tabbedContainer {
    padding-bottom: 80px;
}
.cmp-tabbedContainer .videoCustom:after{
    text-align: center
}
.cmp-tabbedContainer .cmp-interior360 .shelfComponent{
    padding-top: 96px;
}
@media screen and (min-width: 1px) and (max-width: 768px) {

    .cmp-tabbedContainer{
        padding: 60px 0px;
    }
    
}

@media screen and (min-width: 1px) and (max-width: 767.9px) {
    .cmp-tabbedContainer .cmp-exterior360 .shelfComponent{
        padding-top: 63px;
        width: auto;
    }
    .cmp-tabbedContainer{
        padding-top: 40px;
    }
    .cmp-tabbedContainer_box{
        width: 100%;
        max-height:211px;
        min-height: 211px;
        
    }
    .cmp-tabbedContainer .swiper-container{
        height:auto;
    }
    .cmp-tabbedContainer .cmp-carousel__bgImage,
    .cmp-tabbedContainer .Exterior360__canvas,
    .cmp-tabbedContainer .videoCustom img,
    .cmp-tabbedContainer .videoCustom,
    .cmp-tabbedContainer .cmp-genericItem__element-poster,
    .cmp-tabbedContainer .Interior360__panorama, 
    .cmp-tabbedContainer .Interior360__panorama-holder{
        height: 211px !important;
    }
    .cmp-tabbedContainer .DxTabs{
        margin: 0px 0 0 25px;
        width: calc(100% - 25px);
        height: 48px;
    }
    .cmp-tabbedContainer .DxTabs__tablist{
        height: 47px;
    }
    .cmp-tabbedContainer .DxTabs__tab{
        height: 47px !important;
    }
    .cmp-contentBlocksContainer .cmp-tabbedContainer .DxTabs{
        height: 48px;
    }
    .cmp-tabbedContainer .shelfComponent{
        padding-left: 25px;
        padding-right: 25px;
        margin: 0;
    }
    .cmp-tabbedContainer .DxTabs__tablist.leftShade {
        -webkit-mask-image: linear-gradient(to left, black 50%, transparent 100%);
        mask-image: linear-gradient(to left, black 50%, transparent 100%);
    }
    .cmp-tabbedContainer .DxTabs__tablist.rightShade {
        -webkit-mask-image: linear-gradient(to right, black 50%, transparent 100%);
        mask-image: linear-gradient(to right, black 50%, transparent 100%);
    }​​​​​   
    .cmp-tabbedContainer .headerClass{
        max-width: 100%;
    }
    .cmp-tabbedContainer .linkContainer{
        margin-top: 24px;
    }
    .cmp-tabbedContainer .DxTabs{
        bottom: -50px;
    }
    .cmp-contentBlocksContainer .cmp-tabbedContainer .DxTabs{
        margin: 0px 25px;
        width: calc(100% - 50px);
    }
    .cmp-tabbedContainer .videoCustom:after{
        top: 65px;
        margin: 0;
        margin-left: auto;
        margin-right: auto;
        text-align: center
    }
    .cmp-contentBlocksContainer .cmp-tabbedContainer .DxTabs__tablist{
        top: 1px;
    }
    .cmp-tabbedContainer .Interior360__pano-controls{
        bottom: 40px;
    }
    .cmp-tabbedContainer .cmp-fullframe .shelfComponent{ 
        padding-bottom: 40px;
    }
    .tabbedcontainer .cmp-tabbedContainer{
        padding-bottom: 0px;
    }
    .tabbedcontainer .cmp-genericItem__element-poster{
        min-height: 211px;
    }
    .tabbedcontainer .Interior360__panorama, .Interior360__panorama-holder,
    .tabbedcontainer .cmp-interior360{
        min-height:211px;
    }
    .cmp-tabbedContainer .shelfComponent{
        padding-top: 63px ;
        min-width: 100%;
    }
    .cmp-tabbedContainer .DxTabs__tab{
        margin: 0px 10px;
    }
    .cmp-tabbedContainer .cmp-interior360 .shelfComponent{
        min-height: 24px;
        padding-top: 63px;
    }

}
@media screen and (min-width: 1px) and (max-width: 375px) {
    .cmp-tabbedContainer{
        padding-top: 30px;
    }
    .cmp-tabbedContainer .videoCustom:after{
        top: 60px;
        margin: 0;
        margin-left: auto;
        margin-right: auto;
    }
    .cmp-tabbedContainer .DxTabs__tab{
        margin: 0px 10px;
        padding: 0 !important;
    }
}
@media screen and (min-width: 768px) and (max-width: 1279.9px) {
    .cmp-tabbedContainer .cmp-exterior360 .shelfComponent{
        padding-top: 63px;
    }

    .cmp-tabbedContainer{
        padding: 60px 0px;
    }
    .cmp-tabbedContainer_box{
        width: 100%;
        max-height:432px;
        min-height: 432px;        
    }
    .cmp-tabbedContainer .cmp-carousel__bgImage, 
    .cmp-tabbedContainer .Exterior360__canvas,
    .cmp-tabbedContainer .swiper-container,
    .cmp-tabbedContainer .videoCustom img,
    .cmp-tabbedContainer .videoCustom,
    .cmp-tabbedContainer .cmp-genericItem__element-poster,
    .cmp-tabbedContainer .Interior360__panorama, 
    .cmp-tabbedContainer .Interior360__panorama-holder{
        height: 432px !important;
    }
    
    .cmp-tabbedContainer .DxTabs{
        margin: 0px 30px;
        width: calc(100% - 60px);
        height: 48px;
    }
    .cmp-tabbedContainer .DxTabs__tablist{
        height: 47px;
    }
    .cmp-tabbedContainer .DxTabs__tab{
        height: 47px !important;
    }
    .cmp-contentBlocksContainer .cmp-tabbedContainer .DxTabs{
        height: 48px;
        margin: 0 30px;
        width: calc(100% - 60px);
    }
    .cmp-tabbedContainer .shelfComponent{
        padding-left: 30px;
        padding-right: 30px;        
        margin: 0;
        padding-top: 63px ;
    }
    .cmp-tabbedContainer .cmp-fullframe .shelfComponent{ 
        padding-bottom: 40px;
    }
    .tabbedcontainer .cmp-tabbedContainer{
        padding-bottom: 60px;
        padding-top: 40px;
    }
    .cmp-tabbedContainer .headerClass{
        max-width: 100%;
    }
    .cmp-tabbedContainer .DxTabs{
        bottom: -50px;
    }
    .cmp-tabbedContainer .Interior360__pano-controls{
        bottom: 80px;
    }
    .cmp-contentBlocksContainer .cmp-tabbedContainer .DxTabs__tablist{
        top: 1px;
    }
    .cmp-tabbedContainer .cmp-ContentBlocksContainer .cmp-contentCards .cmp-contentCardsInner {
        display: flex;
        flex-wrap:wrap;
    }
    .cmp-tabbedContainer .cmp-ContentBlocksContainer .cmp-contentCards .cmp-contentCardsInner.swiper-wrapper{
        display: flex;
        flex-wrap:nowrap;
    }
    .cmp-tabbedContainer .videoCustom:after {
        top: 155px;
        margin: 0;
        margin-left: auto;
        margin-right: auto;
    }
    .cmp-tabbedContainer .DxTabs__tab{
        margin: 0px 10px;
    }
    .cmp-tabbedContainer .cmp-fullframe .headerClass{
        min-block-size: 24px;
    }
    .cmp-tabbedContainer .cmp-fullframe .headerClass h2{
        margin-bottom: 0px
    }
    .cmp-tabbedContainer .cmp-interior360 .shelfComponent{
        min-height: 24px;
        padding-top: 63px;
    }
}
@media screen and (min-width: 1920px) and (max-width: 2500px) {
    .cmp-tabbedContainer .cmp-exterior360 .shelfComponent{
        padding-top: 96px;
        width: auto;
    }
    .cmp-tabbedContainer {
        padding: 60px 130px;
    }
    .cmp-tabbedContainer_box{
        width: 1660px;
        max-height:935px;
        min-height: auto;
    }
    .cmp-tabbedContainer .cmp-carousel__bgImage, 
    .cmp-tabbedContainer .Exterior360__canvas,
    .cmp-tabbedContainer .swiper-container,
    .cmp-tabbedContainer .videoCustom img,
    .cmp-tabbedContainer .videoCustom,
    .cmp-tabbedContainer .cmp-genericItem__element-poster,
    .cmp-tabbedContainer .Interior360__panorama, 
    .cmp-tabbedContainer .Interior360__panorama-holder{
        height: 935px !important;
    }
    .cmp-tabbedContainer .DxTabs{
        margin: 0 160px;
        width: 100%;
        max-width: 1340px;
    }
    .cmp-tabbedContainer .shelfComponent{
        margin: 0 auto;
        width: 100% !important;
        max-width: 1340px;
        left: 50%;
    }
    .cmp-tabbedContainer .secondaryLinkWithStyle{
        margin-top: 24px;
    }
    .cmp-contentBlocksContainer .cmp-tabbedContainer .DxTabs {  
        width: 100%;      
        margin: 0 auto;
        max-width: 1340px;
        left: 50%;
        transform: translateX(-50%);
    }
    .cmp-tabbedContainer .Exterior360__canvas{
        width: 100%;
        max-height: 935px;
    }
}

@media screen and (min-width: 1px) and (max-width: 740px) {
    .Accordion .accordion-group-content-inner > .cmp-tabbedContainer,
    .Accordion .accordion-group-content-inner > .InteractiveSlider,
    .Accordion .accordion-group-content-inner > .SameSizeCarousel,
    .Accordion .accordion-group-content-inner > .FullFrameCarousel,
    .Accordion .accordion-group-content-inner > .ModelSelector,
    .Accordion .accordion-group-content-inner > .FullWidthImage,
    .Accordion .accordion-group-content-inner > .ContentBlocksContainer,
    .Accordion .accordion-group-content-inner > .DualFrameCarousel {
        border-top: 0 none;
    }
    .Accordion .accordion-group-content-inner > .cmp-tabbedContainer ~ .cmp-tabbedContainer,
    .Accordion .accordion-group-content-inner > .InteractiveSlider ~ .cmp-tabbedContainer,
    .Accordion .accordion-group-content-inner > .SameSizeCarousel ~ .cmp-tabbedContainer,
    .Accordion .accordion-group-content-inner > .FullFrameCarousel ~ .cmp-tabbedContainer,
    .Accordion .accordion-group-content-inner > .ModelSelector ~ .cmp-tabbedContainer,
    .Accordion .accordion-group-content-inner > .FullWidthImage ~ .cmp-tabbedContainer,
    .Accordion .accordion-group-content-inner > .ContentBlocksContainer ~ .cmp-tabbedContainer,
    .Accordion .accordion-group-content-inner > .DualFrameCarousel ~ .cmp-tabbedContainer {
        border-top: 1px solid #c0c0c0;
    }
    .cmp-tabbedContainer .cmp-ContentBlocksContainer .cmp-contentCards .cmp-contentCardsInner {
        display: flex;
        flex-wrap:wrap;
      }
      .cmp-tabbedContainer .cmp-ContentBlocksContainer .cmp-contentCards .cmp-contentCardsInner.swiper-wrapper{
        display: flex;
        flex-wrap:nowrap;
      }

       .touch .cmp-tabbedContainer .cmp-ContentBlocksContainer[data-template="swiping"] .cmp-ContentCard .imageContainer,
       .touch .cmp-tabbedContainer .cmp-ContentBlocksContainer[data-template="swiping-2column"] .cmp-ContentCard .imageContainer,
      .touch .cmp-tabbedContainer .cmp-ContentBlocksContainer[data-template="swiping-light-links"] .cmp-ContentCard .imageContainer, 
      .touch .cmp-tabbedContainer .cmp-ContentBlocksContainer[data-template="insideMultiCatQuestionnaire"] .cmp-ContentCard .imageContainer,
       .touch .cmp-tabbedContainer .cmp-ContentBlocksContainer[data-template="feature-swiping"] .cmp-ContentCard .imageContainer{
        margin-left: 10px;
      }
}


