.cmb_tabbedContainer {
    padding: 60px;
    height: 100%;
    -webkit-transform-style: preserve-3d;
}
.cmb_tabbedContainer_box{
    width: 1160px;
    margin: 0 auto;
    max-height:653px;
    min-height: 653px;
    position: relative;
    background: #242932;
}
.DxTabs__panel{
    color: #ffffff;
}
.cmb_tabbedContainer .DxTabs {
    position: absolute;
    width: 100%;
    bottom: -41px;
    left: 0;
    z-index: 1;
    padding: 0;
    top:unset !important;
    border-bottom: 2px solid #4A4F544D;
}
.cmb_tabbedContainer .DxTabs__panels {
    position: relative;
    z-index: 0;
}
.cmb_tabbedContainer .DxTabs__tablist {
    padding: 0;
}
.cmb_tabbedContainer .DxTabs__tablist{
width: 100%;
text-align: left;
padding: 0px;
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
position: relative;
top: 2px;
}
.cmb_tabbedContainer .DxTabs__tablist::-webkit-scrollbar {
    display: none;
  }
.cmb_tabbedContainer .DxTabs__tab{
max-width: 500px;
}
.cmb_tabbedContainer .DxTabs__tab, 
.cmb_tabbedContainer .DxTabs__tab:not(.DxTabs__tab--active){
    background-color: #FFFFFF;
    color: #0C121C;
    border-bottom: 2px solid #4A4F544D; 
    border-right: 0;
}
.cmb_tabbedContainer .DxTabs__tab:not(.DxTabs__tab--active):hover{
    background-color: #FFFFFF;
    color: #0C121C;
    border-bottom: 5px solid #A8AAAE;
}
.cmb_tabbedContainer .DxTabs__tab:not(:first-of-type), 
.cmb_tabbedContainer .DxTabs__tab:hover:not(:first-of-type){
    border-left:0; 
}
.cmb_tabbedContainer .DxTabs__mask{
    display: none
}
.cmb_tabbedContainer .DxTabs__tab--active,
.cmb_tabbedContainer .DxTabs__tab--active:hover{
    border-bottom: 5px solid #005A2B;
    border-left: 0;
    border-right: 0;
}
.cmb_tabbedContainer__bottom-title{
    width: 32%;
    float: left;
    font-size: 24px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    color: #0C121C;
    margin-top: 25px;
}
.cmb_tabbedContainer__bottom-title h2{
    font-family: "LandRoverWeb-Bold";
    font-size: 24px;
    text-transform: uppercase;
}
.cmb_tabbedContainer__bottom-content{
    width: 68%;
    float: left;
    margin-top: 25px;
    padding-left: 40px;
    font-size: 14px;
    color: #4A4F54;
}

.cmb_tabbedContainer__bottom-content p{
    padding-bottom: 0;
    width: 71%;
}
.cmb_tabbedContainer__bottom-content p:last-child{
    margin-top: 25px;
}
.slateblue .cmb_tabbedContainer__option-card--active{
    background-color: #0C121C;
}
.slateblue .cmb_tabbedContainer__bottom-title{
    color: #ffffff;
}
.cmb_tabbedContainer__bottom-container{
    padding-bottom: 0px;
    width: 1160px;
    margin: 0 auto;
    margin-top: 45px;
    display: inline-block;
}

@media screen and (min-width: 1px) and (max-width: 768px) {

.cmb_tabbedContainer{
padding: 60px 0px;
}
}
@media screen and (min-width: 1px) and (max-width: 740px) {
    .Accordion .accordion-group-content-inner > .cmb_tabbedContainer,
    .Accordion .accordion-group-content-inner > .InteractiveSlider,
    .Accordion .accordion-group-content-inner > .SameSizeCarousel,
    .Accordion .accordion-group-content-inner > .FullFrameCarousel,
    .Accordion .accordion-group-content-inner > .ModelSelector,
    .Accordion .accordion-group-content-inner > .FullWidthImage,
    .Accordion .accordion-group-content-inner > .ContentBlocksContainer,
    .Accordion .accordion-group-content-inner > .DualFrameCarousel {
        border-top: 0 none;
    }
    .Accordion .accordion-group-content-inner > .cmb_tabbedContainer ~ .cmb_tabbedContainer,
    .Accordion .accordion-group-content-inner > .InteractiveSlider ~ .cmb_tabbedContainer,
    .Accordion .accordion-group-content-inner > .SameSizeCarousel ~ .cmb_tabbedContainer,
    .Accordion .accordion-group-content-inner > .FullFrameCarousel ~ .cmb_tabbedContainer,
    .Accordion .accordion-group-content-inner > .ModelSelector ~ .cmb_tabbedContainer,
    .Accordion .accordion-group-content-inner > .FullWidthImage ~ .cmb_tabbedContainer,
    .Accordion .accordion-group-content-inner > .ContentBlocksContainer ~ .cmb_tabbedContainer,
    .Accordion .accordion-group-content-inner > .DualFrameCarousel ~ .cmb_tabbedContainer {
        border-top: 1px solid #c0c0c0;
    }
}