.cmp-heroTitleBanner .linkContainer{
	margin-top: 0px;
}
.cmp-carousel.cmp-herotitle-carousel {
  padding: 0;
  max-height: 100%;
  text-align: center;
  position: relative;
}
.cmp-herotitle-carousel .cmp-carousel__slider {
  height: 100%;
  width: 100%;
  outline: 0;
}
.cmp-carousel__bgImage {
  display: block;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.cmp-carousel__controls.cmp-heroTitleBanner_pagination {
  z-index: 1;
  padding: 0;
  left: 0;
  right: auto;
  bottom: 1px;
  position: absolute;
  justify-content: left;
}
.cmp-carousel .swiper-button {
  display: block;
}
.cmp-carousel .swiper-button[aria-disabled="true"] {
  display: none;
}
.cmp-carousel .carousel {
  text-align: center;
  direction: ltr;
  height: 100% !important;
  overflow: unset;
}
.cmp-carousel .carousel .cmp-carousel__slide {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100% !important;
  color: #4a4f54;
}
html.no-js .cmp-carousel.cmp-herotitle-carousel {
  opacity: 1;
  height: auto;
  min-height: 0;
}
html.no-js .cmp-carousel .carousel > * {
  float: none;
}
html.no-js .cmp-carousel .carousel .cmp-carousel__slide {
  opacity: 1;
  position: relative;
  text-align: center;
  height: auto;
  display: block;
}
.cmp-heroTitleBanner .cmp-heroTitleBanner__image {
  position: relative;
  width: 100%;
  height: 100%;
}
.cmp-heroTitleBanner .cmp-heroTitleBannerGridContext {
  position: initial;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.cmp-heroTitleBanner .cmp-genericItem__content {
  width: 35%;
  text-align: left;
  padding-right: 40px;
}
.cmp-heroTitleBanner .cmp-heroTitleBanner__header {
  margin-bottom: 8px;
  text-transform: uppercase;
  font-size: 38px;
}
.cmp-heroTitleBanner .cmp-heroTitleBanner__price {
  margin-bottom: 18px;
  margin-top: 0;
  line-height: 1;
  font-size: 11px;
  letter-spacing: 1.5px;
  font-family: avenir, arial, helvetica, sans-serif;
  font-weight: 400;
}
#landrover .cmp-heroTitleBanner .primaryLinkWithStyle {
  margin-top: 0;
  font-family: AvenirNext-DemiBold, arial, helvetica, sans-serif;
  text-transform: uppercase;
}
.cmp-heroTitleBanner .cmp-heroTitleBanner__image .Picture {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
}
.cmp-heroTitleBanner.right .cmp-heroTitleBanner__image {
  order: 2;
}
.cmp-heroTitleBanner.right .cmp-genericItem__content {
  order: 1;
}
.cmp-heroTitleBanner.right .cmp-heroTitleBanner__image .Picture {
  left: 40px;
  width: calc(100% - 40px);
}
#landrover .cmp-heroTitleBanner .primaryLinkWithStyle:focus {
  background-color: #4a4f54;
  color: #fff;
  box-shadow: 0 0 0 1px #fff, 0 0 0 2px #4a4f54, 0 0 2px 4px #4a90e2;
}
.swiper-button {
  filter: drop-shadow(0 3px 3px rgba(0, 0, 0, 0.6))
    drop-shadow(0 0 2px rgba(74, 144, 226, 0.1))
    drop-shadow(0 0 2px rgba(74, 144, 226, 0.1));
}
.cmp-carousel.cmp-herotitle-carousel {
  padding: 0;
  height: 100%;
  text-align: center;
  position: relative;
}
.cmp-heroTitleBanner {
  padding-left: 60px;
}
.cmp-heroTitleBanner .emissionDetails {
  width: 100%;
  text-align: left;
  height: 15px;
  margin-bottom: 8px;
}
.cmp-heroTitleBanner .emissionDetails p,
label {
  display: inline;
  font-size: 10px;
}
.cmp-heroTitleBanner .emissionDetails label {
  padding-right: 20px;
}
.cmp-heroTitleBanner .emissionDetails {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
}
.cmp-heroTitleBanner .emissionDe {
  display: flex;
  flex-direction: column;
  min-height: 40px;
  max-height: 60px;
}
.cmp-heroTitleBanner .emissionDetails label p {
  padding-left: 20px;
}
.cmp-heroTitleBanner .emissionDe:not(:first-child) {
  border-left: 1px solid #4a4f544d;
}
.summaryItemContent p {
  padding-left: 0;
}
.pricing p {
  font-size: 10px;
}
.pricing p strong {
  font-size: 28px;
}
.cmp-heroTitleBanner .fontQuote p {
  font-family: lr_ot4;
}
.white .cmp-heroTitleBanner .headingWrapper p {
  color: #0c121c;
}
.Pagination__pause:before,
.cmp-herotitle-carousel .Pagination__play:before {
  border: 2px solid #000;
}
.Pagination__pause-control-icon,
.cmp-herotitle-carousel .Pagination__play-control-icon {
  fill: #000;
}
.cmp-herotitle-carousel .Pagination__pip:after {
  border: 2px solid #000;
}
.Pagination__pip--active:hover:after,
.cmp-herotitle-carousel .Pagination__pip--active:after {
  background: #000;
}
.cmp-herotitle-carousel .Pagination__pause-timer-icon-countdown {
  stroke: #fff;
}
.Pagination__pause:before {
  border: 2px solid #fff;
}
.cmp-herotitle-carousel .Pagination__pause-control-icon {
  fill: #fff;
}
.cmp-herotitle-carousel .Pagination__pip--active:hover:after {
  background: #fff;
}
.white .cmp-herotitle-carousel [class^="icon-"]:before {
  color: #000;
  font-size: 40px;
}
.cmp-heroTitleBanner .headingWrapper {
  font-weight: 400;
}
@media screen and (max-width: 767px) {
	.cmp-heroTitleBanner .emissionDetails {
		padding-left: 25px;
		padding-top: 11px;
		flex-direction: column;
	}
	.cmp-heroTitleBanner .emissionDetails label,
	p {
		padding-left: 0;
	}
	.cmp-heroTitleBanner .emissionDe {
		padding-left: 0;
	}
	.cmp-heroTitleBanner .emissionDe:not(:first-child) {
		border-left: none;
	}
	.cmp-heroTitleBanner .emissionDe label {
		padding-top: 13px;
	}
	.cmp-heroTitleBanner {
		width: 100%;
		height: 100%;
		padding-left: 0;
	}
	.cmp-heroTitleBanner .cmp-heroTitleBannerGridContext {
		flex-direction: column;
	}
	.cmp-heroTitleBanner .cmp-heroTitleBanner__image {
		width: 100%;
		height: 100%;
		position: relative;
		left: 0;
		right: auto;
		overflow: hidden;
		padding-left: 0;
		padding-bottom: 56%;
	}
	.cmp-heroTitleBanner.right .cmp-heroTitleBanner__image .Picture {
		width: 100%;
		height: auto;
		left: 0;
	}
	.cmp-heroTitleBanner .cmp-genericItem__content {
		width: 100%;
		margin-top: 16px;
		padding-left: 25px;
		order: 2;
	}
	.cmp-heroTitleBanner .pricing {
		height: 41px;
		float: none;
	}
	.cmp-heroTitleBanner .primaryLinkWithStyle {
		margin-bottom: 0;
	}
	.cmp-heroTitleBanner .pricing .firstPrice p {
		float: left;
	}
	.cmp-heroTitleBanner .caveat {
		float: left;
	}
	.cmp-heroTitleBanner .cmp-genericItem__content p {
		width: 75%;
	}
	.cmp-heroTitleBanner .cmp-heroTitleBanner__header {
		font-size: 16px;
	}
	.cmp-heroTitleBanner .cmp-genericItem__content p {
		width: 100%;
		font-size: 12px;
	}
	.cmp-carousel__controls.cmp-heroTitleBanner_pagination {
		padding-left: 25px;
		bottom: 60%;
	}
	.cmp-heroTitleBanner .caveat {
		margin-top: 24px;
	}
	.cmp-heroTitleBanner .emissionDetails label p {
		padding-left: 0;
	}
	.cmp-heroTitleBanner .linkContainer div:nth-of-type(1){
		margin-top: 25px;
	}
	.cmp-heroTitleBanner .linkContainer div:nth-of-type(2) {
		margin-top: 23px;
	}
	.cmp-heroTitleBanner .linkContainer .secondaryLinkWithStyle,#landrover .cmp-heroTitleBanner .linkContainer .secondaryLinkWithStyle  {
		margin-top: 0;
		margin-bottom: 0px;
	}
	.cmp-heroTitleBanner.right .cmp-heroTitleBanner__image {
	order: 1;
	}
	.cmp-heroTitleBanner{
		margin-bottom: 25px;
	}
	.cmp-heroTitleBanner.right .cmp-heroTitleBanner__image .Picture {
	left: 0;
	width: 100%;
	
	}
	}
@media screen and (min-width: 1280px){
	.summaryItemImage.cmp-heroTitleBanner__image{
		padding-bottom: 37.8%;
	}
	.cmp-carousel__controls.cmp-heroTitleBanner_pagination {
	  padding-left: 60px;
	  bottom: 6%;
	}
	.cmp-heroTitleBanner .cmp-heroTitleBannerGridContext {
	  flex-direction: row-reverse;
	}
	.cmp-heroTitleBanner .heroFooterSection {
	  padding-left: 31.1%;
	  margin-bottom: 20px;
	}
	.cmp-heroTitleBanner .summaryItemContent {
	  padding-top: 40px;
	}
	.cmp-heroTitleBanner .cmp-genericItem__content {
		width: 47.3%;
		display: flex;
		flex-direction: column;
	}
	.cmp-heroTitleBanner .caveat {
	  float: left;
	}
	.cmp-heroTitleBanner .linkContainer {
	  width: max-content;
	}
	.cmp-heroTitleBanner .emissionDe p {
	  display: inline;
	  padding-left: 20px;
	}
	.cmp-heroTitleBanner .emissionDe label p {
	  display: inline;
	  padding-left: 20px;
	}
	.cmp-heroTitleBanner .firstPrice{
		margin-top: 15px;
	}
	.cmp-heroTitleBanner .linkContainer div:nth-of-type(1){
		margin-top: 24px;
		display: flex;
		flex-direction: column;
	}
	.cmp-heroTitleBanner .caveat{
		margin-top: 24px;
	}
	.cmp-heroTitleBanner .pricing .firstPrice p:last-child{
		height: 37px;
		padding-top: 10px;
	}
  }
@media screen and (min-width: 768px) and (max-width: 1279px) {
.cmp-heroTitleBanner .caveat {
	float: right;
}
.cmp-heroTitleBanner .cmp-genericItem__content{
	margin-bottom: 30px;
}
.cmp-heroTitleBanner .emissionDetails label p {
	padding-left: 0;
}
.cmp-heroTitleBanner .pricing {
	margin-top: 15px;
	float: left;
	width: 100%;
}
.cmp-heroTitleBanner .linkContainer div:nth-of-type(1) {
	margin-top: 0;
	padding-top: 24px;
	width: auto;
}
.cmp-heroTitleBanner .linkContainer div:nth-of-type(2) {
	margin-top: 23px;
}
.cmp-heroTitleBanner .primaryLinkWithStyle {
	margin-bottom: 0;
}
.cmp-carousel__controls.cmp-heroTitleBanner_pagination {
	padding-left: 30px;
	bottom: 30%;
}
.cmp-heroTitleBanner .emissionDetails label,
p {
	padding-left: 28px;
}
.cmp-heroTitleBanner {
	padding-left: 0;
}
.cmp-heroTitleBanner .cmp-heroTitleBannerGridContext {
	display: block;
}
.summaryItemContent.cmp-genericItem__content {
	width: 60.1%;
	padding-right: 19px;
	float: left;
	padding-left: 30px;
	padding-top: 24px;
}
.cmp-heroTitleBanner .emissionDetails {
	display: block;
	padding-top: 0;
	margin-top: 0;
	border: none;
}
.cmp-heroTitleBanner .heroFooterSection {
	padding-top: 34px;
	padding-left: 400px;
	margin-bottom: 20px;
}
.summaryItemContent {
	padding-top: 40px;
}
.cmp-heroTitleBanner .emissionDe :first-child {
	padding-top: 0;
}
.cmp-heroTitleBanner .emissionDe label {
	padding-top: 13px;
}
.cmp-heroTitleBanner .emissionDe {
	border-left: 1px solid #4a4f544d;
}
.cmp-heroTitleBanner .cmp-heroTitleBanner__image {
	position: relative;
	height: 100%;
}
.summaryItemImage.cmp-heroTitleBanner__image{
	padding-bottom: 56.3%;
}
.cmp-heroTitleBanner .emissionDetails p, label{
	padding-left: 28px;
}
.cmp-heroTitleBanner .linkContainer{
	padding-top: 0px;
}
.cmp-heroTitleBanner .caveat{
	padding-top: 24px;

}
#landrover .cmp-heroTitleBanner .secondaryLinkWithStyle{
	margin-bottom: 0px;
}
}

@media screen and (min-width: 1920px){
	.cmp-heroTitleBanner .heroFooterSection {
		padding-left: 32.7%;
	}
	.cmp-heroTitleBanner .cmp-genericItem__content {
		width: 50.6%;

	}
	.cmp-heroTitleBanner {
		padding:0px;
	  }
.cmp-carousel.cmp-herotitle-carousel {
	padding: 0px;
	margin: 0px 290px 0px 290px;
}
.cmp-heroTitleBanner .cmp-heroTitleBanner__image {
	position: relative;
}
.cmp-heroTitleBanner .linkContainer {
	width: max-content;
}
.cmp-heroTitleBanner .caveat {
	padding-top: 24px;
	float: left;
}
.cmp-heroTitleBanner .pricing {
	max-width: 100%;
}
.cmp-carousel__controls.cmp-heroTitleBanner_pagination {
	padding-left: 0px;
	bottom: 6%;
  }
}

/* COMMON */
.grey .cmp-herotitle-carousel [class^="icon-"]:before, .grey [class*="logo icon-"]:before,
.light .cmp-herotitle-carousel [class^="icon-"]:before, .light [class*="logo icon-"]:before,
.white .cmp-herotitle-carousel [class^="icon-"]:before, .white [class*="logo icon-"]:before{
  color: black;
  font-size: 50px;
  margin-left: 0px;
}
.slateblue .cmp-herotitle-carousel [class^="icon-"]:before, .white [class*="logo icon-"]:before{
  color: white;
  font-size: 50px;
  margin-left: 0px;
}
.cmp-heroTitleBanner .emissionDetails{
	height: auto;
}
.grey .cmp-herotitle-carousel .Pagination__pause-timer-icon-countdown,
.white .cmp-herotitle-carousel .Pagination__pause-timer-icon-countdown,
.light .cmp-herotitle-carousel .Pagination__pause-timer-icon-countdown {
  stroke: #D7D8D9;
}
.grey .cmp-herotitle-carousel .st0--swiper-pagination,
.white  .cmp-herotitle-carousel .st0--swiper-pagination, .light .st0--swiper-pagination,
.light  .cmp-herotitle-carousel .st0--swiper-pagination, .light .st0--swiper-pagination
{
  fill: white
}

	.cmp-herotitle-carousel .cmp-carousel__slider .swiper-button--next,
	.cmp-herotitle-carousel .cmp-carousel__slider .swiper-button--prev {
		display: none;
	}
	.grey .cmp-herotitle-carousel .Pagination__play-control-icon, 
	.grey .cmp-herotitle-carousel .Pagination__pause-control-icon.Pagination__pause-control-icon,
	.light .cmp-herotitle-carousel .Pagination__play-control-icon, 
	.light .cmp-herotitle-carousel .Pagination__pause-control-icon.Pagination__pause-control-icon,
	.white .cmp-herotitle-carousel .Pagination__play-control-icon,
	.white .cmp-herotitle-carousel .Pagination__pause-control-icon.Pagination__pause-control-icon
	{
	  fill: black;
	}
	.white .cmp-herotitle-carousel .Pagination .Pagination__pip:after,
	.light .cmp-herotitle-carousel .Pagination .Pagination__pip:after,
	.grey .cmp-herotitle-carousel .Pagination .Pagination__pip:after
	 {
	  border: 2px solid #000;
	}
	.grey .cmp-herotitle-carousel .Pagination__pip--active:after, .grey .cmp-herotitle-carousel .Pagination__pip--active:hover:after,
	.light .cmp-herotitle-carousel .Pagination__pip--active:after, .light .cmp-herotitle-carousel .Pagination__pip--active:hover:after,
	.white .cmp-herotitle-carousel .Pagination__pip--active:after, .white .cmp-herotitle-carousel .Pagination__pip--active:hover:after
	{
	  background:black;
	}
	.grey .cmp-herotitle-carousel .Pagination .Pagination__play:before,
	.grey .cmp-herotitle-carousel .Pagination .Pagination__pause:before,
	.light .cmp-herotitle-carousel .Pagination .Pagination__play:before,
	.light .cmp-herotitle-carousel .Pagination .Pagination__pause:before ,
	.white .cmp-herotitle-carousel .Pagination .Pagination__play:before,
	.white .cmp-herotitle-carousel .Pagination .Pagination__pause:before  
	{
	  border: 2px solid #000;
	  background-color: transparent;
  }
  @media screen and (max-width: 1279px){
	.cmp-heroTitleBanner .cmp-genericItem__content .headingWrapper p{
	margin-top: 8px;
	}
	.cmp-heroTitleBanner .cmp-genericItem__content .headingCopy p{
	  margin-top: 0px;
	  }
	  .cmp-heroTitleBanner .cmp-genericItem__content .headingCopy{
		margin-top: 12px;
		}
		.cmp-heroTitleBanner .cmp-genericItem__content .pricing{
			margin-top: 15px;
			}
	}
/* Font color */
.grey .cmp-heroTitleBanner .cmp-genericItem__content .headingWrapper p,
.white .cmp-heroTitleBanner .cmp-genericItem__content .headingWrapper p,
.light .cmp-heroTitleBanner .cmp-genericItem__content .headingWrapper p,
.grey .cmp-heroTitleBanner .pricing p strong,
.light .cmp-heroTitleBanner .pricing p strong,
.white .cmp-heroTitleBanner .pricing p strong{
	color: #0C121C;
}
.grey .cmp-heroTitleBanner .cmp-genericItem__content .headingCopy p,
.light .cmp-heroTitleBanner .cmp-genericItem__content .headingCopy p,
.white .cmp-heroTitleBanner .cmp-genericItem__content .headingCopy p{
	color: #4A4F54;
}
.grey .cmp-heroTitleBanner .cmp-genericItem__content .caveat p,
.light .cmp-heroTitleBanner .cmp-genericItem__content .caveat p,
.white .cmp-heroTitleBanner .cmp-genericItem__content .caveat p{
	color: #0C121C99;
}
.grey .cmp-heroTitleBanner .pricing .firstPrice p,
.light .cmp-heroTitleBanner .pricing .firstPrice p,
.white .cmp-heroTitleBanner .pricing .firstPrice p,
.white .cmp-heroTitleBanner .emissionDetails label p,
.light .cmp-heroTitleBanner .emissionDetails label p,
.grey .cmp-heroTitleBanner .emissionDetails label p{
	color: #4A4F54;
}
/* FONT DEF */
@media screen and (max-width: 768px){
	/* HEADING */
	.cmp-heroTitleBanner .cmp-genericItem__content .headingWrapper p{
		text-align: left;
		letter-spacing: 1.3px;
		text-transform: uppercase;
		font-family: 'LandRoverWeb-Bold';
		font-weight: bold;
		font-size: 26px;
		line-height: 26px;
		opacity: 1;
	}	
	/* HEADING COPY */
	.cmp-heroTitleBanner .cmp-genericItem__content .headingCopy p{
		text-align: left;
		letter-spacing: 0.7px;	
		text-transform: capitalize;
		opacity: 1;
		line-height: 19px;
		font-size: 14px;
	}
	/* PRICING HEADING */
	.cmp-heroTitleBanner .pricing .firstPrice p{
		letter-spacing: 0.18px;
		font-size: 10px;
		opacity: 1;
		line-height: 11px;
	}
	/* PRICE */
	.cmp-heroTitleBanner .pricing p strong{
		text-align: left;
		letter-spacing: 1.76px;
		text-transform: uppercase;
		font-family: 'LandRoverWeb-Bold';
		font-weight: bold;
		opacity: 1;
		font-size: 22px;
		line-height: 24px;
	}
	/* Caveat */
	.cmp-heroTitleBanner .cmp-genericItem__content .caveat p{
		text-align: left;
		letter-spacing: 0.18px;
		opacity: 1;
		line-height: 14px;
		font-size: 10px;
	}
	/* Emission label */ 	/* Emission value */
	.cmp-heroTitleBanner .emissionDetails label p,.cmp-heroTitleBanner .emissionDetails p{
		text-align: left;
		font-size: 11px;
		letter-spacing: 0.15px;
		line-height: 15px;
	}

}
@media screen and (max-width: 1279px){
	/* HEADING */
	.cmp-heroTitleBanner .cmp-genericItem__content .headingWrapper p{
		text-align: left;
		letter-spacing: 1.5px;
		text-transform: uppercase;
		font-family: 'LandRoverWeb-Bold';
		font-weight: bold;
		font-size: 30px;
		line-height: 30px;
		opacity: 1;
	}	
	/* HEADING COPY */
	.cmp-heroTitleBanner .cmp-genericItem__content .headingCopy p{
		text-align: left;
		letter-spacing: 0.7px;	
		text-transform: capitalize;
		opacity: 1;
		line-height: 19px;
		font-size: 14px;
	}
	/* PRICING HEADING */
	.cmp-heroTitleBanner .pricing .firstPrice p{
		letter-spacing: 0.7px;
		font-size: 10px;
		opacity: 1;
		line-height: 10px;
	}
	/* PRICE */
	.cmp-heroTitleBanner .pricing p strong{
		text-align: left;
		letter-spacing: 1.1px;
		text-transform: uppercase;
		font-family: 'LandRoverWeb-Bold';
		font-weight: bold;
		opacity: 1;
		font-size: 22px;
		line-height: 24px;
	}
	/* Caveat */
	.cmp-heroTitleBanner .cmp-genericItem__content .caveat p{
		text-align: left;
		letter-spacing: 0.18px;
		opacity: 1;
		line-height: 14px;
		font-size: 10px;
	}
	/* Emission label */ 	/* Emission value */
	.cmp-heroTitleBanner .emissionDetails label p,.cmp-heroTitleBanner .emissionDetails p{
		text-align: left;
		font-size: 10px;
		letter-spacing: 0.14px;
		line-height: 14px;
	}

}
@media screen and (min-width: 1280px){
	/* HEADING */
	.cmp-heroTitleBanner .cmp-genericItem__content .headingWrapper p{
		text-align: left;
		letter-spacing: 1.9px;
		text-transform: uppercase;
		font-family: 'LandRoverWeb-Bold';
		font-weight: bold;
		font-size: 38px;
		line-height: 38px;
		opacity: 1;
	}	
	/* HEADING COPY */
	.cmp-heroTitleBanner .cmp-genericItem__content .headingCopy p{
		text-align: left;
		letter-spacing: 0.7px;	
		text-transform: capitalize;
		opacity: 1;
		line-height: 19px;
		font-size: 14px;
	}
	/* PRICING HEADING */
	.cmp-heroTitleBanner .pricing .firstPrice p{
		letter-spacing: 0.7px;
		font-size: 10px;
		opacity: 1;
		line-height: 10px;
	}
	/* PRICE */
	.cmp-heroTitleBanner .pricing p strong{
		text-align: left;
		letter-spacing: 1.4px;
		text-transform: uppercase;
		font-family: 'LandRoverWeb-Bold';
		font-weight: bold;
		opacity: 1;
		font-size: 28px;
		line-height: 14px;
	}
	/* Caveat */
	.cmp-heroTitleBanner .cmp-genericItem__content .caveat p{
		text-align: left;
		letter-spacing: 0.18px;
		opacity: 1;
		line-height: 14px;
		font-size: 10px;
	}
	/* Emission label */ 	/* Emission value */
	.cmp-heroTitleBanner .emissionDetails label p,.cmp-heroTitleBanner .emissionDetails p{
		text-align: left;
		font-size: 10px;
		letter-spacing: 0.14px;
		line-height: 14px;
	}

}
@media screen and (min-width: 1920px){
	.cmp-heroTitleBanner .emissionDetails label p,.cmp-heroTitleBanner .emissionDetails p{
		text-align: left;
		font-size: 11px;
		letter-spacing: 0.15px;
		line-height: 14px;
	}
}