.cmp-specificationsAtAGlance {
    padding: 60px 60px 80px 60px;
    text-align: left;
}

.cmp-specificationsAtAGlance__heading {
    margin: 0;
    padding: 0;
}

.cmp-specificationsAtAGlance__heading .cmp-specificationsAtAGlance__heading-wrapper p {
    color: #0C121C;
    letter-spacing: 1.9px;
    font-family: 'lr_ot4';
    font-size: 38px;
    font-weight: 700;
    text-transform: uppercase;
}

.cmp-specificationsAtAGlance__copy p, li{
    letter-spacing: 0.2px;
    font-family: "AvenirNext-Regular";
    font-size: 18px;
    line-height: 24px;
    color: #4A4F54;
}

.cmp-specificationsAtAGlance__copy p:First-letter, li::first-letter {
    text-transform: capitalize;
}

.cmp-specificationsAtAGlance__copy {
    margin-top: 23px;
}

.cmp-header_div {
    margin-bottom: 80px;
}

.cmp-specificationsAtAGlance h3.feature p {
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0.82px;
    color: #4A4F54;
    text-transform: uppercase;
}

.cmp-specificationsAtAGlance h3.feature {
    margin-bottom: 8px;
}

.cmp-specificationsAtAGlance__items.items .measurement span.valueLarge {
    color: #0C121C;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: 2.8px;
    font-family: 'lr_ot4';
    font-size: 56px;
}

.large .cmp-specificationsAtAGlance__items.items .measurement span.valueLarge {
    font-size: 56px;
    letter-spacing: 2.8px;
}

.small .cmp-specificationsAtAGlance__items.items .measurement span.valueLarge {
    font-size: 36px;
    letter-spacing: 1.8px;
}

.cmp-specificationsAtAGlance .measurement.dividerBlock {
    margin-bottom: 19px;
}

.cmp-specificationsAtAGlance__items.items .measurement span.unitLarge {
    color: #4A4F54;
    font-weight: 400;
    font-size: 21px;
    line-height: 16px;
    letter-spacing: 1.07px;
    font-family: 'lr_ot4';
}

.cmp-specificationsAtAGlance__items .description p {
    font: normal normal bold 14px/19px AvenirNext-Regular;
    letter-spacing: 0.2px;
    color: #4A4F54;
    text-transform: capitalize;
}

.cmp-specificationsAtAGlance .cmp-ctaContainer .primaryLinkWithStyle {
    margin: 13px 26px 0 0;
}

.cmp-specificationsAtAGlance .cmp-specificationsAtAGlance__items .el {
    padding-right: 40px;
    padding-bottom: 27px;
    padding-left: 0;
}

.cmp-specificationsAtAGlance__copy ol {
	list-style: auto;
}

.cmp-specificationsAtAGlance__copy ul {
	list-style: initial;
}

/* mobile view */

@media screen and (max-width: 767px) {
    .cmp-specificationsAtAGlance {
        padding: 25px 25px 80px 25px;
    }
    .cmp-specificationsAtAGlance__heading .cmp-specificationsAtAGlance__heading-wrapper p {
        font-size: 26px;
        letter-spacing: 1.3px;
        line-height: 26px;
        width: 325px;
    }
    .cmp-specificationsAtAGlance__heading {
       margin: 0;
    }
    .cmp-specificationsAtAGlance__copy {
        margin-top: 16px;
        width: 325px;
    }
    .cmp-specificationsAtAGlance__copy p, li {
        font-size: 14px;
        line-height: 19px;
    }
    .cmp-specificationsAtAGlance h3.feature p {
        font-size: 14px;
        letter-spacing: 0.71px;
    }
    .cmp-specificationsAtAGlance .measurement.dividerBlock {
        margin-bottom: 18px;
    }
    .cmp-specificationsAtAGlance .items .el {
        margin-bottom: 24px;
        display: inline-block;
        padding: 0;
    }
    .cmp-specificationsAtAGlance .items .el,
    .cmp-specificationsAtAGlance .items[data-total="1"] .el,
    .cmp-specificationsAtAGlance .items[data-total="2"] .el,
    .cmp-specificationsAtAGlance .items[data-total="4"] .el,
    .cmp-specificationsAtAGlance .items[data-total="5"] .el,
    .cmp-specificationsAtAGlance .items[data-total="6"] .el,
    .cmp-specificationsAtAGlance .items[data-total="7"] .el,
    .cmp-specificationsAtAGlance .items[data-total="8"] .el {
        width: 100%
    }
    .cmp-header_div {
        margin-bottom: 40px;
    }
    .cmp-specificationsAtAGlance h3.feature {
        margin-bottom: 0;
    }
    .cmp-specificationsAtAGlance .cmp-ctaContainer .primaryLinkWithStyle {
        margin-top: 16px;
    }
}


/* tablet view*/

@media screen and (min-width: 768px) and (max-width: 1279px) {
    .cmp-specificationsAtAGlance {
        padding: 40px 30px 80px 30px;
    }
    .cmp-specificationsAtAGlance__heading {
        margin: 0;
        width: 524px;
    }
    .cmp-specificationsAtAGlance__copy {
        margin-top: 17px;
        width: 519px;
    }
    .cmp-specificationsAtAGlance__heading .cmp-specificationsAtAGlance__heading-wrapper p {
        font-size: 30px;
        letter-spacing: 1.5px;
        line-height: 30px;
    }
    .cmp-specificationsAtAGlance__copy p, li {
        font-size: 14px;
        line-height: 19px;
    }
    .cmp-specificationsAtAGlance .items .el,
    .cmp-specificationsAtAGlance .items[data-total="4"] .el,
    .cmp-specificationsAtAGlance .items[data-total="5"] .el,
    .cmp-specificationsAtAGlance .items[data-total="6"] .el,
    .cmp-specificationsAtAGlance .items[data-total="7"] .el,
    .cmp-specificationsAtAGlance .items[data-total="8"] .el {
        width: 50%;
        min-height: 200px;
    }
    .cmp-specificationsAtAGlance .items[data-total="3"] .el {
        width: 30%
    }
    .cmp-specificationsAtAGlance .cmp-specificationsAtAGlance__items .el {
        padding-right: 28px;
        padding-bottom: 40px;
    }
    .cmp-specificationsAtAGlance .items .el {
        float: left;
    }
    .cmp-header_div {
        margin-bottom: 60px;
    }
    .cmp-specificationsAtAGlance .cmp-ctaContainer .primaryLinkWithStyle {
        margin-top: 20px;
    }
    .cmp-specificationsAtAGlance .measurement.dividerBlock {
        margin-bottom: 18px;
    }
}


/* desktop view*/

@media screen and (min-width: 1280px) and (max-width: 1919px) {
    .cmp-specificationsAtAGlance__copy {
        width: 760px;
    }
    .cmp-specificationsAtAGlance__heading .cmp-specificationsAtAGlance__heading-wrapper p {
        width: 760px;
    }
}


/* wild view*/

@media screen and (min-width: 1920px) {
    .cmp-gridListWrapper {
        padding: 60px 290px 80px 290px;
    }
    .cmp-specificationsAtAGlance__copy {
        width: 880px;
    }
    .cmp-specificationsAtAGlance__heading .cmp-specificationsAtAGlance__heading-wrapper p {
        width: 765px;
    }
    .cmp-specificationsAtAGlance .items .el {
        float: left;
    }
}

@media screen and (min-width: 1280px) {
    .cmp-specificationsAtAGlance .items[data-total="4"] .el,
    .cmp-specificationsAtAGlance .items[data-total="7"] .el,
    .cmp-specificationsAtAGlance .items[data-total="8"] .el {
        width: 24%;
    }
}

.cmp-specificationsAtAGlance .cmp-ctaContainer {
    margin-top: 0px;
    text-align: left;
    padding-left: 0 !important;
}

.cmp-specificationsAtAGlance.dark .cmp-specificationsAtAGlance__items p {
    color: #fff
}

.cmp-specificationsAtAGlance__heading .fontH2 p {
    font-size: 38px;
    color: #0C121C !important;
    text-transform: uppercase;
}

h2.heading,
.heading.headingH2 {
    color: #0c121c;
}

.cmp-specificationsAtAGlance__items.items .measurement span.unitLarge sub {
    vertical-align: baseline;
    font-size: 11px;
}

.cmp-specificationsAtAGlance.dark .cmp-specificationsAtAGlance__items.items .measurement .valueLarge {
    color: #e9ecec[]
}

.cmp-specificationsAtAGlance.dark .cmp-specificationsAtAGlance__items.items .measurement .unitLarge {
    color: #e9ecec[]
}

.unitLarge p {
    display: inline-block;
}