
.cmp-caveat {
	line-height: 1.3rem; 
	/* padding: 0 90px 80px  */
	/* padding: 10px 20px 10px 30px; */
	padding-top:10px;
	padding-bottom: 10px;
	padding-left:80px;
	padding-right:90px;
	
}
.cmp-caveat__content p {
	/* font-size: 10px;
	font-family: "avenir", "arial", "helvetica", sans-serif;
	font-weight: normal; */
	max-width: 600px;
	
}

 .cmp-caveat--fixedWidth .cmp-caveat p {
	max-width: 600px;
	
}

.cmp-caveat--fullWidth .cmp-caveat p {
	max-width: 100%
}

.cmp-caveat--left .cmp-caveat{
	text-align: left;
}

.cmp-caveat--left .cmp-caveat p {
	margin-right: auto;
	margin-left: 0;
}

.cmp-caveat--right .cmp-caveat {
	text-align: right;
}

.cmp-caveat--right .cmp-caveat p {
	margin-left: auto;
	margin-right: 0,

}
.cmp-caveat--centre .cmp-caveat {
	text-align: center;
}

.cmp-caveat--centre .cmp-caveat p {
	margin-left: auto;
	margin-right: auto;

}

.cmp-caveat--light {
	background-color: #FFFFFF;
    color : #000;
}
.cmp-caveat--white {
	background-color: #f8f9f9;
    color: #4a4f54;
}

.cmp-caveat--grey {
    background-color: #e9ecec;
    color: #4a4f54;

}
.cmp-caveat--dark {
	background: #4a4f54;
    color: #e4e8e8;
}
.cmp-caveat p {
	font-size: 11px;
	letter-spacing: 1px;
	font-family: "AvenirNext", "arial", "helvetica", "sans-serif";
	font-weight: normal;
	color: #a4a7a9;
	letter-spacing: 1.5px !important
}

.cmp-caveat p a {
	text-decoration: none;
	border-bottom: 1px solid
}

.cmp-caveat--light p,.cmp-caveat--grey p {
    color: #4a4f54;
}

.cmp-caveat--padTop-halfX {
	padding-top: 5px
}

.cmp-caveat--padTop-1X {
	padding-top: 10px
}

.cmp-caveat--padTop-2X {
	padding-top: 20px
}

.cmp-caveat--padTop-4X {
	padding-top: 40px
}

.cmp-caveat--padTop-8X {
	padding-top: 80px
}

.cmp-caveat--padBottom-halfX {
	padding-bottom: 5px
}

.cmp-caveat--padBottom-1X {
	padding-bottom: 10px
}

.cmp-caveat--padBottom-2X {
	padding-bottom: 20px
}

.cmp-caveat--padBottom-4X {
	padding-bottom: 40px
}

.cmp-caveat--padBottom-8X {
	padding-bottom: 80px
}

@media screen and (min-width: 1px) and (max-width: 900px) {
	.cmp-caveat {
		padding: 0 40px 40px
	}
	.cmp-caveat p {
		max-width: 500px
	}
}

@media screen and (min-width: 1px) and (max-width: 740px) {
	.cmp-caveat {
		padding: 0 30px 30px
	}
	.cmp-caveat p {
		max-width: none
	}
}
@media screen and (min-width: 1px) and (max-width: 740px) {
	.cmp-caveat p {
		max-width: none
	}
}

