
.VehicleSpecsRulesEngine__specs-heading{
  background-color: #F8F9F9;
}
.VehicleSpecsRulesEngine__specs-engine {
  text-align: left;
  font-family: "AvenirNext-Regular", "arial", "helvetica", sans-serif;
  font-size: 1.5rem;
  line-height: 1.4;
  letter-spacing: 0;
  font-weight: 400;
}
.RulesEngineDropdown__heading {
  background-color: rgba(255, 255, 255, 0.9);
  color: #0c121c;
}
.RulesEngineDropdown__heading-section {
  padding: 23px 10px;
}
.RulesEngineDropdown__dropdown-heading {
  color: #4a4f54;
  font-size: 1.4rem;
  letter-spacing: 0.3px;
  line-height: 1.3;
  font-weight: 600;
}
.RulesEngineDropdown__dropdown-button,
.RulesEngineDropdown__dropdown-list-item-link {
  color: #4a4f54;
}
.RulesEngineDropdown {
  position: relative;
}
.RulesEngineDropdown__bgImage {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: -1;
}
.RulesEngineDropdown__heading {
  margin: 0;
  display: inline-block;
  padding: 16px 24px;
}
.RulesEngineDropdown__heading-section {
  position: relative;
}
.RulesEngineDropdown__heading-container {
  text-align: center;
  margin: 0;
}
.RulesEngineDropdown__dropdowns-container {
  background-color: #fff;
  padding: 30px;
}
.RulesEngineDropdown__dropdown {
  margin-bottom: 24px;
}
.RulesEngineDropdown__dropdown-heading {
  margin: 0 0 14px;
  display: block;
}
.RulesEngineDropdown__submit {
  padding-top: 16px;
}
.RulesEngineDropdown__submit-button {
  display: block;
  box-sizing: border-box;
  width: 100%;
  margin-top: 0;
}
@media screen and (min-width: 1280px) {
  /* .RulesEngineDropdown__dropdowns {
    justify-content: center;
  } */
  .RulesEngineDropdown__dropdowns-section {
    padding: 47px 90px 76px;
  }
  .RulesEngineDropdown__dropdowns-container {
    padding: 48px;
  }
  .RulesEngineDropdown__dropdown {
    margin-top: 0px;
    margin-right: 26px;
    margin-bottom: 45px;
    margin-left: 0px;
    flex: 1 1 0;
    /* max-width: 330px; */
  }
  .RulesEngineDropdown__dropdown:nth-of-type(even) {
    padding-left: 0;
  }
  .RulesEngineDropdown__dropdown:nth-of-type(odd) {
    padding-right: 0;
  }
}
@media screen and (min-width: 1280px) {
  .ie .RulesEngineDropdown__dropdowns {
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
  }
  .ie .RulesEngineDropdown__dropdowns[data-items="2"] {
    max-width: calc(330px * 2);
  }
  .ie .RulesEngineDropdown__dropdowns[data-items="3"] {
    max-width: calc(330px * 3);
  }
  .ie .RulesEngineDropdown__dropdowns[data-items="4"] {
    max-width: calc(330px * 4);
  }
  .ie .RulesEngineDropdown__dropdown {
    flex: 1 1;
    width: auto;
    max-width: none;
  }
}
.VehicleSpecsRulesEngine__specs-engine {
  font-family: "AvenirNext-Regular", "arial", "helvetica", sans-serif;
  font-size: 1.5rem;
  line-height: 1.4;
  letter-spacing: 0;
  font-weight: 400;
}
.TechSpecsTable {
  width: 100%;
  text-align: left;
}
.TechSpecsTable__heading,
.TechSpecsTable__cell {
  text-align: left;
  padding: 10px;
  vertical-align: middle;
}
.TechSpecsTable__cell {
  width: 40%;
}
/* .TechSpecsTable__caveats {
  padding-top: 24px;
} */

@media screen and (min-width: 1280px) {
  .TechSpecsTable__cell {
    width: 30%;
  }
}
.TechSpecsTable {
  border: 1px solid #a4a7a9;
}
.TechSpecsTable__row {
  border-bottom: 1px solid #a4a7a9;
}
.TechSpecsTable__heading {
  background-color: #E9ECEC;
}
.TechSpecsTable__caveat {
  font-size: 1rem;
  letter-spacing: 0.15rem;
}
.VehicleSpecsRulesEngine__specs {
  padding: 30px 0;
}
.VehicleSpecsRulesEngine__specs-heading {
  padding: 0 30px 30px 0;
  text-align: center;
}
.VehicleSpecsRulesEngine__specs-title {
  margin-bottom: 16px;
}
.VehicleSpecsRulesEngine__specs-cta {
  text-align: center;
}
.VehicleSpecsRulesEngine__specs .hidden,
.VehicleSpecsRulesEngine__specs--hide {
  display: none;
}
.VehicleSpecsRulesEngine__error.hidden {
  display: none;
}
.VehicleSpecsRulesEngine__error p{
  text-align:  center;
}
.VehicleSpecsRulesEngine__error .shelfComponent {
  display: block;
  padding: 80px 90px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@media screen and (min-width: 1280px) {
  .VehicleSpecsRulesEngine__specs {
    padding: 47px 90px 76px;
  }
}
.VehicleSpecsRulesEngine__specs {
  background-color: #FFFFFF;
}
.VehicleSpecsRulesEngine__specs-engine {
  font-size: 1.4rem;
  line-height: 1.9rem;
  letter-spacing: 0.02rem;
  font-weight: 400;
}
@media screen and (min-width: 1280px) {
  .VehicleSpecsRulesEngine__specs-engine {
    font-size: 1.8rem;
    line-height: 2.4rem;
    letter-spacing: 0.02rem;
    font-weight: 400;
  }
}
.RulesEngineDropdown__heading-section h1 {
  float: left;
  clear: both;
  text-align: left;
  padding-top: 79px;
  padding-bottom: 0;
}
.RulesEngineDropdown__dropdowns-container {
  clear: both;
  padding-left: 0;
}
.RulesEngineDropdown__heading-section {
  padding: 0px 90px 85px 39px;
}
.RulesEngineDropdown__heading {
  padding: 24px 30px 24px 0px;
  background-color: #fff;
}
body {
  background-color: #fff;
}
.logo_comp {
  width: 508px;
  height: 266px;
  background-color: #4a4f54;
  float: right;
}
.VehicleSpecsRulesEngine--stack .RulesEngineDropdown__dropdowns {
  margin-left: 33px;
  max-width: 847px;
}
#landrover .cmp-vehicleSpecsRulesEngine .primaryLinkWithStyle {
  margin-left: 0px;
}
.VehicleSpecsRulesEngine__specs-cta .primaryLinkWithStyle {
  margin-left: 0;
}
.VehicleSpecsRulesEngine__specs-cta {
  text-align: left;
}
.VehicleSpecsRulesEngine__specs-cta a {
  margin-left: 0;
}
.VehicleSpecsRulesEngine__specs {
  padding: 47px 90px 57px 46px;
}
h2.heading,
.heading.headingH2 {
  text-align: left;
}
.VehicleSpecsRulesEngine__specs-cta a {
  margin-left: 0 !important;
}
.RulesEngineDropdown__dropdowns_horiz {
  flex: 1 1 0;
  margin-left: 36px;
  display: flex;
  flex-direction: row !important  ;
  padding-bottom: 0;
}
.RulesEngineDropdown__dropdowns-container_horz {
  padding-bottom: 0;
}
.RuleEngine_Horizontal_dropdown {
  display: none;
}


/* NEW DEV */
.VehicleSpecsRulesEngine .dxAccordion .dxAccordion__trigger {
  background-color: #FFFFFF;
  padding: 18px 48px 17px 24px;
}
/* .grey .VehicleSpecsRulesEngine .dxAccordion .dxAccordion__trigger{
  background-color: #F8F9F9;
} */
/* .VehicleSpecsRulesEngine .dxAccordion .dxAccordion__trigger{
  background-color: #F8F9F9;
} */
.VehicleSpecsRulesEngine__specs{
  background-clip: padding-box;
  background-color: #F8F9F9;

}
.white .VehicleSpecsRulesEngine .dxAccordion .dxAccordion__trigger{
  background-color: #FFFFFF;
}

.VehicleSpecsRulesEngine .dxAccordion .dxAccordion__title{
    color: #0C121C;
}
.VehicleSpecsRulesEngine .dxAccordion .dxAccordion__trigger:after{
    color: #0C121C;
}
.VehicleSpecsRulesEngine .dxAccordion .dxAccordion__trigger:hover{
    background-color: #E9ECEC;
}
.VehicleSpecsRulesEngine .dxAccordion [aria-expanded="true"]{
    background-color: #E9ECEC;
}



  @media screen and (max-width: 767.9px) {
    .RulesEngineDropdown__engine-label,.RulesEngineDropdown__engine-consumption{
      width: 98.1%;
    }
    .cmp-vehicleSpecsRulesEngine .RulesEngineDropdown__dropdown-heading p{
      height: 19px;
    }
    .vehiclespecs{
      margin-bottom: 112px;
    }
    .vehiclespecs .primaryLinkWithStyle{
      margin-bottom: 0px;
    }
    .dxAccordion.VehicleSpecsRulesEngine__specs-accordion{
      margin-bottom: 35px;
    }
    .VehicleSpecsRulesEngine .dxAccordion__panel {
      padding-top:16px;
      padding-bottom: 25px;
      padding-left: 9px;
      padding-right: 9px;
  }
    .RulesEngineDropdown__dropdowns-container {
      padding-top: 0px;
      padding-left: 25px;
      padding-right: 25px;
      padding-bottom: 0px;
      margin-bottom: 0px;
      display: flex;
      flex-direction: column;
    }
    .VehicleSpecsRulesEngine__specs-heading{
      padding-top: 25px;
      padding-left: 25px;
      padding-right: 25px;
      padding-bottom: 21px;
    }
    .TechSpecsTable__heading,
    .TechSpecsTable__cell {
      padding: 16px;
    }
     #landrover .RulesEngineDropdown__submit .primaryLinkWithStyle{
      margin-left: 0px;
      margin-bottom: 0px;
    }
    .RulesEngineDropdown__submit {
      margin-top: 11px;
      height: 45px;
      margin-bottom: 78px;
      padding-top: 0px;
  }
    .RulesEngineDropdown__submit-button{
      margin-left: 0px;
      width: auto;
    }
    .VehicleSpecsRulesEngine__specs {
      padding: 0px;
  }
  .VehicleSpecsRulesEngine__specs-cta{
    min-height: 45px;
    margin-top: 35px;
    margin-left: 30px;
  }
  .cmp-vehicleSpecsRulesEngine .RulesEngineDropdown__dropdown-item .dxDropdown__list-item-link {
    padding: 13px 41px 14px 14px !important;
  }
  .cmp-vehicleSpecsRulesEngine .dxDropdown__button {
    padding-right: 41px !important;
    white-space: normal;
  }
  }
  @media screen and (min-width: 768px) and (max-width: 1279.9px)  {
    .VehicleSpecsRulesEngine__specs-cta{
      min-height: 45px;
      margin-top: 35px;
      margin-left: 30px;
    }
    .VehicleSpecsRulesEngine .dxAccordion .dxAccordion__trigger{
      padding-left: 30px;
      padding-top: 18px;
      padding-bottom: 16px;
    }
    .VehicleSpecsRulesEngine__specs{
      padding-bottom: 72px;
    }
    .vehiclespecs .primaryLinkWithStyle{
      margin-bottom: 0px;
    }
    .dxAccordion.VehicleSpecsRulesEngine__specs-accordion{
      margin-bottom: 35px;
    }
    .VehicleSpecsRulesEngine .dxAccordion__panel {
      padding-top:24px;
      padding-bottom: 43px;
      padding-left: 30px;
      padding-right: 30px;
  }
    .RulesEngineDropdown__dropdowns-container {
      padding-top: 0px;
      padding-left: 30px;
      padding-right: 30px;
      padding-bottom: 0px;
      margin-bottom: 0px;
      display: flex;
      flex-direction: column;
    }
    .VehicleSpecsRulesEngine__specs-heading{
      padding-top: 40px;
      margin-top: 80px;
      padding-left: 30px;
      /* padding-right: 25px; */
      padding-bottom: 60px;
    }
    .TechSpecsTable__heading,
    .TechSpecsTable__cell {
      padding: 20px;
    }
     #landrover .RulesEngineDropdown__submit .primaryLinkWithStyle{
      margin-left: 0px;
      margin-bottom: 0px;
    }
    .RulesEngineDropdown__submit {
      margin-top: 11px;
      height: 45px;
      padding-top: 0px;
  }
    .RulesEngineDropdown__submit-button{
      margin-left: 0px;
      width: auto;
    }
    .VehicleSpecsRulesEngine__specs {
      padding: 0px;
      padding-bottom: 40px;
      }
      .VehicleSpecsRulesEngine__specs-title {
        margin-bottom: 17px;
      }
  }
  @media screen and (min-width: 1280px) {
    .VehicleSpecsRulesEngine__specs-cta{
      margin-left: 0px;
    }
    .RulesEngineDropdown__dropdown{
      margin-bottom: 24px;
    }
    .VehicleSpecsRulesEngine__specs-heading{
      padding-top: 60px;
      padding-bottom: 81px;
    }
    .RulesEngineDropdown__submit-button{
      width: auto;
    }
     .VehicleSpecsRulesEngine .dxAccordion__panel {
         padding-top: 24px;
         padding-right: 24px;
         padding-left: 24px;
         padding-bottom: 43px;
      }
      .RulesEngineDropdown__dropdowns {
          display: flex;
          flex-wrap: wrap;
          flex: 1;
        } 
        /*bugfix 1065 start*/
         .RulesEngineDropdown__dropdowns.displayBlock {
          display: inline-flex;
        }
        /*bugfix 1065 end*/
      .cmp-vehicleSpecsRulesEngine.stack  .RulesEngineDropdown__dropdowns{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        flex: 1;
        width: 760px;
      }
      .VehicleSpecsRulesEngine__specs {
          padding: 0px 60px 15px 60px;
      }
      .RulesEngineDropdown__dropdowns-container {
        padding-top: 80px;
        padding-left: 60px;
        padding-right: 60px;
        padding-bottom: 0p;
        margin-bottom: 80px;
      }
      #landrover .RulesEngineDropdown .primaryLinkWithStyle {
          margin-left: 0px;
      }
      .RulesEngineDropdown .dxDropdown__button{
          padding-right: 0px;
      }
    }
  @media screen and (min-width: 1920px) {
    .cmp-vehicleSpecsRulesEngine.stack  .RulesEngineDropdown__dropdowns{
      width: 880px;
    }
    .RulesEngineDropdown__dropdowns-container {
      padding-top: 80px;
      padding-left: 290px;
      padding-right: 290px;
      padding-bottom: 0p;
      margin-bottom: 90px;
    }
    .VehicleSpecsRulesEngine__specs {
      padding: 0px 290px 15px 290px;
  }
}
/* Common */
  .RulesEngineDropdown__submit-button{
  width: auto;
  }
  .VehicleSpecsRulesEngine .dxAccordion .dxAccordion__trigger{
    border-bottom-color: #0C121C26;
  }
  .VehicleSpecsRulesEngine .primaryLinkWithStyle span{
      font-family: "AvenirNext-DemiBold";
      text-transform: uppercase;
      letter-spacing: 3px;
      font-size: 10px;
      line-height: 14px;
  }
        /* drodown text inside */
     .RulesEngineDropdown__dropdown-button span{
       font-family: 'AvenirNext-DemiBold';
       text-align: left;
       font-size: 10px; /*bugfix-1065*/
       letter-spacing: 0.45px;
       color: #0C121CCC;
       text-transform: uppercase;
       line-height: 12px; /*bugfix-1065*/
     }
    /* table coloumn  */
    .TechSpecsTable__heading,.TechSpecsTable__cell{
      font-family: 'AvenirNext';
      text-align: left;
      font-size: 10px;
      letter-spacing: 0.99px;
      color: #333333;
      line-height: 12px;
    }
    /* FONT */
    @media screen and (min-width: 768px) and (max-width: 1279.9px){
      .VehicleSpecsRulesEngine__specs-title{
        width: 524px;
        min-height: 40px;
      }
      /* vechicle title  */
      .VehicleSpecsRulesEngine__specs-heading .heading.headingH2,.VehicleSpecsRulesEngine__specs-title h2{
        font-size: 30px;
        text-align: left;
        font-family: 'LandRoverWeb-Bold';
        letter-spacing: 1.5px;
        color: #0C121C;
        text-transform: uppercase;
        line-height: 30px;
      }

      .VehicleSpecsRulesEngine__specs-engine{
        letter-spacing: 0.2px;
        text-align: left;
        font-weight: normal;
        line-height: 14px;
        color: #4A4F54;
        line-height: 19px;
        width: 519px;
        margin-bottom: 0;
      }
      /* Accordian title */
      .VehicleSpecsRulesEngine .dxAccordion .dxAccordion__title{
        font-family: 'AvenirNext-Regular';
        text-align: left;
        font-size: 15px !important;
        font-weight: bold;
        letter-spacing: 0.17px;
        color: #0C121C;
        text-transform: uppercase;
        line-height: 24px;
      }
      .cmp-vehicleSpecsRulesEngine .dxAccordion__trigger .dxAccordion__title{
        min-height: 20px;
      }
    }
    @media screen and (max-width: 767.9px){
      /* vechicle title  */
      .VehicleSpecsRulesEngine__specs-heading .heading.headingH2{
        font-size: 26px;
        text-align: left;
        font-family: 'LandRoverWeb-Bold';
        letter-spacing: 1.3px;
        color: #0C121C;
        text-transform: uppercase;
        line-height: 26px;
      }

      .VehicleSpecsRulesEngine__specs-engine{
        letter-spacing: 0.2px;
        text-align: left;
        font-weight: normal;
        line-height: 14px;
        color: #4A4F54;
        line-height: 19px;
      }
      /* Accordian title */
      .VehicleSpecsRulesEngine .dxAccordion .dxAccordion__title{
        font-family: 'AvenirNext-Regular';
        text-align: left;
        font-size: 15px;
        font-weight: bold;
        letter-spacing: 0.17px;
        color: #0C121C;
        text-transform: uppercase;
        line-height: 24px;
      }
    }
    @media screen and (min-width: 1280px){
      .cmp-vehicleSpecsRulesEngine .TechSpecsTable__heading{
        width: 73.9%;
      }
      .cmp-vehicleSpecsRulesEngine .TechSpecsTable__heading, .TechSpecsTable__cell{
        padding-left: 40px;
      }

     /* vechicle title  */
     .VehicleSpecsRulesEngine__specs-heading .heading.headingH2{
       font-size: 38px;
       text-align: left;
       font-family: 'LandRoverWeb-Bold';
       letter-spacing: 1.9px;
       color: #0C121C;
       text-transform: uppercase;
       line-height: 38px;
     }

     .VehicleSpecsRulesEngine__specs-engine{
       letter-spacing: 0.2px;
       text-align: left;
       font-weight: normal;
       line-height: 18px;
       color: #4A4F54;
       line-height: 24px;
     }
     /* Accordian title */
     .VehicleSpecsRulesEngine .dxAccordion .dxAccordion__title{
       font-family: 'AvenirNext-Regular';
       text-align: left;
       font-size: 15px;
       font-weight: bold;
       letter-spacing: 0.17px;
       color: #0C121C;
       text-transform: uppercase;
       line-height: 24px;
     }

   }
   .stack .RulesEngineDropdown__dropdown {
    max-width: 100%;
    width: 100%;
    padding-left: 0;
    padding-right: 0
  }
  .stack .RulesEngineDropdown__dropdown-button {
    overflow: unset;
    white-space: unset
  }

  .stack .RulesEngineDropdown__engine {
    display: block;
    pointer-events: none
  }

  .stack .RulesEngineDropdown__engine-label {
    display: block;
    font-weight: 800;
    pointer-events: none
  }

  .stack .RulesEngineDropdown__engine-consumption {
    display: block;
    font-weight: 400;
    pointer-events: none
  }
  .stack .RulesEngineDropdown__dropdown {
    max-width: 100%;
    width: 100%;
    padding-left: 0;
    padding-right: 0
  }

/* 917 fixes */
.RulesEngineDropdown__dropdown-heading{
  font-family: "AvenirNext-DemiBold";
  font-weight: 400;
}
#landrover .cmp-vehicleSpecsRulesEngine .primaryLinkWithStyle{
  font-family: "AvenirNext-DemiBold";
  line-height: 14px;
  letter-spacing: 3px;
}
.TechSpecsTable__heading, .TechSpecsTable__cell,.RulesEngineDropdown__dropdown-heading{
  color:#0c121c;
}
.RulesEngineDropdown__engine-label{
  min-height: 15px;
  color: #0C121CCC;
}
.RulesEngineDropdown__engine-consumption{
  color: #0C121CCC;
  min-height: 15px;
}
@media screen and (min-width: 768px)  and (max-width: 1279.9px){
  .cmp-vehicleSpecsRulesEngine .RulesEngineDropdown__dropdown-heading p{
    height: 19px;
    line-height: 18px;
    letter-spacing: 0.5px;
    font-size: 13px;
    font-weight: 400;
  }
  .cmp-vehicleSpecsRulesEngine .RulesEngineDropdown__dropdown-heading p{
    min-height: 15px;
  }
}
/*bugfix 1065 start*/
.cmp-vehicleSpecsRulesEngine .RulesEngineDropdown__dropdown-button{
  padding: 13px 34px 14px 14px;
  letter-spacing: 0.45px;
  font-weight: normal;
  font-size: 11px;
  color: #0C121CCC;
  line-height: 19px;
 }
 /*bugfix 1065 end*/

@media screen and (min-width: 1280px){
  .VehicleSpecsRulesEngine__specs-heading{
    padding-left: 0px;
  }
  .RulesEngineDropdown__dropdown-heading{
    font-size: 13px;
    letter-spacing: 0.5px;
  }
  .cmp-vehicleSpecsRulesEngine .RulesEngineDropdown__dropdown-heading p{
    height: 19px;
    line-height: 18px; /*bugfix-1065*/
  }
  .stack .RulesEngineDropdown__dropdown{
    margin-right: 0px;
  }
  .stack .RulesEngineDropdown__dropdown .dxDropdown__button {
    width: 100%;
  }
   .RulesEngineDropdown__dropdown--model .dxDropdown__button,
   .RulesEngineDropdown__dropdown--bodystyle .dxDropdown__button,
   .RulesEngineDropdown__dropdown--specpack .dxDropdown__button,
   .RulesEngineDropdown__dropdown--engine .dxDropdown__button
   {
    padding-top: 13px;
    min-height: 42px;
   }
  .stack .RulesEngineDropdown__dropdown--engine .dxDropdown__button
  {
    padding-top: 13px;
    height: fit-content;
   }

  .cmp-vehicleSpecsRulesEngine .VehicleSpecsRulesEngine__specs-title{
    width: 760px;
    min-height: 51px;
  }
  .cmp-vehicleSpecsRulesEngine .VehicleSpecsRulesEngine__specs-engine{
    width: 760px;
  }
  .cmp-vehicleSpecsRulesEngine .dxAccordion__trigger .dxAccordion__title{
    height: 20px;
  }
  [data-items="3"] .RulesEngineDropdown__dropdown {
    max-width: 360px;
  }
  .stack [data-items="3"] .RulesEngineDropdown__dropdown {
    min-width: 100%;
  }
  [data-items="4"] .RulesEngineDropdown__dropdown {
    max-width: 260px;
  }
  .stack [data-items="4"] .RulesEngineDropdown__dropdown {
    min-width: 100%;
  }
  .VehicleSpecsRulesEngine__specs-title {
    margin-bottom: 23px;
}
.cmp-vehicleSpecsRulesEngine .primaryLinkWithStyle {
  margin-top: 0px;
}
.VehicleSpecsRulesEngine__specs-cta{
  min-height: 45px;
  margin-top: 45px;
}
.VehicleSpecsRulesEngine__specs{
  padding-bottom: 80px;
}
.VehicleSpecsRulesEngine .dxAccordion .dxAccordion__title{
  font-weight: 600;
}
}
@media screen and (min-width: 1920px){
  .cmp-vehicleSpecsRulesEngine .VehicleSpecsRulesEngine__specs-engine{
   padding-right: 0px;
   width: 880px;
 }
 [data-items="3"] .RulesEngineDropdown__dropdown {
  min-width: 420px;
  max-width: 420px;
}
 .stack [data-items="3"] .RulesEngineDropdown__dropdown {
  min-width: 100%;
}
[data-items="4"] .RulesEngineDropdown__dropdown {
  max-width: 330px;
}
.stack [data-items="4"] .RulesEngineDropdown__dropdown {
  min-width: 100%;
}

}
.cmp-vehicleSpecsRulesEngine .RulesEngineDropdown__dropdown-heading{
  margin-bottom: 7px;
}
@media screen and (max-width: 767.9px) {
  .RulesEngineDropdown__dropdown-heading{
    font-size: 13px;
    letter-spacing: 0.5px;
    line-height: 18px;
    font-weight: 400;
  }
}
@media screen and (max-width: 767.9px) {
  .RulesEngineDropdown__engine .RulesEngineDropdown__engine-label{
    line-height: 16px;
  }
  .RulesEngineDropdown__dropdown-button .RulesEngineDropdown__engine-consumption{
    line-height: 13px;
  }
  .RulesEngineDropdown__dropdown-button {
    min-height: 15px;
    color: #4A4F54;
}
.cmp-vehicleSpecsRulesEngine .dxAccordion__trigger .dxAccordion__title{
  height: 20px;
}
.cmp-vehicleSpecsRulesEngine .TechSpecsTable__heading{
  width: 76.1%;
  padding-top: 18px;

}
.cmp-vehicleSpecsRulesEngine  .TechSpecsTable__cell{
  padding-right: 27px;
  padding-top: 17px;
}
}
/* 917 fixes */

/* KESTREL-926 */
.cmp-vehicleSpecsRulesEngine .dxDropdown--active .dxDropdown__button {
  background-color: #F0F0F0;
}
.cmp-vehicleSpecsRulesEngine .dxDropdown--active .dxDropdown__button {
  background-color: #F0F0F0;
  color: #0c121c;
}
.cmp-vehicleSpecsRulesEngine .dxAccordion__section--active .dxAccordion__section-title .dxAccordion__title,
.cmp-vehicleSpecsRulesEngine .dxAccordion__title:hover{
  font-weight: normal;
}
.cmp-vehicleSpecsRulesEngine .dxDropdown__button {
  border: none;
}
.cmp-vehicleSpecsRulesEngine .dxDropdown__button:after, .cmp-vehicleSpecsRulesEngine .dxDropdown__button:after {
  border: 1px solid #0C121C4D;
}
.cmp-vehicleSpecsRulesEngine .dxDropdown__button:hover:after, .cmp-vehicleSpecsRulesEngine .dxDropdown__button:focus:after,
.cmp-vehicleSpecsRulesEngine .dxDropdown--active .dxDropdown__list {
  border:1px solid #0C121C;
  text-transform: uppercase;
  color: #0C121C;
}
.VehicleSpecsRulesEngine .dxAccordion .dxAccordion__trigger:after {
  width: 16px;
  height: 16px;
}
.dxAccordion.VehicleSpecsRulesEngine__specs-accordion{
  margin-bottom: 0px;
}
/* THEME */
/* ENGINE API RESPONSE SECTION */
.white .VehicleSpecsRulesEngine__specs,.VehicleSpecsRulesEngine__specs,.VehicleSpecsRulesEngine__specs-heading,.white .VehicleSpecsRulesEngine__specs-heading {
  background-clip: padding-box;
  background-color: #F8F9F9;
}
/* DROPDOWN SECTION */
.white .RulesEngineDropdown__dropdowns-container, .RulesEngineDropdown__dropdowns-container{
  background-color: #FFFFFF;
}
.light .VehicleSpecsRulesEngine__specs,.light .VehicleSpecsRulesEngine__specs-heading{
  background-clip: padding-box;
  background-color: #FFFFFF;
}
/* DROPDOWN SECTION */
.light .RulesEngineDropdown__dropdowns-container,.light .VehicleSpecsRulesEngine .dxAccordion .dxAccordion__trigger{
  background-color: #F8F9F9;
}
.light .VehicleSpecsRulesEngine .dxAccordion .dxAccordion__trigger:hover{
  background-color: #E9ECEC;
}
.light .VehicleSpecsRulesEngine .dxAccordion [aria-expanded="true"]{
  background-color: #E9ECEC;
}
/* THEME */
/* KESTREL-926 */

.VehicleSpecsRulesEngine .TechSpecsTable__row{
  height: 54px;
}
.VehicleSpecsRulesEngine .TechSpecsTable__heading,.VehicleSpecsRulesEngine .TechSpecsTable__cell{
 padding-top: 19px;
 padding-bottom: 21px;
}

.cmp-vehicleSpecsRulesEngine .RulesEngineDropdown__dropdown .dxDropdown__button:hover {
  background-color: #F0F0F0;
}
.cmp-vehicleSpecsRulesEngine .RulesEngineDropdown__dropdown-heading{
  text-transform: capitalize;
}
.cmp-vehicleSpecsRulesEngine .RulesEngineDropdown__dropdown .dxDropdown__button{
  font-family: "AvenirNext-DemiBold";
  font-style: normal;
  text-transform: uppercase;
}
.cmp-vehicleSpecsRulesEngine .RulesEngineDropdown__dropdown-item .dxDropdown__list-item-link{
  color: #0C121CCC;
  font-size: 11px;
  line-height: 19px;
  letter-spacing: 0.45px;
  font-family: AvenirNext-DemiBold;
}
.cmp-vehicleSpecsRulesEngine .RulesEngineDropdown__dropdown-item .dxDropdown__list-item-link:hover {
  background: #F0F0F0;
}
.cmp-vehicleSpecsRulesEngine .icon-chevron-down:before{
  width: 24px;
  height: 14px;
}
.cmp-vehicleSpecsRulesEngine .RulesEngineDropdown__dropdown-heading p {
  color: #0C121C;
}
.cmp-vehicleSpecsRulesEngine .RulesEngineDropdown__dropdown--engine .dxDropdown__list-item-link {
  color: #4A4F54;
  line-height: 16px;
}
