.cmp-carousel.cmp-hero-carousel {
  margin: 0 60px 80px 60px;
  text-align: center;
  position: relative;
  overflow: hidden;
}
.cmp-hero .cmp-genericItem__element-poster {
  min-height: 100%;
}
.cmp-hero-carousel .cmp-carousel__slider {
  height: 100%;
  width: 100%;
  outline: 0;
}
.cmp-hero-carousel .cmp-carousel__bgImage {
  display: block;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.cmp-hero-carousel .cmp-carousel__controls {
  z-index: 1;
  padding: 4px 0 39px 0;
  justify-content: ceanter;
}
.cmp-hero .headerClass {
  min-width: auto;
}
@media screen  and (min-width: 768px) and  (max-width: 1279px) {
  .cmp-hero-carousel .cmp-carousel__controls {
    padding: 0;
    left: 30px;
    right: auto;
    bottom: 48px;
    position: absolute;
    justify-content: left;
  }
}
/* .cmp-carousel.cmp-hero-carousel .swiper-button {
  display: block;
} */
.cmp-carousel.cmp-hero-carousel .swiper-button[aria-disabled="true"] {
  display: none;
}
.cmp-carousel.cmp-hero-carousel .carousel {
  text-align: center;
  overflow: hidden;
  direction: ltr;
}
.cmp-carousel.cmp-hero-carousel .carousel .cmp-carousel__slide {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  color: #4a4f54;
}
@media screen and (min-width: 1280px){
  .cmp-carousel.cmp-hero-carousel .carousel .cmp-genericItem__element-poster {
    position: relative;
    padding-bottom: 40.65%;
  }
}
html.no-js .cmp-carousel.cmp-hero-carousel {
  opacity: 1;
  height: auto;
}
html.no-js .cmp-carousel.cmp-hero-carousel .carousel > * {
  float: none;
}
html.no-js .cmp-carousel.cmp-hero-carousel .carousel .cmp-carousel__slide {
  opacity: 1;
  position: relative;
  text-align: center;
  height: auto;
  display: block;
}
@media screen and (min-width: 1px) {
  .cmp-carousel.cmp-hero-carousel .carousel .cmp-carousel__slide {
    display: block;
  }
}
@media screen and (min-width: 1px) and (max-width: 1279px) {
  html.no-js
    .cmp-carousel.cmp-hero-carousel
    .carousel
    .cmp-carousel__slide:first-child {
    display: block;
  }
}
@media screen and (min-width: 1px) and (max-width: 1900px) {
  #landrover .cmp-carousel.grey .carousel .cmp-carousel__slide {
    background: #e9ecec;
  }
  #landrover .cmp-carousel.dark .carousel .cmp-carousel__slide {
    background: #4a4f54;
    color: #fff;
  }
  #landrover
    .cmp-carousel.dark
    .carousel
    .cmp-carousel__slide
    .cmp-hero
    .primaryLinkWithStyle {
    background-color: #fff;
    color: #0c121c;
  }
  #landrover
    .cmp-carousel.dark
    .carousel
    .cmp-carousel__slide
    .cmp-hero
    .primaryLinkWithStyle:hover {
    background-color: #0c121c;
    color: #fff;
  }
  #landrover
    .cmp-carousel.dark
    .carousel
    .cmp-carousel__slide
    .secondaryLinkWithStyle {
    color: #aeb0b2;
  }
  #landrover
    .cmp-carousel.dark
    .carousel
    .cmp-carousel__slide
    .secondaryLinkWithStyle:hover {
    color: #e4e8e8;
  }
}
@media screen and (min-width: 1px) {
  /* .cmp-hero-carousel .cmp-carousel__controls .Pagination__pip:after {
    box-shadow: none;
    border: 2px solid #000;
  }
  .cmp-hero-carousel .cmp-carousel__controls .Pagination__pip:focus {
    outline: 0;
    box-shadow: none;
  } */
}
.cmp-hero .primaryLinkWithStyle {
  margin-top: 0;
}
.cmp-hero {
  width: 100%;
}
.cmp-genericItem__element-poster {
  overflow: hidden;
}
.cmp-hero .headerClass {
  min-height: auto;
  float: left;
  margin-right: 40px;
}
.cmp-hero .pricing {
  text-align: left;
  float: left;
}
.cmp-hero .logo {
  margin-right: 20px;
  float: left;
  width: 50px;
}
.cmp-hero .pricing p {
  font-size: 11px;
}
.cmp-hero .pricing p:not(:first-child) {
  margin-top: 5px;
}
.cmp-hero .pricing p strong {
  font-size: 28px;
}
.cmp-hero .contentClass {
  margin-right: 40px;
}
.cmp-hero .linkContainer,
.cmp-hero .secondaryLinkContainer {
  float: left;
}
.cmp-hero .heroFooterSection {
  padding-top: 15px;
  border-top: 1px solid #4a4f544d;
}
.cmp-hero-carousel .emissionDetails {
  width: 100%;
  text-align: left;
  margin-bottom: 8px;
}
.cmp-hero .caveat p {
  width: 100%;
  text-align: left;
  margin-bottom: 8px;
}
.cmp-hero-carousel .emissionDetails p,
label {
  display: inline;
  font-size: 10px;
}
.cmp-hero .shelfComponent {
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 30px;
  padding-top: 16px;
  min-height: auto;
}
.cmp-hero-carousel .cmp-carousel__controls {
  position: absolute;
}
.cmp-hero .headerClass h2 {
  margin-bottom: 14px;
}
.headerCopy {
  text-align: left;
}
@media screen and (max-width: 767px) {
  .cmp-hero .linkContainer{
    display: flex;
    flex-direction: column;
  }
  .cmp-hero .secondaryLinkContainer{
    text-align: left;
  }

  .cmp-hero{
    margin-bottom: 30px;
  }
  .cmp-hero .caveat{
    padding-left: 25px;
    padding-right: 25px;
  }
  .cmp-hero .heroFooterSection{
    padding-top: 0px;
  }
  .cmp-hero .pricing{
    margin-top: 15px;
  }
  .cmp-carousel.cmp-hero-carousel {
    margin-top: 30px;
    margin-left: 0;
    margin-right: 0;
  }
  .cmp-hero .cmp-genericItem__element-poster {
    width: 100%;
  }
  .cmp-carousel.cmp-hero-carousel .carousel .cmp-genericItem__element-poster {
    position: relative;
    padding-bottom:36.6%
  }
  .cmp-hero .shelfComponent {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 16px;
    padding-bottom: 0;
    margin-bottom: 0px;
    min-width: 40%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
  }
  .cmp-hero .headerClass {
    float: left;
    margin-bottom: 0;
    width: 100%;
  }
  .cmp-hero .headerClass h2 {
    margin-top: 0;
    margin-bottom: 14px;
    display: block;
  }
  .cmp-hero .heroFooterSection {
    display: flex;
    flex-direction: column-reverse;
    border: none;
    padding-top: 0px;
  }
  .cmp-hero .headerClass {
    display: flex;
    flex-direction: column;
  }
  .cmp-hero .logo {
    margin-bottom: 8px;
  }
  .cmp-hero .contentClass {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 0;
    border: none;
  }
  .cmp-hero-carousel .emissionDe {
    display: flex;
    flex-direction: column;
  }
  .linkContainer {
    margin-top: 24px;
  }
  .cmp-hero-carousel .emissionDetails {
    display: flex;
    flex-direction: column;
    margin-top: 0px;
  }
  .cmp-carousel.cmp-hero-carousel {
    margin-bottom: 0;
  }
  .cmp-hero .heroFooterSection {
    padding-left: 25px;
  }
  .cmp-hero-carousel .emissionDe:not(:first-child) {
    padding-top: 13px;
  }
  .cmp-hero-carousel .cmp-carousel__controls {
    justify-content: left;
    padding-left: 25px;
  }
  #landrover .cmp-hero .secondaryLinkWithStyle {
    margin-top: 0;
    margin-bottom: 0px;
  }
  #landrover .cmp-hero .primaryLinkWithStyle {
    margin-top: 0;
    margin-bottom: 0px;
  }
  .cmp-hero .linkContainer .primaryLinkContainer:nth-child(2), .cmp-hero .linkContainer .secondaryLinkContainer:nth-child(2){
    margin-top: 24px;
  }
}
.cmp-hero-carousel .cmp-carousel__slider {
  height: 100% !important;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .emissionDe {
    display: flex;
    flex-direction: column;
  }
  .cmp-hero-carousel .emissionDe:not(:first-child) {
    padding-top: 13px;
  }
  .cmp-hero-carousel .emissionDetails {
    display: flex;
    flex-direction: column;
  }
  .cmp-hero-carousel .emissionDetails label:not(:first-child) {
    padding-top: 13px;
  }
  .cmp-hero-carousel .emissionDetails {
    padding-left: 28px;
    border-left: 1px solid #4a4f544d;
  }
  .slateblue .cmp-hero-carousel .emissionDetails {
    padding-left: 28px;
    border-left: 1px solid  #FFFFFF;
  }
  .copyDiv {
    display: flex;
    flex-direction: row;
  }
  .cmp-hero .heroFooterSection {
    border-top: none;
    padding-top: 0;
    margin-top: 32px;
    width: 39%;
  }
  .cmp-hero .contentClass {
    border: none;
    padding-left: 0;
    display: flex;
    flex-direction: column;
  }
  .cmp-carousel.cmp-hero-carousel {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }
  .cmp-hero .cmp-genericItem__element-poster {
    width: 100%;
  }
  .cmp-carousel.cmp-hero-carousel .carousel .cmp-genericItem__element-poster {
    position: relative;
  }
  .cmp-hero .shelfComponent {
    padding-left: 30px;
    padding-right: 25px;
    padding-top: 24px;
    min-width: 30%;
    max-width: 60.1%;
  }
  .cmp-hero .headerClass {
    float: left;
    margin-bottom: 0;
    width: 100%;
  }
  .cmp-hero .headerClass h2 {
    margin-top: 0;
    margin-bottom: 12px;
    display: block;
  }
  #landrover .secondaryLinkWithStyle {
    margin-top: 0;
    margin-bottom: 24px;
  }
  .cmp-hero .primaryLinkWithStyle {
    margin-top: 0;
    margin-bottom: 24px;
  }
  .cmp-hero .logo {
    margin-bottom: 8px;
  }
  .cmp-hero .pricing {
    padding-top: 16px;
    display: flex;
    flex-direction: column;
  }
  .linkContainer {
    display: flex;
    flex-direction: column;
    padding-top: 24px;
  }
  .cmp-hero .primaryLinkWithStyle,
  .secondaryLinkWithStyle {
    float: left;
  }
}
@media screen and (min-width: 1280px){
  .cmp-carousel.cmp-hero-carousel .carousel .cmp-genericItem__element-poster {
    position: relative;
  }
  .cmp-hero-carousel .cmp-carousel__controls {
    position: absolute;
    margin-left: 30px;
    width: fit-content;
    top: 25%;
  }
  .cmp-hero-carousel .emissionDetails {
    display: flex;
    flex-direction: row;
  }
  .cmp-hero-carousel .emissionDe p {
    padding-right: 33px;
  }
  .cmp-hero-carousel .emissionDe label p {
    padding-right: 0;
  }
  .cmp-hero-carousel .cmp-carousel__next,
  .cmp-hero-carousel .cmp-carousel__previous {
    top: 200px !important;
  }
  .cmp-hero-carousel .cmp-carousel__next {
    right: 20px;
  }
  .cmp-hero-carousel .cmp-carousel__previous {
    left: 20px;
  }
  .cmp-hero-carousel .linkContainer {
    padding-top: 0;
  }
  .cmp-hero .linkContainer div:nth-of-type(1){
		margin-top: 4px;
	}
	.cmp-hero .linkContainer div:nth-of-type(2) {
		margin-top: 24px;
	}
  .cmp-hero-carousel .primaryLinkContainer {
    /* margin-bottom: 24px; */
    height: 45px;
  }
  .cmp-hero-carousel .secondaryLinkContainer {
    text-align: left;
  }
  .cmp-hero-carousel
    .primaryLinkContainer
    + .secondaryLinkContainer
    .secondaryLinkWithStyle {
    margin-top: 0;
  }
  .cmp-hero .pricing {
    min-width: 150px;
    margin-right: 22px;
    padding-right: 28px;
  }
}
.cmp-hero-carousel .headingWrapper {
  font-weight: 400;
}

@media screen and (min-width: 1280px) {
  .cmp-hero .linkContainer{
    display: flex;
    flex-direction: column;
  }
  .cmp-hero .secondaryLinkWithStyle{
    margin-top: 0px;
  } 
  .cmp-hero .shelfComponent .headerClass{
    display: flex;
    flex-direction: row;
    width: 50%;
    margin-right: 0px;
  }
  .cmp-hero .shelfComponent .contentClass{
    margin-left: auto;
    margin-right: 0px;
  }
 .cmp-hero .shelfComponent .priceAndCta{
    border-left: 1px solid #4a4f544d;
      padding-left: 40px;
  }
  .slateblue .cmp-hero .shelfComponent .priceAndCta{
    border-left: 1px solid #FFFFFF;
  }
  .cmp-hero .shelfComponent{
      display: flex;
      flex-direction: row;
      min-width: 100%;
      padding-right: 120px;
  }
  .cmp-hero .logo {
    margin-right: 20px;
    float: left;
    width: 50px;
    font-size: 50px;
    height: 50px;
}
.cmp-hero .contentClass{
  padding-top: 0px;
  margin-top: 10px;
}
.cmp-hero .linkContainer{
  padding-top: 4px;
}
.cmp-carousel.cmp-hero-carousel {
  margin-bottom: 16px;
}
}
.grey .cmp-hero-carousel [class^="icon-"]:before, .grey [class*="logo icon-"]:before,
.light .cmp-hero-carousel [class^="icon-"]:before, .light [class*="logo icon-"]:before,
.white .cmp-hero-carousel [class^="icon-"]:before, .white [class*="logo icon-"]:before{
  color: black;
  font-size: 50px;
  margin-left: 0px;
}
.slateblue .cmp-hero-carousel [class^="icon-"]:before, .white [class*="logo icon-"]:before{
  color: white;
  font-size: 50px;
  margin-left: 0px;
}
@media screen and (min-width: 768px) and (max-width: 1279px){
  .cmp-hero .headerClass{
    display: flex;
    flex-direction: column;
    margin-right: 0px;
  }
  .cmp-hero .shelfComponent{
      display: flex;
      flex-direction: column;
      padding-bottom: 0px;
      width: 59.8%;
  }
  .cmp-hero{
    margin-bottom: 16px;
  }
  .cmp-hero .caveat{
    width: 404px;
    padding-top: 0px;
    margin-left: 30px;
  }
  .cmp-hero .caveat p {
    margin-bottom: 0px;
  }
  .cmp-hero .copyDiv{
    flex-wrap: wrap;
  }
  .cmp-carousel .carousel .cmp-hero .cmp-genericItem__element-poster {
    position: relative;
    padding-bottom: 40.7%;
}
}
/* WIDESCREEN */
@media screen and (min-width: 1920px){
  .cmp-carousel.cmp-hero-carousel{
    margin-left: 130px;
    margin-right: 130px;
  }
 .cmp-carousel.cmp-hero-carousel .heroFooterSection,
  .cmp-carousel.cmp-hero-carousel .caveat{
    margin-left: 160px;
    margin-right: 160px;
  }
  .cmp-carousel.cmp-hero-carousel .carousel .cmp-genericItem__element-poster {
    position: relative;
    min-width: auto;
    max-width: auto;
    height: auto;
}
.cmp-hero .shelfComponent{
  margin-left: 160px;
  padding-right: 341px;
}
.cmp-hero-carousel .cmp-carousel__next,
.cmp-hero-carousel .cmp-carousel__previous {
  top: 300px !important;
}
}
.cmp-hero .logo.None{
  width: auto;
  height: auto;
  margin: 0px;
  padding: 0px;
}


/* FONT DEF */
/* Common color */
.grey .cmp-hero .headerCopy p,
.light .cmp-hero .headerCopy p,
.white .cmp-hero .headerCopy p,
.grey .cmp-hero .contentClass .pricing p
.light .cmp-hero .contentClass .pricing p
.white .cmp-hero .contentClass .pricing p{
      color: #4A4F54;
}
.grey .cmp-hero .contentClass .pricing p strong,
.light .cmp-hero .contentClass .pricing p strong,
.white .cmp-hero .contentClass .pricing p strong{
  color: #0C121C;
}
.grey .cmp-hero .emissionDe label p,
.light .cmp-hero .emissionDe label p,
.white .cmp-hero .emissionDe label p{
  color: #4A4F54;
}
.grey .cmp-hero .emissionDe p,
.light .cmp-hero .emissionDe p,
.white .cmp-hero .emissionDe p{
  color: #6C6C6C;
}
.grey .cmp-hero .caveat p,
.light .cmp-hero .caveat p,
.white .cmp-hero .caveat p{
  color: #0C121C99;
}
.cmp-hero .cmp-genericItem__element-poster .videoCustom,.cmp-hero .cmp-genericItem__element-poster .videoCustom img {
  object-fit: cover;
}
.cmp-hero .cmp-genericItem__element-poster .videoCustom{
position:unset;
padding-bottom: 0%;
}
.cmp-hero .heading .headingWrapper p{
  font-family: 'LandRoverWeb-Bold';
}
@media screen and (min-width: 1280px){
  .cmp-hero-carousel .Pagination__play-control-icon, .cmp-hero-carousel  .Pagination__pause-control-icon {
    fill:white;
}
  .cmp-hero .priceAndCta{
    display: flex;
    flex-direction: row;
  }
  .priceRight .cmp-hero .priceAndCta{
    display: flex;
    flex-direction: column;
  }
  /* MAIN HEADING */
  .cmp-hero .heading .headingWrapper p{
    text-align: left;
    letter-spacing: 1.9px;
    text-transform: uppercase;
    font-size: 38px;
    line-height: 38px;
  }
  /* heading copy */
  .cmp-hero .headerCopy p{
    text-align: left;
    letter-spacing: 0.2px;
    font-size: 14px;
    line-height: 19px;
    text-transform: capitalize;
  }
  /* price heading */
  .cmp-hero .contentClass .pricing p{
    text-align: left;
    letter-spacing: 0.2px;
    line-height: 11px;
    font-size: 11px;
    margin-bottom: 11px;
  }
  /* actual price */
  .cmp-hero .contentClass .pricing p strong{
    text-align: left;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    font-family: 'LandRoverWeb-Bold';
    line-height: 24px;
    font-size: 28px;

  }
  /* emission label */
  .cmp-hero .emissionDe label p{
    text-align: left;
    letter-spacing: 0.5px;
    line-height: 12px;
    font-size: 10px;
  }
  /* emission value */
  .cmp-hero .emissionDe p{
    text-align: left;
    letter-spacing: 0.5px;
    line-height: 14px;
    font-size: 10px;
    opacity: 1;
  }
  /* caveat */
  .cmp-hero .caveat p{
    text-align: left;
    letter-spacing: 0.5px;
    line-height: 14px;
    font-size: 10px;
  }
  .cmp-hero .heroFooterSection:not(.emissionDetails){
    padding-top: 17px;
    padding-bottom: 0px;
  }
  .cmp-hero .logo{
    margin-top: 12px;
  }
}

/* TABLET */
@media screen and (max-width: 1279px){
  .cmp-hero .priceAndCta{
    display: flex;
    flex-direction: column;
  }
  .cmp-hero-carousel .cmp-carousel__next,
  .cmp-hero-carousel .cmp-carousel__previous {
    display: none;
  }
  /* MAIN HEADING */
  .cmp-hero .heading .headingWrapper p{
    text-align: left;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 30px;
    line-height: 30px;
  }
  /* heading copy  can be common*/ 
  .cmp-hero .headerCopy p{
    text-align: left;
    letter-spacing: 0.2px;
    font-size: 14px;
    line-height: 19px;
    text-transform: capitalize;
  }
  /* price heading */
  .cmp-hero .contentClass .pricing p{
    text-align: left;
    letter-spacing: 0.18px;
    line-height: 10px;
    font-size: 10px;
  }
  /* actual price */
  .cmp-hero .contentClass .pricing p strong{
    text-align: left;
    letter-spacing: 1.1px;
    text-transform: uppercase;
    font-family: 'LandRoverWeb-Bold';
    line-height: 24px;
    font-size: 22px;

  }
  /* emission label */
  .cmp-hero .emissionDe label p{
    text-align: left;
    letter-spacing: 0.14px;
    line-height: 14px;
    font-size: 10px;
  }
  /* emission value */
  .cmp-hero .emissionDe p{
    text-align: left;
    letter-spacing: 0.14px;
    line-height: 14px;
    font-size: 10px;
    opacity: 1;
  }
  /* caveat */
  .cmp-hero .caveat p{
    text-align: left;
    letter-spacing: 0.14px;
    line-height: 14px;
    font-size: 10px;
  }
}
@media screen and (max-width: 767px){

  /* MAIN HEADING */
  .cmp-hero .heading .headingWrapper p{
    text-align: left;
    letter-spacing: 1.3px;
    text-transform: uppercase;
    font-size: 26px;
    line-height: 26px;
  }
  /* heading copy  can be common*/ 
  .cmp-hero .headerCopy p{
    text-align: left;
    letter-spacing: 0.2px;
    font-size: 14px;
    line-height: 19px;
    text-transform: capitalize;
  }
  /* price heading */
  .cmp-hero .contentClass .pricing p{
    text-align: left;
    letter-spacing: 0.18px;
    line-height: 10px;
    font-size: 10px;
  }
  /* actual price */
  .cmp-hero .contentClass .pricing p strong{
    text-align: left;
    letter-spacing: 1.76px;
    text-transform: uppercase;
    font-family: 'LandRoverWeb-Bold';
    line-height: 24px;
    font-size: 22px;

  }
  /* emission label */
  .cmp-hero .emissionDe label p{
    text-align: left;
    letter-spacing: 0.14px;
    line-height: 14px;
    font-size: 10px;
  }
  /* emission value */
  .cmp-hero .emissionDe p{
    text-align: left;
    letter-spacing: 0.14px;
    line-height: 14px;
    font-size: 10px;
    opacity: 1;
  }
  /* caveat */
  .cmp-hero .caveat p{
    text-align: left;
    letter-spacing: 0.14px;
    line-height: 14px;
    font-size: 10px;
  }
}
@media screen and (min-width: 1920px){
  .cmp-hero-carousel .cmp-carousel__controls {
    margin-left: 150px;  
  }
}
.grey .cmp-hero-carousel .Pagination__pause-timer-icon-countdown,
.white .cmp-hero-carousel .Pagination__pause-timer-icon-countdown,
.light .cmp-hero-carousel .Pagination__pause-timer-icon-countdown {
  stroke: white;
}
.grey .cmp-hero-carousel .st0--swiper-pagination,
.white  .cmp-hero-carousel .st0--swiper-pagination,
.light .cmp-hero-carousel .st0--swiper-pagination
{
  fill: white;
}
@media screen and (max-width: 1279px){
  .grey .cmp-hero-carousel .Pagination__pause-timer-icon-countdown,
.white .cmp-hero-carousel .Pagination__pause-timer-icon-countdown,
.light .cmp-hero-carousel .Pagination__pause-timer-icon-countdown {
  stroke: lightgray;
}
  .grey .cmp-hero-carousel .Pagination__play-control-icon, 
  .grey .cmp-hero-carousel .Pagination__pause-control-icon.Pagination__pause-control-icon,
  .light .cmp-hero-carousel .Pagination__play-control-icon, 
  .light .cmp-hero-carousel .Pagination__pause-control-icon.Pagination__pause-control-icon,
  .white .cmp-hero-carousel .Pagination__play-control-icon,
  .white .cmp-hero-carousel .Pagination__pause-control-icon.Pagination__pause-control-icon
  {
    fill: black;
  }
  .white .cmp-hero-carousel .Pagination .Pagination__pip:after,
  .light .cmp-hero-carousel .Pagination .Pagination__pip:after,
  .grey .cmp-hero-carousel .Pagination .Pagination__pip:after
   {
    border: 2px solid #000;
  }
  .grey .cmp-hero-carousel .Pagination__pip--active:after, .grey .cmp-hero-carousel .Pagination__pip--active:hover:after,
  .light .cmp-hero-carousel .Pagination__pip--active:after, .light .cmp-hero-carousel .Pagination__pip--active:hover:after,
  .white .cmp-hero-carousel .Pagination__pip--active:after, .white .cmp-hero-carousel .Pagination__pip--active:hover:after
  {
    background:black;
  }
  .grey .cmp-hero-carousel .Pagination .Pagination__play:before,
  .grey .cmp-hero-carousel .Pagination .Pagination__pause:before,
  .light .cmp-hero-carousel .Pagination .Pagination__play:before,
  .light .cmp-hero-carousel .Pagination .Pagination__pause:before ,
  .white .cmp-hero-carousel .Pagination .Pagination__play:before,
  .white .cmp-hero-carousel .Pagination .Pagination__pause:before  
  {
    border: 2px solid #000;
    background-color: transparent;
}
}
@media screen and (max-width: 767px){
  .cmp-hero .videoCustom:after{
    top: 35%;
    left: 43%;
  }
  .cmp-hero:not(.caveat){
    margin-bottom: 32px;
  }
  .cmp-hero .heroFooterSection+.caveat{
    margin-top: 24px;
  }
}
@media screen and (max-width: 600px){
  .cmp-hero .videoCustom:after{
    top: 20%;
    left: 40%;
  }
}
@media screen and (max-width: 450px){
  .cmp-hero .videoCustom:after{
    top: 17%;
    left: 35%;
  }
}
.cmp-hero .video.customControl{
	position: absolute;
	left: 0;
}
.cmp-hero .videoCustom{
  position: unset;
  padding-bottom: 0%;
}
.cmp-hero .videoCustom::after{
  content: "";
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  color: #fff;
  background: unset;
  background-color: #0c121c;
  font-size: 68px;
  line-height: 98px;
  position: absolute;
  width: 100px;
  height: 100px;
  z-index: 30;
  cursor: pointer;
  opacity: 80%;
}
.videoCustom:after,.cmp-hero .videoCustom:after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
#landrover .cmp-hero .primaryLinkWithStyle {
  font-family: AvenirNext-DemiBold, arial, helvetica, sans-serif;
}