.gallerycategories .Fullscreen__information-heading {
    text-transform: uppercase;
}

.gallerycategories .Fullscreen__information-text p:first-child::first-letter {
    text-transform: capitalize;
}

.gallerycategories .GalleryCategories__category-title-inner {
    text-transform: uppercase;
}