.cmp-carousel {
  overflow: hidden;
  position: relative;
}
.cmp-carousel__bgImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  background-color: #141414;
}
.cmp-carousel__controls {
  display: flex;
  justify-content: center;
  position: absolute;
  padding-bottom: 30px;
  bottom: 0;
  left: 0%;
  width: 100%;
  z-index: 1;
}

.cmp-carousel[data-total="1"].cmp-carousel , .cmp-carousel[data-total="1"].cmp-carousel .cmp-carousel__slider{
  cursor: default !important;
}
.cmp-carousel[data-total="1"].cmp-carousel .swiper-wrapper{
  transform: none !important;
}
.cmp-carousel[data-total="1"] .cmp-carousel__controls {
  display: none;
}
.cmp-carousel[data-total="1"] .Pagination__button-wrapper--pip{
  display: none;
}
.cmp-carousel[data-total="1"] .Pagination__pause:before, .cmp-carousel[data-total="1"] .cmp-herotitle-carousel .Pagination__play:before {
  border: 2px solid white;
}
.cmp-carousel .TargetLinks {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  letter-spacing: 0.25rem;
}
