.cmp-snippet {
	text-align: left;
	margin-top: 60px;
	margin-left: 290px;
}

.cmp-snippet .headingWrapper p {
	line-height: 38px;
	text-transform: uppercase;
	font-family: 'lr_ot4';
	letter-spacing: 1.9px;
	color: #0C121C;
	opacity: 1;
	font-style: normal;
	font-weight: bold;
}

.cmp-snippet .copy {
	font-family: AvenirNext;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	letter-spacing: 0.2px;
	color: #4A4F54;
	opacity: 1;
	line-height: 24px;
	margin-top: 23px;
	margin-bottom: 12px;
	margin-right:750px;

}

.cmp-snippet .copy p:first-letter {
	text-transform: capitalize;
}



.cmp-snippet .linkContainer .primaryLinkContainer,
.cmp-snippet .linkContainer .secondaryLinkContainer {
	margin-top: 12px;
	margin-right: 20px;
	display: inline-block;
	vertical-align: middle;
	text-transform: uppercase;
}

@media screen and (min-width: 1280px) and (max-width: 1920px) {
	.cmp-snippet .headingWrapper p {
		max-width: 765px;
	}

	.cmp-snippet {
		margin-right: 750px;
		margin-left: 260px;
		margin-top: 60px;
	}

	.cmp-snippet .copy {
		line-height: 24px;
		max-width: 760px;
		margin-top: 23px;
	}
}

@media screen and (min-width: 769px) and (max-width: 1280px) {
	.cmp-snippet .headingWrapper p {
		max-width: 760px;
	}

	.cmp-snippet {
		margin-right: 214px;
		margin-left: 30px;
		margin-top: 40px;
	}

	.cmp-snippet .copy {
		line-height: 24px;
		max-width: 880px;
		margin-top: 23px;
		margin-right:460px;
	}

	.cmp-snippet .linkContainer .primaryLinkContainer,
	.cmp-snippet .linkContainer .secondaryLinkContainer {
		margin-top: 12px;
		margin-right: 26px;
	}
}

@media screen and (min-width: 376px) and (max-width: 768px) {
	.cmp-snippet .headingWrapper p {
		letter-spacing: 1.5px;
		line-height: 30px;
		font-size: 30px;
		max-width: 524px;

	}

	.cmp-snippet {
		margin-right: 61px;
		margin-left: 25px;
		margin-top: 25px;
	}

	.cmp-snippet .copy {
		line-height: 19px;
		max-width: 519px;
		margin-top: 17px;
		font-size: 14px;
		letter-spacing: 0.2px;
		margin-bottom: 11px;
		margin-right:219px;
	}

	.cmp-snippet .linkContainer .primaryLinkContainer,
	.cmp-snippet .linkContainer .secondaryLinkContainer {
		margin-top: 13px;
		margin-right: 20px;
	}
}

@media screen and (max-width: 375px) {
	.cmp-snippet .headingWrapper p {
		letter-spacing: 1.3px;
		line-height: 36px;
		font-size: 26px;
	}

	.cmp-snippet {
		margin-right: 61px;
		margin-left: 25px;
		margin-top: 25px;
	}

	.cmp-snippet .copy {
		line-height: 14px;
		margin-top: 16px;
		font-size: 14px;
		letter-spacing: 0.2px;
		margin-bottom: 11px;
		margin-right:25px;
	}

	.cmp-snippet .linkContainer .primaryLinkContainer,
	.cmp-snippet .linkContainer .secondaryLinkContainer {
		margin-top: 13px;
		margin-right: 26px;
	}

}